{% extends "template.html" %}
{% load static %}

{% block js %}
<script src="{% static 'js/logged_out.js' %}"></script>
{% endblock js %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock css %}

{% block content %}
  <div id="image"></div>
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
  <div id="login">
    <span>Managing your time.<br><br>Made easy.</span>
    <span id="first-smallvw">Managing your time.</span>
    <div id="form-wrapper">
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.username }}
        <br>
        {{ form.password }}
        <br>
        <input type="submit" value="Log in" id="submit-button"/>
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
      <div id="beta-message">Interested in beta testing? <a href="/contact">Contact me</a></div>
    </div>
    <span id="second-smallvw">Made easy.</span>
  </div>
  {% comment %} <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
  <p><a target="_blank" href="mailto:arhan.ch@gmail.com?subject=Requesting%20Beta%20Access%20to%20TimeWeb&body=Please%20create%20my%20account%20for%20beta%20access">Need access? I'm interested in beta-testing this website!</a></p> {% endcomment %}
{% endblock content %}