{% extends "template.html" %}
{% load static %}

{% block js %}
<script src="{% static 'js/login.js' %}"></script>
{% endblock js %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="stylesheet" href="{% static 'css/logged_out.css' %}">
{% endblock css %}

{% block content %}
  <div id="image"></div>
  <div id="login">
    <span>Managing your time.<br><br>Made easy.</span>
    <span id="first-smallvw">Managing your time.</span>
    <div id="form-wrapper">
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.username }}
        <br>
        {{ form.password }}
        {% if form.errors %}
          <p id="error-message">Your username or password didn't match. Please try again</p>
        {% endif %}
        <br>
        <input type="submit" value="Log in" id="submit-button"/>
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
      <p id="beta-message">Interested in beta testing? <a href="/contact">Contact me</a></p>
    </div>
    <span id="second-smallvw">Made easy.</span>
  </div>
{% endblock content %}