{% extends "template.html" %}
{% load static %}

{% block js %}
<script src="{% static 'js/login.js' %}"></script>
{% endblock js %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="stylesheet" href="{% static 'css/logged_out.css' %}">
{% endblock css %}

{% block content %}
  <div id="image"></div>
  <div id="login">
    <span>Managing your time.<br><br>Made easy.</span>
    <span id="first-smallvw">Managing your time.</span>
    <div id="form-wrapper">
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.username }}
        <br>
        {{ form.password }}
        {% if form.errors %}
          <p id="error-message">Your username or password is incorrect</p>
        {% endif %}
        <br>
        <input type="submit" value="Log in" id="submit-button"/>
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
      <p id="example-message">See what this does on an example account</p>
      <p id="beta-message">Interested in beta testing? <a target='_blank' href='mailto:arhan.ch@gmail.com'>Contact me</a></p>
    </div>
    <span id="second-smallvw">Made easy.</span>
    <a id="discord-promo" target="_blank" href="https://discord.gg/fQgPXX5qpD">
      Join TimeWeb's Community!
      <img id="discord-image" height="33.8" width="30" src="{% static 'images/discord.png' %}" alt=" Click Here!">
    </div>
  </div>
{% endblock content %}