{% extends "doc-template.html" %}

{% load static %}

{% block doc_css %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock doc_css %}

{% block doc_content %}
<span>
    <div class="major-category" id="Introduction">Introduction</div>
    Hey there! My name is Arhan Chaudhary, a junior at Mission San Jose High School at the time of writing, and I am the sole creator of TimeWeb! Before I start, I'd like to personally thank some of my close friends for providing genuine emotional support:
    {% spaceless %}
    <ul>
        <li>Siddhant Kuwar</li>
        <li>Ryan Guan</li>
        <li>Krutang Thaker</li>
        <li>Yash Killem</li>
        <li>Rohan Bhagat</li>
        <li>Vikram Srinivasan</li>
        <li>Abhik Mullick</li>
        <li>Aakarsh Jain</li>
    </ul>
    {% endspaceless %}
    In this blog, I'll share some insight into my journey creating TimeWeb and everything I've experienced along the way.
</span>
<span>
    <div class="major-category" id="ideation">Ideation</div>
    TimeWeb's origin d
    October 1, 2019, my 8th grade science teacher 
</span>
<span>
    <div class="major-category" id="humble-beginnings">Humble beginnings</div>
    python
    no friends to help
    fruitfulagilecharmap
    bad code
    summer break slumber
</span>
<span>
    <div class="major-category" id="web-development">Web development</div>
    rec django
    throw out proportion of code
    no idea what to do
    learn js, css, django, html at once
    JQuery mistake
</span>
<span>
    <div class="major-category" id="getting-the-hang-of-it">Getting the hang of it</div>
    git
    gcp
    google classroom integration
    pwa
</span>
<span>
    <div class="major-category" id="beta-launch">Beta launch</div>
    success mostly
    told to stop
    discord server, suggestions
    feedback form
</span>
<span>
    <div class="major-category" id="facing-reality">Facing reality</div>
    delays
    many rewrites, perfrectionism
    school
    real criticisms
    might not be a good idea
    burnout
    mental health
</span>
<span>
    <div class="major-category" id="soft-launch">Soft launch</div>
    hundreds of bugs
    updating this as I go on
</span>
<span>
    <div class="major-category" id="looking-back">Looking back</div>
    friends
    contributors, break out of social shell
    hated development, but was good in the end, whether or not this will succeed
</span>
{% endblock doc_content %}