{% extends "doc-template.html" %}

{% load static %}

{% block doc_css %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock doc_css %}

{% block doc_content %}
<span>
    <div class="major-category">Introduction</div>
    Hey there! My name is Arhan Chaudhary, a junior at Mission San Jose High School at the time of writing, and I am the sole creator of TimeWeb! Before I start, I'd like to personally thank some of my close friends for providing genuine emotional support:
    {% spaceless %}
    <ul>
        <li>Siddhant Kuwar</li>
        <li>Ryan Guan</li>
        <li>Krutang Thaker</li>
        <li>Samir Kurudi</li>
        <li>Rohan Bhagat</li>
        <li>Ansh Bhatagnar</li>
        <li>Vikram Srinivasan</li>
    </ul>
    {% endspaceless %}
</span>
{% endblock doc_content %}