{% extends "doc-template.html" %}
{% load static %}

{% block head_title %}Blog{% endblock %}

{% block doc_css %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock doc_css %}

{% block doc_content %}
<span>
    <div class="major-category">TimeWeb's story</div><div class="written-on">January 17, 2022</div>
    <details open>
        <summary class="minor-category" id="introduction">Introduction</summary>
        Hey there! My name is Arhan Chaudhary, a junior at Mission San Jose High School at the time of writing, and I am the sole creator of TimeWeb! Before I start, I'd like to personally thank some of my close friends for providing genuine emotional support:

        {% spaceless %}
        <ul>
            <li>Siddhant Kuwar</li>
            <li>Ryan Guan</li>
            <li>Krutang Thaker</li>
            <li>Rohan Bhagat</li>
            <li>Ansh Bhatagnar</li>
            <li>Vikram Srinivasan</li>
            <li>Abhik Mullick</li>
            <li>Adrian Zhang</li>
        </ul>
        And most importantly, my mom and my dad.
        <br>
        {% endspaceless %}
        In this blog, I'll share some insight into my journey creating TimeWeb and everything I've experienced along the way.

    </details>
    <details open>
        <summary class="minor-category" id="ideation">Ideation</summary>
        My journey creating TimeWeb began on October, 2019, when I was an 8th grade student at middle school. In my science class, my teacher played a <a href="https://www.youtube.com/watch?v=arj7oStGLkU">motivational Ted Talk</a> about procrastination. I had seen the video before, in fact. The beginning of the video featured a simple graph of an assignment's work daily work to complete every day until it is due. Though I had found the video entertaining, I didn't think much of it when I first watched it. However, after rewatching the video in class, I had an idea: what if you could code a similar graph system for your own work?

    </details>
    <details open>
        <summary class="minor-category" id="humble-beginnings">Humble beginnings</summary>
        Although I barely knew anything about computers and had a basic prior understanding of programming, I spent a Friday night learning how to use PyGame, a Python-based graphical library, not knowing anything else to use. I managed to finish the <a href="https://replit.com/@arhan6/FruitfulAgileCharmap#main.py">first ever prototype</a> of my command line program. My lack of basic organization practices resulted in code that was unbelievably bad, almost impressively bad. A short snippet of some of my original code to further illustrate what I mean:
        <code>
    else:
        nodis = True
        isfin = "? Whoops! You have not Entered in your Work completed! Enter it in now."
        bli.append([4,todo*ct,ffiles.index(file)])
    li.append(str(file).ljust(len(max(ffiles,key=len))+2)+isfin)
bli = sorted(bli,reverse=True)
for i in bli:
    nffiles.append(ffiles[i[-1]])
    ndat.append(dat[i[-1]])
    dli.append((str(bli.index(i)+1)+")").ljust(len(str(len(ffiles)))+2)+li[i[-1]])
ffiles = nffiles[:]
if dat != ndat:
    dat = ndat[:]
    dump()
if nodis == True:
        </code>
        
        Despite this, I was still determined to finish building a minimum viable product. After taking a hiatus during the summer of 2020, I managed to finish my Python program on the November of that year. My code was still terrible, as evident by the fact that 4,000 lines of code were written on a single file.

    </details>
    <details open>
        <summary class="minor-category" id="web-development">Web development</summary>
        I reached out to a close family friend about my project, and he was genuinely impressed. He recommended me to broaden my vision of my program to the web, specifically with the Django framework. Confident and determined, I went home and searched up how to use Django. It dawned upon me just how little I knew about the web. Some terms I googled include "convert python to javascript" and "upload program to django".
        
        In distress, I asked my dad for help. He sat down to help me set up a basic Django project. His main goal wasn't for me to learn Django, but rather to learn how to learn. We went through Django's documentation and learned the basics of its architecture. By this point, I was referring to my creation as "time management" or "the program"; it was clear I needed an official name. I spent hours brainstorming dozens of possible names, none of which I liked. My dad was the one who finally recommended the name "TimeWeb". One week of mentoring later, I reached a comfortable level of knowledge to begin building a web application.

    </details>
    <details open>
        <summary class="minor-category" id="getting-the-hang-of-it">Getting the hang of it</summary>
        Following my motivational first week of progress, I continued to code and design TimeWeb. For the next few months, I learned a vast number of technologies, some of which include javascript, css, git, google cloud platform, google cloud storages, and google classroom API. As TimeWeb's complexity grew, I began to consider receiving help from other people. I was shy and scared of talking to strangers at the time, so I continued to work alone in my comfort zone. However, because of my limited perspective as the only developer, I struggled to decide how certain user interface features should be implemented.
        
        So, I created a <a href="{% url 'discord' %}" crossorigin="anonymous" rel="noreferrer">discord server</a>, a platform for communities to interact with each other. There, I invited my close friends so we could discuss about TimeWeb and how to improve it. Most importantly, it featured a place where my friends could democratically vote on features. At the time of writing, my discord server now has over 130 members and over 100 user suggestions. It has given me the opportunity to meet incredible people with similar interests and respond to real criticisms if I continued to work alone.

    </details>
    <details open>
        <summary class="minor-category" id="beta-launch">Beta launch</summary>
        May 3, 2021: TimeWeb's beta release was officially launched to my entire school. I was eager and at the same time full of doubt and fear. Over the next week, I received roughly 500 unique page views and was contacted by over 20 potential beta testers, the majority of which only used TimeWeb for a few days. Only a select few decided to commit to using TimeWeb. Despite an underwhelming amount of users, I had definitely received much more attention than expected. I was also able to get more comprehensive feedback now that TimeWeb had real users instead of just myself. Little did I know, my successes would soon be short-lived. TimeWeb's beta launch would mark the peak of my development before a slow, debilitating decline.

    </details>
    <details open>
        <summary class="minor-category" id="facing-reality">Facing reality</summary>
        My high points of happiness and success were followed with shrouded low points of sadness and dejection. After TimeWeb's beta release, my parents' excitement had visibly diminished. Their vision of TimeWeb ended at its beta launch, while I wanted to keep going and release TimeWeb's soft launch. I was pressured and encouraged to move on to something else, leading to frequent arguments between us. Our disagreement on ideas to an increasing tension between my parents and I on the subject of TimeWeb.
        
        Despite my best efforts during the summer of my sophomore year, I was unable to complete TimeWeb, shattering the optimism which had previously been so abundant. My original plan was to launch TimeWeb by the beginning of my junior year so I could focus more on my studies, but TimeWeb wasn't even close to launching by then. A combination of burnout, school, self-doubt, perfectionism, the impostor syndrome, and other more personal struggles led to a unorthodox collapse of my mental health in a period lasting from the end of summer through the beginning of my junior year. It felt like I had hit rock bottom.
        
        As time went on, I slowly began to repair my mental well-being and pull myself out of my depression. I didn't lose hope and continued to fight. I have since recovered from my distressing ordeals and continue to code cheerfully and happily.

    </details>
    <details open>
        <summary class="minor-category" id="looking-back">Looking back</summary>
        Creating TimeWeb has been an extremely enduring yet fun adventure. TimeWeb broke me out of my social shell and introduced me to the amazing community of web developers, giving me the opportunities to form meaningful relationships over mutual interest in passions for coding. Surviving TimeWeb's various mentally taxing trials has transformed me into a more confident, resourceful, and matured person. Although my journey creating TimeWeb has faced periods of difficulty and hatred, I forever remain grateful for every single moment I have been given to work on TimeWeb, whether it be good or even bad.
        
        I am incredibly excited for TimeWeb's soft launch. Whether or not it is objectively successful, to me, TimeWeb as a whole will always be a success story of creativity, learning, and perseverence.

    </details>
</span>
{% endblock doc_content %}