{% extends "template.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/logged_out.css' %}">
{% endblock css %}

{% block content %}
{% comment %} 5/?/2021 (v1.2.5):
<ul>
    <li></li>
    <ul>
        <li>Fixed showing incorrect break days on modify assignment</li>
        <li>Fixed deleting all finished assignments only visually deleting them locally</li>
    </ul>
</ul> {% endcomment %}
5/17/2021 (v1.2.4):
<ul>
    <li>Added example account to login page</li>
    <li>Removed unnecessary graph text</li>
    <li>Completely refactored a lot of code</li>
    <li>Minor bug fixes</li>
    <ul>
        <li>Fixed showing incorrect break days on modify assignment</li>
        <li>Fixed deleting all finished assignments only visually deleting them locally</li>
    </ul>
</ul>
5/13/2021 (v1.2.3):
<ul>
    <li>Selected and licensed images from online to use as status icons</li>
    <li>Repositioned status icons</li>
</ul>
5/13/2021 (v1.2.2):
<ul>
    <li>Changed edit icon</li>
    <li>Changed delete icon</li>
    <li>Changed discord icon</li>
    <li>Added licenses for icons to policies</li>
    <li>Minor bug fix</li>
    <ul>
        <li>Fixed resorting during another resort messing up the swapping algorithm</li>
    </ul>
</ul>
5/12/2021 (v1.2.1):
<ul>
    <li>Enabling round to multiples of 5 minutes automatically changes every assignment appropriately</li>
    <li>Increased sort timeout to avoid assignments resorting too fast</li>
    <li>Automatically create an example assignment in the tutorial</li>
    <li>Minor bug fixes</li>
    <ul>
        <li>Fixed an overflow error for longer due dates</li>
        <li>Fixed the graph disappearing after re-entering the due date</li>
        <li>Fixed work inputs not cutting off from a re-entered due date</li>
    </ul>
</ul>
5/11/2021 (v1.2.0):
<ul>
    <li>Added "Go to Next Day" in advanced</li>
    <li>Added shift + click delete icon keybind to skip the prompt for deleting an assignment</li>
    <li>Minor bug fix</li>
    <ul>
        <li>Fixed assignments assigned after midnight causing unexpected behavior</li>
    </ul>
</ul>
5/11/2021 (v1.1.2):
<ul>
    <li>Made assignments unclickable if an assignment without past work inputs or no working days is present to force users to resolve its issue</li>
    <li>Minor bug fixes</li>
    <ul>
        <li>Fixed advanced options initially being visible</li>
        <li>Fixed account dropdown initially being visible</li>
        <li>Fixed changing the break days for one assignment applying to every assignment</li>
    </ul>
</ul>
5/10/2021 (v1.1.1):
<ul>
    <li>Marked all other assignments as completed when an assignment without past work inputs is present to urge users to enter their progress</li>
    <li>Marked all other assignments as completed when an assignment with no working days is present to urge users to re-enter its break days</li>
    <li>Lowered opacity for assignments marked as completed</li>
    <li>Improved Form UI</li>
    <li>Major bug fixes</li>
    <ul>
        <li>Fixed modify assignment not doing anything</li>
        <li>Fixed internal errors</li>
    </ul>
    <li>Minor bug fixes</li>
    <ul>
        <li>Fixed modify assignment causing form to disappear</li>
        <li>Fixed the displayed date on the graph unexpectedly changing</li>
        <li>Fixed scaling constants not updating on browser resize</li>
    </ul>
</ul>
5/8/2021 (v1.1.0):
<ul>
    <li>Added "mark assignment as completed" button below the graph</li>
    <li>Improved Form UI</li>
    <li>Minor bug fixes</li>
    <ul>
        <li>Fixed issue with assignments being marked as completed at midnight</li>
        <li>Fixed graph not updating after being autofilled from changing the skew ratio</li>
    </ul>
</ul>
5/7/2021 (v1.0.3):
<ul>
    <li>Removed excessive caching</li>
    <li>Minor bug fixes</li>
    <ul>
        <li>Fixed delete work input messing up the new start of the red line</li>
        <li>Fixed priority sometimes being NaN</li>
        <li>Fixed assignments not saving if page is closed too fast</li>
        <li>Fixed incorrect login scroller image positioning on mobile</li>
        <li><a href="https://www.youtube.com/watch?v=oHg5SJYRHA0">Rosho was here</a></li>
    </ul>
</ul>
5/6/2021 (v1.0.2):
<ul>
    <li>Allowed assignments to be open during swaps</li>
    <li>Minor bug fixes</li>
    <ul>
        <li>Fixed dynamic mode sometimes not working</li>
        <li>Decreased swap duration</li>
        <li>Changed expired discord link on login screen</li>
    </ul>
</ul>
5/3/2021 (v1.0.1):
<ul>
    <li>Added scroller image</li>
    <li>Colored assignments without past work inputs white</li>
    <li>Minor bug fixes</li>
    <ul>
        <li>Fixed units to complete at a time not working when unit is minute</li>
        <li>Fixed new assignment animation not working on Firefox</li>
        <li>Fixed new assignments scrolling too far down</li>
        <li>Fixed assignments assigned in the future coloring pink</li>    
    </ul>
</ul>
5/3/2021 (v1.0.0):
<ul>
    <li>First official release! :D</li>
</ul>
{% endblock content %}