{% extends "template.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/logged_out.css' %}">
{% endblock css %}

{% block content %}
Contact me through my <a target="_blank" href="mailto:arhan.ch@gmail.com?subject=Requesting%20beta%20access%20to%20TimeWeb&body=Please%20create%20my%20account%20for%20beta%20access">Gmail</a>, <a href="https://www.facebook.com/profile.php?id=100010619859485">Facebook</a>, or <a href="https://discord.com/users/409423164872065035">Discord</a> 
{% endblock content %}