{% extends "template.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/logged_out.css' %}">
<meta name="robots" content="noindex">
{% endblock css %}

{% block content %}
Contact me through my <a target="_blank" href="mailto:arhan.ch@gmail.com?subject=I%20would%20like%20to%20beta%20test%20TimeWeb%21&body=I%20would%20like%20my%20username%20to%20be%20%5F%5F%5F%5F%5F%20and%20my%20password%20to%20be%20%5F%5F%5F%5F%5F%2E">Gmail</a>, <a target="_blank" href="https://www.facebook.com/profile.php?id=100010619859485">Facebook</a>, or <a target="_blank" href="https://discord.com/users/409423164872065035">Discord</a> 
{% endblock content %}