<html>

    <head>
    </head>

    <body>
        <div>
            <form method="POST"> 
                {% csrf_token %}
                {{ form.as_p }} 
                {{ form.errors }}
                <input type="submit" name="Submitbutton" value="Submit">
                <input type="submit" name="Deletebutton" value="Delete">
                <p>
                    <a href="{% url 'lists' %}">Back to list view</a>
                </p>
            </form>
        </div>
    </body>

</html>