{% extends "template.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="https://unpkg.com/daterangepicker@3.1.0/daterangepicker.css" crossorigin="anonymous"/>
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css %}

{% block js %}
  {{ assignment_models_as_json|json_script:"assignment-models" }}
  {{ settings_model_as_json|json_script:"settings-model" }}
  {{ latest_changelog|json_script:"latest-changelog" }}
  <script src="https://unpkg.com/moment@2.29.1/moment.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/daterangepicker@3.1.0/daterangepicker.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/pluralize@8.0.0/pluralize.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/jquery.easing@1.4.1/jquery.easing.min.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/sortablejs@1.14.0/Sortable.min.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/jquery-sortablejs@1.0.1/jquery-sortable.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/mathjs@10.4.0/lib/browser/math.js" crossorigin="anonymous"></script>
  <script src="{% static 'js/utils.js' %}"></script>
  <script src="{% static 'js/priority.js' %}"></script>
  <script src="{% static 'js/graph.js' %}"></script>
  <script src="{% static 'js/parabola.js' %}"></script>
  <script src="{% static 'js/crud.js' %}"></script>
{% endblock js %}

{% block content %}
  <div id="overlay">
    <div id="form-wrapper">
      <form method="POST" autocomplete="off">
        <img id="cancel-button" width="20" height="20" src="{% static 'images/x.png' %}" alt="cancel" draggable="false" tabindex="0">
        <div id="new-title-line"></div>
        <div id="new-title">{{submit}}</div>
        <div id="fields-wrapper">
          {% csrf_token %}
          {% for field in form.visible_fields %}
            <div class="field-wrapper" id="id-{{ field.name }}-field-wrapper">
              {% if field.name == "break_days" %}
                <label id="break-days-label-title">Work Days</label>
                <div id="break-days-wrapper">
                  {% for value, text in field.field.choices %}
                    <input id="id_break_days_{{ forloop.counter0 }}" name="{{ field.name }}" type="checkbox" value="{{ value }}" {% if value in checked_break_days %}checked="checked"{% endif %}>
                    <label tabindex="0" class="break-days-label" for="id_break_days_{{ forloop.counter0 }}">{{ text }}</label>
                  {% endfor %}
                </div>
              {% else %}
                {{ field.label_tag }}
                {{ field }}
              {% endif %}
              {% for error in field.errors %}
                {% comment %} Only adds form errors to the name field in the example account {% endcomment %}
                {% if user.email != EXAMPLE_ACCOUNT_EMAIL or field.name == "name" %}
                  <div class="error-note" id="error_{{ field.auto_id }}">{{ error|escape }}</div>
                {% endif %}
              {% endfor %}
            </div>
            {% if field.name == "y" %}
              <div id="advanced-inputs" tabindex="0">
                Advanced Inputs
                <svg width="15px" height="10px">
                  <polygon points="10,2.5 0,2.5 5,7.5">
                  </polygon>
                </svg>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <button {% if invalid_form_pk %}value="{{ invalid_form_pk }}"{% endif %}type="submit" name="submit-button" id="submit-assignment-button" class="generic-button" title="(Enter)">{{submit}}</button>
      </form>
    </div>
  </div>
  <div id="assignments-container">
    <script nonce="{{request.csp_nonce}}">
      (function() {
        if ($("main").hasClass("finished-header-transition")) return
        // If the animation has not already been run, add the class "animate" to the elements that will be animated
        // The animation will happen instantly, because the transitions are only applied to :not(.animate)
        // Then, when the window loads, remove ".animate". This will cause the actual transition
        // Note: Using keyframes still required this same process
        $("main, header, #assignments-container").addClass("animate");
        sessionStorage.setItem("animation-ran", true);
        $(window).one('load', function() {
          if (isExampleAccount) setTimeout(utils.ui.exampleAccountAlertTutorial, 1000);
          $("main, header, #assignments-container").removeClass("animate");
          // Run when the header animation completely ends since the header animation takes the longest
          $("header").one("transitionend", function() {
            // Position content such that the scrollbar doesn't clip into the header
            $("main").addClass("finished-header-transition");
          });
        });
      })();
    </script>
    <div id="assignments-header">
      <div id="info"{% if background_image %} class="grey-highlight"{% endif %}>
        <span id="estimated-total-time-label">Estimated completion time:</span><span id="estimated-total-time"></span><span id="current-time"></span><span id="tomorrow-time"></span>
        <div id="hide-button" class="generic-button">Hide</div>
        <div id="icon-label-container">
          <img id="close-assignments"{% if background_image %} class="grey-highlight"{% endif %} tabindex="0" alt="Close all Assignments" height="27" src="{% static 'images/close-all-assignments.png' %}">
          <img id="previous-day"{% if background_image %} class="grey-highlight"{% endif %} tabindex="0" alt="Go to Previous Day" height="21" width="26" src="{% static 'images/next-day.png' %}">
          <img id="next-day"{% if background_image %} class="grey-highlight"{% endif %} tabindex="0" alt="Go to Next Day" height="21" width="26" src="{% static 'images/next-day.png' %}">
          <a href="/settings">
            <img id="settings"{% if background_image %} class="grey-highlight"{% endif %} tabindex="0" alt="Settings" height="27" src="{% static 'images/settings.png' %}">
          </a>
          <div id="settings-icon-label"{% if background_image %} class="grey-highlight"{% endif %}>Settings</div>
          <div id="previous-day-icon-label"><span {% if background_image %} class="grey-highlight"{% endif %}>Go to Previous Day</span></div>
          <div id="next-day-icon-label"><span {% if background_image %} class="grey-highlight"{% endif %}>Go to Next Day</span></div>
          <div id="close-assignments-icon-label"{% if background_image %} class="grey-highlight"{% endif %}>Close all Assignments</div>
        </div>
      </div>
      {% comment %} Put grey highlight on current-date instead of current-date-text to avoid double filtering {% endcomment %}
      <div id="current-date"{% if background_image %} class="grey-highlight"{% endif %}>
        <span id="current-date-text"></span>
      </div>
      <div id="sort-assignments-container">
        <label for="{{ settings_form.assignment_sorting.auto_id }}"{% if background_image %} class="grey-highlight"{% endif %}>
          {{ settings_form.assignment_sorting.label }}
        </label>
        {{ settings_form.assignment_sorting }}
      </div>
    </div>
    <div id="autofill-work-done" class="shortcut">
      <div class="shortcut-line-left{% if background_image %} grey-highlight{% endif %}"></div>
      <span class="shortcut-text{% if background_image %} grey-highlight{% endif %}">
        Autofill
        <select id="autofill-selection">
          <option>No</option>
          <option>All</option>
        </select>
        Work Done
        <div class="generic-button">Go</div>
      </span>
      <div class="shortcut-line-right{% if background_image %} grey-highlight{% endif %}"></div>
    </div>
    <div id="delete-starred-assignments" class="shortcut">
      <div class="shortcut-line-left{% if background_image %} grey-highlight{% endif %}"></div>
      <span class="shortcut-text{% if background_image %} grey-highlight{% endif %}">
        Delete all Starred Assignments
        <div class="generic-button">Go</div>
      </span>
      <div class="shortcut-line-right{% if background_image %} grey-highlight{% endif %}"></div>
    </div>
    {% for assignment in assignment_models %}
      {% comment %} Grey highlight for the ::after and ::before elements {% endcomment %}
      <div class="assignment-container{% if background_image %} grey-highlight{% endif %}"{% if assignment.pk == just_created_assignment_id %} id="animate-in"{% elif assignment.pk == just_updated_assignment_id %} id="animate-color"{% endif %}>
        <div class="assignment tags-{{ horizontal_tag_position|lower }}{% if assignment.needs_more_info %} needs-more-info{% endif %}{% if assignment.mark_as_done %} mark-as-done{% endif %}" data-assignment-id="{{ assignment.pk }}" tabindex="0">
          <div class="assignment-header">
            <div class="relative-positioning-wrapper">
              <span class="title">{{ assignment.name }}</span>
              {% if assignment.description %}
                <div class="description">{{ assignment.description|linebreaks }}</div>
              {% endif %}
            </div>
            <svg width="30px" height="20px" class="arrow-container">
              <polygon points="5,0 5,20 15,10">
                <animate class="rising-arrow-animation" begin="indefinite" fill="freeze" attributeName="points" dur="100ms" to="20,5 0,5 10,15"></animate>
                <animate class="falling-arrow-animation" begin="indefinite" fill="freeze" attributeName="points" dur="100ms" to="5,0 5,20 15,10"></animate>
              </polygon>
            </svg>
            <div class="right-side-of-header">
              <img class="status-image">
              <div class="align-to-status-message-container">
                <div class="tags">
                  {% comment %} Remove whitespace so inline-block doesnt have a gap {% endcomment %}
                  {% spaceless %}
                  <span class="tag-sortable-container" data-assignment-id="{{ assignment.pk }}">
                    {% for tag in assignment.tags %}
                      <div class="tag-wrapper">
                        <div class="tag-name">{{ tag }}</div>
                        <div class="tag-delete" data-tag-deletion-name="{{ tag }}" data-assignment-id="{{ assignment.pk }}">
                          <span class="icon-slash x-icon-first-slash"></span>
                          <span class="icon-slash x-icon-second-slash"></span>
                        </div>
                      </div>
                    {% endfor %}
                  </span>
                  <div class="tag-add" data-assignment-id="{{ assignment.pk }}" tabindex="-1">
                  {% endspaceless %}
                    <span class="icon-slash plus-first-slash"></span>
                    <span class="icon-slash plus-second-slash"></span>
                    <span class="info-button-text info-bottom tag-add-box">
                      <div class="tag-add-overflow-hidden-container">
                        <input class="tag-add-input" placeholder="New Tag" tabindex="-1">
                        <div class="tag-add-button">
                          <span class="icon-slash tag-add-plus tag-add-plus-first-slash"></span>
                          <span class="icon-slash tag-add-plus tag-add-plus-second-slash"></span>
                        </div>
                      </div>
                    </span>
                    <div class="tag-add-text">Add Tag</div>
                  </div>
                </div>
                <span class="status-message"></span>
              </div>
              <span class="completion-time"></span>
            </div>
            <div class="assignment-header-button" title="Finish Assignment for Today" data-assignment-id="{{ assignment.pk }}" tabindex="0">
              <img class="tick-button" width="25" src="{% static 'images/tick.svg' %}" draggable="false"/>
            </div>
            <div class="assignment-header-button" title="Edit Assignment" data-assignment-id="{{ assignment.pk }}" tabindex="0">
              <img class="update-button" width="22" height="22" src="{% static 'images/edit.png' %}" draggable="false"/>
            </div>
            <div class="assignment-header-button" title="Delete Assignment" data-assignment-id="{{ assignment.pk }}" tabindex="0">
              <img class="delete-button" height="25" src="{% static 'images/delete.png' %}" draggable="false"/>
            </div>
          </div>
          <div class="assignment-footer">
            <div class="graph-container">
              <div class="hover-point-label initial-position"></div>
              <canvas class="fixed-graph"></canvas>
              <canvas class="graph">Your browser does not support the canvas tag.</canvas>
            </div>
            <div class="graph-footer">
              <button class="delete-work-input-button">Delete Work Input</button>
              <input class="work-input-textbox" placeholder="Enter Units Done"/>
              <button class="submit-work-button">Submit Work Input</button>
              <br>
              <button class="skew-ratio-button" data-label="Set Curvature" data-active-label="Hover the graph, click again to cancel">Set Curvature</button>
              <button class="hide-assignment-button" data-hide-label="Hide Assignment" data-show-label="Show Assignment"></button>
              <button class="fixed-mode-button" data-fixed-mode-label="Fixed Mode" data-dynamic-mode-label="Dynamic Mode"></button>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <template id="delete-gc-assignments-from-class-template">
    <div class="delete-gc-assignments-from-class shortcut">
      <div class="shortcut-line-left{% if background_image %} grey-highlight{% endif %}"></div>
      <span class="shortcut-text{% if background_image %} grey-highlight{% endif %}">
        Delete all Assignments from this Class
        <div class="generic-button">Go</div>
      </span>
      <div class="shortcut-line-right{% if background_image %} grey-highlight{% endif %}"></div>
    </div>
  </template>
  <template id="tag-add-selection-item-template">
    <div class="tag-add-selection-item" tabindex="0">
      <table>
        <tr>
          <td>
            <input class="tag-add-checkbox" type="checkbox" tabindex="-1">
          </td>
          <td>
            <span class="tag-add-selection-item-name"></span>
          </td>
        </tr>
      </table>
    </div>
  </template>
  {% spaceless %}
  <template id="tag-template">
    <div class="tag-wrapper">
      <div class="tag-name"></div>
      <div class="tag-delete" data-tag-deletion-name="{{ tag }}" data-assignment-id="{{ assignment.pk }}">
        <span class="icon-slash x-icon-first-slash"></span>
        <span class="icon-slash x-icon-second-slash"></span>
      </div>
    </div>
  </template>
  <div id="toggle-gc-container" class="{% if creating_gc_assignments_from_frontend or GC_API_INIT_FAILED %}open {% endif %}{% if enabled_gc_api %}enabled{% endif%}">
    <span id="toggle-gc-label">{% if creating_gc_assignments_from_frontend %}Adding Google Classroom Assignments...{% elif GC_API_INIT_FAILED %}Authentication failed. Please try again{% endif %}</span>
    <img src="{% static 'images/gc-icon.png' %}" width="42" height="42">
  </div>
  {% endspaceless %}
{% endblock content %}