{% extends "template.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'main.css' %}"></link>
{% endblock css %}
{% block js %}
<script src="{% static 'jquery.easing.js' %}"></script>
{{ data|json_script:"load-data" }}
<script src="{% static 'main.js' %}"></script>
{% endblock js %}
{% block content %}
  <div id="overlay">
    <div id="form-wrapper">
      <form method="POST" autocomplete="off">
        <div id="new-title-line"></div>
        <div id="new-title">New Assignment</div>
        {% csrf_token %}
        {% for field in form.visible_fields %}
          <p>
            {% if field.name == "nwd" %}
              <label id="nwd-label-title">Select the Weekdays you won't work on this Assignment</label>
              <div id="nwd-wrapper">
                {% for value, text in field.field.choices %}
                  <input {% if field.errors %}class="invalid"{% endif %} id="id_nwd_{{ forloop.counter0 }}" name="{{ field.name }}" type="checkbox" value="{{ value }}" {% if value in checked_nwd %}checked="checked"{% endif %}>
                  <label tabindex="0" class="nwd-label" for="id_nwd_{{ forloop.counter0 }}">{{ text }}</label>
                {% endfor %}
              </div>
            {% else %}
              {{ field.label_tag }}
              {{ field }}
            {% endif %}
            {% for error in field.errors %}
              <p class="error-note" id="error_{{ field.auto_id }}">{{ error|escape }}</p>
            {% endfor %}
          </p>
        {% endfor %}
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}
        <button {% if invalid_form_pk %}value="{{ invalid_form_pk }}"{% endif %} type="submit" name="submit-button" title="(Enter)">{{submit}}</button>
        <div id="note">&#42; can be skipped<br>Tip: keep pressing tab and press enter to submit</div>
      </form>
    </div>
  </div>
  <div id="assignments-container">
    <div id="info">Estimated total Completion time: <span>1h 24m</span><button id="hide-button">Hide</button></div>
    {% for obj in objlist %}
      <div class="assignment-container" 
      {% if obj.file_sel == request.session.added_assignment %}id="animate-in"{% elif obj.file_sel == request.session.reentered_assignment %}id="animate-color"{% endif %}>
        <div class="assignment" tabindex="0">
          <div class="assignment-header">
            <span class="title">
              {{ obj.file_sel }}
              <p class="daysleft">1d</p>
            </span>
            <svg width="30px" height="20px" class="arrow-container">
              <polygon class="arrow" points="5,0 5,20 15,10">
                <animate class="risingarrowanimation" begin="indefinite" fill="freeze" attributeName="points" dur="100ms" to="20,5 0,5 10,15"></animate>
                <animate class="fallingarrowanimation" begin="indefinite" fill="freeze" attributeName="points" dur="100ms" to="5,0 5,20 15,10"></animate>
              </polygon>
            </svg>
            <p class="status">Nice Job! You are Finished with this Assignment for Today. Keep it up!</p>
            <button value="{{ obj.pk }}" class="button update-button">
              <img height="20" src="{% static 'edit.png' %}" alt="delete" draggable="false"/>
            </button>
            <button value="{{ obj.pk }}" class="button delete-button">
              <img height="22" src="{% static 'delete.png' %}" alt="edit" draggable="false"/>
            </button>
          </div>
          <div class="relative-positioning-wrapper">
            <div class="graph-container">
              <canvas class="fixed-graph"></canvas>
              <canvas value="{{ obj.pk }}" tabindex="0" class="graph">Your browser does not support the canvas tag.</canvas>
              <div class="graph-footer">
                <button class="set-skew-ratio-button">Set skew ratio using graph</button>
                {% comment %} float:right breaks everything {% endcomment %}
                <button>Switch to fixed mode</button>
                <input type="number" step="0.1" placeholder="Enter skew ratio" class="sr-textbox"/>
                {% comment %} use float to get text on left and right {% endcomment %}
                {% comment %} click again to confirm, 1s window to click {% endcomment %}
                <button>Delete latest work input</button>
                <button>Display entire work schedule</button>
                <button>Enable remainder mode</button>
                Enter work input:<input/>
                Enter total work input:<input/>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}