{% extends "template.html" %}
{% load static %}

{% block css %}
.header.animate {
  transform:translateY(-70px);
  height:80px;
}
.footer.animate {
  transform:translateY(-70px);
}
#content.animate {
  border-width:0px;
  height:115%;
  transform:translateY(-70px);
}
#imagenew {
  left:5px;
  position:absolute;
}
#newassignmenttext {
  position:absolute;
  left:75px;
  top:0px;
  color:white;
  font-size:20px;
  font-family:"Open Sans";
  display:inline-block;

  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
#title {
  min-width:calc(95px + 8vw);
  max-width:calc(95px + 8vw);
  font-size:min(16.76px,calc(11px + 0.4vw));
  font-family:"Open Sans";
  overflow-wrap:break-word;
}
#assignment:hover #title span {
  opacity:0;
}
#assignment:hover #title:before {
  top:50%;
  transform:translateY(-50%);
  position:absolute;
  content:'Click to open';
}
#assignmentscontainer {
  transition: all 1.2s cubic-bezier(.21,.66,.01,1.13);
}
#assignmentscontainer.animate {
  transform:translateY(calc(-100% - 20px));
}
#daysleft {
  position:absolute;
  font-size:0.7em;
  font-family:"Open Sans";
  text-decoration: none;
  margin-top:-2px;
  color:black;
}
#status {
  font-size:min(16.76px,calc(11px + 0.4vw));
  font-family:"Open Sans";
  margin:0 70px 0 max(5px,calc(-5px + 2vw));
}
#assignmentcontainer {
  min-height:40px;
  min-width:720px;
  position:relative;
  transition:min-height .2s ease-in-out;
}
#assignmentcontainer.animate {
  min-height:0.1px;
  margin-top:-10px;
  display:block;
}
#assignmentcontainer.animate #assignment {
  position:absolute;
  opacity:0;
}
#assignment {
  box-shadow: 0px 0px 8px 3px rgba(52,52,52,0.3); 
  background:white;
  margin:10px;
  padding:15px;
  border:2px solid gray;
  border-radius:5px;
  position:relative;
  display:flex;
  width:calc(100% - 54px);
  align-items:center;
  transition:transform .2s ease-in-out, width .2s ease-in-out, opacity .1s ease-in-out;
}
#assignment:hover {
  transform:scale(1.05) translateX(2%);
  width:calc(96.1% - 55px);
}
.button {
  position:absolute;
  background: radial-gradient(circle, lightgray 40%, gray 100%);
  border:2px solid gray;
  border-radius:50%;
}
#updatebutton {
  top:8px;
  right:45px;
  height:30px;
  width:30px;
}
#updatebuttonimage {
  top:5px;
  left:5px;
  position:relative;
}
.deletebutton {
  top:3px;
  right:0px;
  margin:5px;
  height:35px;
  width:35px;
}
.button:hover {
  background: radial-gradient(circle, white 35%, gray 100%);
}
.button:active {
  background: radial-gradient(circle, white 55%, gray 100%);
}
.button:focus {
  outline:0;
}
{% endblock %}

{% block js %}
<script>
    window.addEventListener('popstate', function() {
        history.pushState(null, null, document.URL);
    }());
    function removeanimation() {
        $(".animate").removeClass("animate");
    }
    window.addEventListener('load', removeanimation, false);

    $(function() {
      $('.deletebutton').click(function() {
          const val = $(this).val();
          const name = $(this).attr('name');
          let data = {
            'csrfmiddlewaretoken': '{{ csrf_token }}',
          }
          data[name] = val;

          const assignment = $(this).parent().parent()
          const success = function() {
            $(assignment).addClass("animate");
            setTimeout(function() {
              $(assignment).remove();
            }, 200);
          }
          $.ajax({
              type: "POST",
              data: data,
              success: success
          });
      });
    });
</script>
{% endblock %}
{% block header %}
  <a href="{% url 'new' %}">
    <img height="60" id="imagenew" src="{% static 'plus.png' %}" alt="new"></img>
    <p id="newassignmenttext">New Assignment</p>
  </a>
  <a href="{% url 'home' %}" id="logo">
    <img src="https://fontmeme.com/permalink/201230/276691b6653dba95c45110441239adff.png" alt="TimeWeb" border="0" id="logo">
  </a>
{% endblock %}

{% block content %}
<div id="assignmentscontainer" class="animate">
  {% for obj in objlist %}
      <div id="assignmentcontainer">
        <a href="http://example.com"></a>
        <div id="assignment">
          <span id="title">
            <span>{{ obj.title }}</span>
            <p id="daysleft">1d</p>
          </span>
          <p id="status">Nice Job! You are Finished with this Assignment for Today. Keep it up!</p>
          
          {% comment %} REPLACE BAC K WITH A TAGS {% endcomment %}
          <a class="button" id="updatebutton" href="{% url 'list' obj.pk%}">
            <img height="20" src="{% static 'edit.png' %}" alt="delete" id="updatebuttonimage"/>
          </a>
          <button name="{{ obj.pk }}" value="deleted" class="button deletebutton">
            <img height="22" src="{% static 'delete.png' %}" alt="edit"/>
          </button>
        </div>
      </div>
  {% endfor %}
</div>
{% endblock %}

{% block footer %}
{% endblock %}