{% extends "template.html" %}
{% load static %}
{% block css %}
.field {
    width:calc(100% - 50px);
    margin:5px;
}
{% endblock %}
{% block body %}
    <div id="content" class="animate">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="Submitbutton">{{submit}}</button>
            <p>
                <a href="{% url 'home' %}">Back to assignment view</a>
            </p>
        </form>
    </div>
    <div class="headerfooter animate" id="footer"></div>
{% endblock %}