{% extends "template.html" %}
{% load static %}
{% block css %}
<style>
input:focus, label:focus {
    outline: 0;
    box-shadow: 0 0 4px rgba(0,95,204,0.6), inset 0 0 0 1px rgb(0,95,204); 
}
label[for='id_x']::after {
    content: '(Predicted if left empty)';
    display: block;
    font-style: italic;
    font-size: 10px;
}
label[for='id_min_work_time']::after, label[for='id_funct_round']::after {
    content: '(Disabled if left empty)';
    display: block;
    font-style: italic;
    font-size: 10px;
}
label[for='id_ad']::after {
    content: "(Enter today if you don't remember)";
    display: block;
    font-style: italic;
    font-size: 10px;
}
#note {
    text-align: center;
    font-size: 10px;
    margin-bottom: -1em;
    font-style: italic;
    position: relative;
    top: 10px;
}
#form-wrapper {
    width: 400px;
    background: white;
    box-shadow: 0 0 8px black;
    margin: 1em auto;
    border: 1px solid black;
    border-radius: 15px;
    padding-bottom: 25px;
}
.field {
    width: calc(100% - 50px);
    margin: 5px;
}
label, #nwd-label-title {
    text-align: center;
    display: block;
    position: relative;
}
label:not(.nwd-label) {
    margin: 0 25px;
}
#nwd-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -1em 50px 0;
}
.nwd-input {
    display: none;
}
.nwd-input:checked + .nwd-label {
    background: darkgray;
}
.nwd-label {
    background: white;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 4px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 4px;
}
.nwd-label:active {
    outline: 0;
    background: whitesmoke;
}
input {
    box-sizing: border-box; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 20px);
    border: 1px solid black;
    border-radius: 3px;
}
#submit-button {
    margin: 0 auto;
    display: block;
    padding: 20px 60px;
    font-size: 19px;
}
.info-button {
    display: inline-block;
    position: relative;
    bottom: 1px;
    left: 4px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: rgb(33,163,177);
    font-size: 14px;
    font-style: italic;
    font-family: "Serif";

    color: white;
    text-align: center;
    line-height: 15px;
}
.info-button:hover {
    background: rgb(16,135,148);
}
.info-button:hover .info-button-text.info-right {
    visibility: visible;
    opacity: 1;
    left: calc(100% + 12px);
    transition: all .2s ease-in-out;
}
.info-button:hover .info-button-text.info-left {
    visibility: visible;
    opacity: 1;
    right: calc(100% + 12px);
    transition: all .2s ease-in-out;
}
.info-button-text {
    position: absolute;
    transform: translateY(-50%) translateY(7px);
    width: 265px;
    z-index:3;

    background: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.75);
    border-radius: 5px;
    border: 2px solid black;
    visibility: hidden;
    opacity: 0;

    text-align: left;
    padding: 5px 5px;
    color: black;
    font-size: 13px;
    line-height: 13px;
    font-style: normal;
    white-space: pre-line;
}
.info-button-text.info-right {
    left: calc(100% - 4px);
}
.info-button-text.info-left {
    right: calc(100% - 4px);
}
.info-button-text.info-right::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: calc(100% + 1px);
    border-width: 10px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
.info-button-text.info-left::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% + 1px);
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}
</style>
{% endblock %}

{% block js %}
<script>
$(function() {
    $('#id_works').val("0.00");
    if (!$('#id_ad').val()) {
        $('#id_ad').val("{% now 'Y-m-d' %}");
    }
    if (!$('#id_x').val()) {
        $('#id_x').val("{% now 'Y-m-d' %}");
    }
    $("#id_works").attr({"step":"0.01","type":"number"});
    $("input").attr("tabindex","1");
    function replaceUnit() {
        const val = $("#id_unit").val();
        if (val) {
            $("label[for='id_y']").text("Enter the Total amount of " + val + "s");
            $("label[for='id_works']").text("Enter the Total amount of " + val + "s already Completed");
            $("label[for='id_ctime']").text("Enter the Estimated amount of Time in Minutes to complete each " + val);
        } else {
            $("label[for='id_y']").html("Enter the Total amount of Units");
            $("label[for='id_works']").html("Enter the Total amount of Units already Completed");
            $("label[for='id_ctime']").html("Enter the Estimated amount of Time in Minutes to complete each Unit of Work");
        }
    }
    replaceUnit();
    $("#id_unit").on('input',replaceUnit);

    $('label[for="id_x"], label[for="id_funct_round"], label[for="id_min_work_time"], label#nwd-label-title').append("&#42;");
    $('label[for="id_unit"]').info('right',
        `This is how your assignment will be split and divided up
        
        e.g: If this assignment is reading a book, enter "Page"
        
        If you are unsure how to split up your assignment, this is defaulted to "Minute"`
    );
    $('label[for="id_works"]').info('right',
        `The following is only relevant if you are re-entering this field

        This value is also the y-coordinate of the initial work input, or the y-coordinate of the first point on the blue line
        
        Changing this initial value will vertically translate all of your other work inputs accordingly`
    );
    $('label[for="id_funct_round"]').info('right',
        `This is the increment of work you will complete at a time
        
        For example, if you enter 3, you will only work in multiples of 3 (e.g: 6 units, 9 units, 15 units, etc)
        
        If you do not wish to use the grouping value, this is defaulted to 1`
    );
});
</script>
{% endblock %}

{% block body %}
    <div id="content" class="animate">
        <div id="form-wrapper">
            <form method="POST" autocomplete="off">
                {% csrf_token %}
                <b>{{ error }}</b>
                {% for field in form.visible_fields %}
                    <p>
                        {{ field.errors }}
                        {% if field.name == "nwd" %}
                            <label id="nwd-label-title">Select the Weekdays you will Not work on this Assignment</label>
                            <div id="nwd-wrapper">
                                {% for value, text in field.field.choices %}
                                    <input class="nwd-input" id="id_nwd_{{ forloop.counter0 }}" name="{{ field.name }}" type="checkbox" value="{{ value }}" {% if value in checked_nwd %}checked="checked"{% endif %}>
                                    <label tabindex="1" class="nwd-label" for="id_nwd_{{ forloop.counter0 }}">{{ text }}</label>
                                {% endfor %}
                            </div>
                        {% elif field.name == "works" %}
                            {{ field.label_tag }}
                            {{ field.as_text }}
                        {% else %}
                            {{ field.label_tag }}
                            {{ field }}
                        {% endif %}
                        {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </p>
                {% endfor %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                <button type="submit" name="submit-button" id="submit-button" title="(Enter)" tabindex="1">{{submit}}</button>
                <div id="note">&#42; can be skipped<br>Tip: keep pressing tab</div>
            </form>
        </div>
    </div>
    <div class="headerfooter animate" id="footer"></div>
{% endblock %}