{% extends "template.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/settings.css' %}">
{% endblock css %}

{% block js %}
<script src="{% static 'js/settings.js' %}"></script>
{% endblock js %}
{{ form.initial|get_def_nwd }}
{% block content %}
<form method="POST" autocomplete="off">
    {% csrf_token %}
    <h3>These are applied to all assignments</h3>
    <table>
        {% for field in form.visible_fields %}
            <tr>
                {% if field.name == "def_nwd" %}
                    <th id="nwd-label-title">Default Weekdays you won't work</th>
                    <td id="nwd-wrapper">
                        {% for value, text in field.field.choices %}
                            <input id="id_def_nwd_{{ forloop.counter0 }}" name="{{ field.name }}" type="checkbox" value="{{ value }}" {% if value in form.initial|get_def_nwd %}checked="checked"{% endif %}>
                            <label tabindex="0" class="nwd-label" for="id_def_nwd_{{ forloop.counter0 }}">{{ text }}</label>
                        {% endfor %}
                    </td>
                {% else %}
                    <th>{{ field.label_tag }}</th>
                    <td>{{ field }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    <input type="submit" value="Save">
</form>
{% endblock content %}