{% extends "template.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/settings.css' %}">
{% endblock css %}

{% block js %}
<script src="{% static 'js/settings.js' %}"></script>
{% endblock js %}

{% block content %}
{{ form.media }}
<form method="POST" autocomplete="off">
    {% csrf_token %}
    <h3>These are applied to all assignments</h3>
    <table>
        {% for field in form.visible_fields %}
            <tr>
                {% if field.name == "def_break_days" %}
                    <th id="break-days-label-title">Default Break Days</th>
                    <td id="break-days-wrapper">
                        {% for value, text in field.field.choices %}
                            <input id="id_def_break_days_{{ forloop.counter0 }}" name="{{ field.name }}" type="checkbox" value="{{ value }}" {% if value in form.initial|get_def_break_days %}checked="checked"{% endif %}>
                            <label tabindex="0" class="break-days-label" for="id_def_break_days_{{ forloop.counter0 }}">{{ text }}</label>
                        {% endfor %}
                    </td>
                {% else %}
                    <th>{{ field.label_tag }}</th>
                    <td>
                        {% for error in field.errors %}
                            <h3>{{ error|escape }}</h3>
                        {% endfor %}
                        {{ field }}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    <input type="button" value="Reset" id="reset-button">
    <input type="submit" value="Save">
</form>
{% endblock content %}