{% load static %}
{% load pwa %}

<!DOCTYPE html>
<html lang="en-US"{% if dark_mode %} id="dark-mode"{% endif %}>
    <head>
        <meta charset="UTF-8">
        {% if not DEBUG %}
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-3K1HRD42V7" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        {% endif %}
        <script nonce="{{request.csp_nonce}}">
            window.dataLayer = window.dataLayer || [];
            const DEBUG = "{{ DEBUG }}";
            if (DEBUG !== "False") {
                function gtag(){}
            } else {
                function gtag(){dataLayer.push(arguments);}
            }
            gtag('js', new Date());

            gtag('config', 'G-3K1HRD42V7');
            ACCOUNT_EMAIL = "{{ user.get_username }}";
            EXAMPLE_ACCOUNT_EMAIL = "{{ EXAMPLE_ACCOUNT_EMAIL }}";
            EXAMPLE_ASSIGNMENT_NAME = "{{ EXAMPLE_ASSIGNMENT_NAME }}";
            {% if MAX_NUMBER_OF_TAGS %}
            MAX_NUMBER_OF_TAGS = {{ MAX_NUMBER_OF_TAGS }};
            {% endif%}
            GC_API_INIT_FAILED = {% if GC_API_INIT_FAILED %}true{% else %}false{% endif %};
            EDITING_EXAMPLE_ACCOUNT = {% if EDITING_EXAMPLE_ACCOUNT %}true{% else %}false{% endif %};
            NOTIFY_DATE_CHANGED = {% if NOTIFY_DATE_CHANGED %}true{% else %}false{% endif %};
            creating_gc_assignments_from_frontend = {% if creating_gc_assignments_from_frontend %}true{% else %}false{% endif %};

            // Initialize the service worker
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('/serviceworker.js', {
                    scope: '/'
                }).then(function (registration) {
                    window.onload = function() {
                        if (window.SETTINGS && !window.SETTINGS.seen_latest_changelog) {
                            registration.unregister();
                        }
                    }
                }, function (err) {
                    
                });
            }
            {% comment %} document.addEventListener("securitypolicyviolation", function() {
                navigator.serviceWorker.getRegistrations().then(function(registrations) {
                    for (let registration of registrations) {
                        registration.unregister();
                    }
                    // Prevent infinite reloading loop in case the above doesn't work to allow the user to close the tab
                    setTimeout(function() {
                        window.location.reload();
                    }, 1500);
                });
            }); {% endcomment %}
        </script>
        <title>{% block head_title %}TimeWeb{% endblock %}</title>
        {% progressive_web_app_meta %}
        <meta name="title" content="TimeWeb">
        <meta name="description" content="TimeWeb — The new way to manage your time. Organizing your work schedule has never been easier. Get started with your free account today!">

        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@TimeWebOfficial">
        <meta name="twitter:creator" content="@TimeWebOfficial">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://timeweb.io/">
        <meta property="og:title" content="Introducing TimeWeb!">
        <meta property="og:description" content="TimeWeb — The new way to manage your time. Organizing your work schedule has never been easier. Get started with your free account today!">
        <meta property="og:image" content="{% static 'images/icons/icon-512x512.png' %}">

        <meta name="author" content="Arhan Chaudhary">
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% block template_head_css %}{% endblock %}
        {% block template_head_js %}{% endblock %}
        <noscript>Your browser does not support or has disabled javascript, which is required for this website</noscript>
    </head>
    <body tabindex="-1">
        <div id="site">
            {% block template_head_body %}{% endblock %}
        </div>
    </body>
</html>