<!DOCTYPE html>
{% load static %}
<html>

    <head>
        <title>TimeWeb</title>
        <meta charset="UTF-8">
        <meta name="keywords" content="Timeweb is a tool designed to help users manage their time by prioritizing, sorting, and listing each of their assignments every day.">
        <meta name="author" content="Arhan Chaudhary">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'template.css' %}"></style>
        {% block css %}{% endblock css %}
        <script src="{% static 'jquery.js' %}"></script>
        <script src="{% static 'template.js' %}"></script>
        <script>
            csrf_token = "{{ csrf_token }}";
            {% block clear_pr_form %}
            localStorage.removeItem('form_fields');
            {% endblock clear_pr_form %}
        </script>
        {% block js %}{% endblock js %}
    </head>
    <body>
        <div class="animate" id="header">
            <svg width="89px" height="60px" id="menu-container" tabindex="3">
                <rect y="19.75" x="32" width="25" height="4.25"></rect>
                <rect y="28" x="32" width="25" height="4.25"></rect>
                <rect y="36.25" x="32" width="25" height="4.25"></rect>
            </svg>
            <nav>
                <svg width="89px" height="60px" id="nav-menu-container">
                    <rect y="19.75" x="32" width="25" height="4.25"></rect>
                    <rect y="28" x="32" width="25" height="4.25"></rect>
                    <rect y="36.25" x="32" width="25" height="4.25"></rect>
                </svg>
                <div id="nav-items">
                    <a href="#" class="nav-item">Settings</a>
                    <a href="#" class="nav-item">How to Use</a>
                    <a href="#" class="nav-item">Keybinds</a>
                    <a href="#" class="nav-item">How Does This Work</a>
                    <a href="#" class="nav-item">About Me</a> {% comment %} (credits, motives, etc) {% endcomment %}
                    <a href="#" class="nav-item">Changelog</a>
                    <a href="#" class="nav-item">Terms of Service</a>
                    <a href="#" class="nav-item">Privacy Policy</a>
                    <a href="#" class="nav-item">Licenses</a>
                    <a href="#" class="nav-item">Contact Me</a>
                </div>
            </nav>
            <a tabindex="-1" href="{% url 'new' %}" title="(Shift + N)">
                <div id="image-new-container" tabindex="2">
                    <img height="60" id="image-new" src="{% static 'plus.png' %}" alt="new" draggable="false"/>
                </div>
                <p id="new-assignment-text">New Assignment</p>
            </a>
            <div id="logo-container">
                <a href="{% url 'home' %}">
                    <img src="{% static 'timeweb.png' %}" alt="TimeWeb" border="0" id="logo" tabindex="-1" draggable="false"/>
                    {% comment %} https://fontmeme.com/fonts/alba-font/ {% endcomment %}
                    {% comment %} https://fontmeme.com/permalink/201230/276691b6653dba95c45110441239adff.png {% endcomment %}
                </a>
            </div>
        </div>
        {% block body %}{% endblock %}
    </body>
</html>