<!DOCTYPE html>
{% load static %}
<html>

    <head>
        <title>TimeWeb</title>
        <meta charset="UTF-8">
        <meta name="keywords" content="TimeWeb is a tool designed to help users manage their time by prioritizing, sorting, and listing each of their assignments every day.">
        <meta name="author" content="Arhan Chaudhary">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'css/template.css' %}"></style>
        {% block css %}{% endblock css %}
        <script src="{% static 'vendor/pluralize.js' %}"></script>
        <script src="{% static 'vendor/jquery.min.js' %}"></script>
        <script src="{% static 'js/template.js' %}"></script>
        <script>csrf_token = "{{ csrf_token }}";user_authenticated = {{ user.is_authenticated|lower }}</script>
        {% block js %}{% endblock js %}
    </head>
    <body>
        <div id="header">
            <div id="image-new-container" tabindex="1">
                <img height="60" src="{% static 'images/plus.png' %}" alt="new" draggable="false"/>
                <div id="new-assignment-text">New Assignment</div>
            </div>
            <div id="menu">
                <svg width="89px" height="70px" tabindex="2">
                    <rect y="24.75" x="32" width="25" height="4.25"></rect>
                    <rect y="33" x="32" width="25" height="4.25"></rect>
                    <rect y="41.25" x="32" width="25" height="4.25"></rect>
                </svg>
            </div>
            {% if user.is_authenticated %}
                <div id="user-greeting">
                    <a tabindex="1" href="{% url 'logout' %}?next={{request.path}}">{{ user.get_username }}</a>
                    <span>,Welcome </span>
                </div>
            {% endif %}
            <nav>
                <div id="nav-menu">
                    <svg width="89px" height="70px">
                        <rect y="24.75" x="32" width="25" height="4.25"></rect>
                        <rect y="33" x="32" width="25" height="4.25"></rect>
                        <rect y="41.25" x="32" width="25" height="4.25"></rect>
                    </svg>
                </div>
                <div id="nav-items">
                    <a href="#">Settings</a>
                    <a href="#">How to Use</a>
                    <a href="#">Keybinds</a> {% comment %} +- to zoom {% endcomment %}
                    <a href="#">About Me</a> {% comment %} (credits, motives, etc) {% endcomment %}
                    <a href="#">Changelog</a>
                    <a href="#">Terms of Service</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">Licenses</a>
                    <a href="#">Contact Me</a>
                </div>
            </nav>
            <a href="{% url 'home' %}"  id="logo-container">
                <img src="{% static 'images/timeweb.png' %}" alt="TimeWeb" border="0" draggable="false"/>
                {% comment %} cite later https://fontmeme.com/fonts/alba-font/ https://fontmeme.com/permalink/201230/276691b6653dba95c45110441239adff.png {% endcomment %}
            </a>
        </div>
        <div id="content">
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>