{% extends "template.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/user-guide.css' %}">
{% endblock css %}

{% block js %}
<script src="{% static 'js/user-guide.js' %}"></script>
{% endblock js %}

{% block content %}
<div id="flex-container">
    <div id="table-of-contents-container-label">
        <span class="table-of-contents-header" id="category-table-of-contents-label">Table of contents</span>
    </div>
    <div id="table-of-contents-container">
        <span class="table-of-contents-header" id="category-table-of-contents">Table of contents</span>
        <span class="table-of-contents-header" id="category-important-labels">FAQs</span>
        <ul id="category-user-guide-labels"></ul>
    </div>
    {% comment %} Turn on word wrap if viewing from an IDE {% endcomment %}
    <div id="user-guide-container">
        {% comment %} the span groups the major and minor categories together for user-guide.js {% endcomment %}
        <span>
            <div class="major-category">Introduction</div>
            <details open>
                <summary class="minor-category" id="getting-started">Getting started</summary>
                Welcome! TimeWeb's official user guide documents its features, quirks, and methodology. Reading this isn't required, but doing so will clear up confusion you may have and greatly help with your user experience. It's recommended to at least create an assignment and take a look at its graph to get a feel for TimeWeb's user interface before reading this guide.

                In this user guide, FAQs, or frequently asked questions, are marked and labeled in blue with a question mark icon. For example:

                <span class="label-question" id="why-doesn't-the-internal-date-change-after-midnight">
                    <span class="label-title">Why doesn't the internal date change after midnight?</span>
                    This behavior isn't a bug nor a glitch, but is actually intentional. Changing the date at midnight will result in showing the work for the next day despite the current work day not being finished. So, the internal date only changes to the next at the hardcoded value of 4 AM.
                </span>
                The "Table of contents" section to the left shows the complete outline of this user guide, and the "FAQs" section just below that lists every FAQ in this guide. If you came here because you're confused about something specific, there's a good chance you'll find your answer in either of those sections.

            </details>
            <details open>
                <summary class="minor-category" id="why-should-i-use-timeweb">What is TimeWeb and why should I use it?</summary>
                TimeWeb is a free, online time manager that prioritizes, sorts, and lists each of your daily school or work assignments. Unlike an ordinary planner, each of your assignments' work is split up and graphed over the days until they are due. Then, they are automatically prioritized so you will always know which assignment to do, when to do it, and how long it will take. TimeWeb's main focus is on customizability and convenience. As we'll get to later on in this guide, TimeWeb supports many advanced parameters that can be configured for you and your work style.

                A few extra things to help with TimeWeb's credibility:
                {% spaceless %}
                <ul>
                    <li>TimeWeb scored an average of <a href="https://imgur.com/a/1cGhs8W">8.3/10</a> in overall user satisfaction in its incomplete beta</li>
                    <li>TimeWeb has been supported and received well by my school's principal</li>
                    <li>TimeWeb is <a href="https://github.com/ArhanChaudhary/TimeWeb">open source</a></li>
                </ul>If you would like a more direct perspective of using TimeWeb, read the below section to see every review and their respective ratings of TimeWeb during its beta phase.{% endspaceless %}

                If you would like, take a look at TimeWeb's <a href="https://youtu.be/[link]">YouTube demo</a> to get an idea of what you should expect your homepage to look like.

            </details>
            <details>
                <summary class="minor-category" id="anonymous-beta-reviews">Every anonymous review during TimeWeb's beta</summary>
                This section lists every review from TimeWeb's beta testers via its <a href="https://forms.gle/UUCRVYVGgpEyVrjcA">anonymous review form</a>. Take these reviews with a grain of salt, as there was unintended selection bias (I was only able to reach people who personally knew me) and voluntary response bias with these responses.

                <span class="minor-minor-category">Anonymous review #1</span>
                Rating: 5/5
                Review: The creator of the TimeWeb is a really nice guy. You hang out with him in discord and you will realize he is really passionate about web development and willingly to put as much effort as it takes to improve the user experience even if only a bit.

                <span class="minor-minor-category">Anonymous review #2</span>
                Rating: 4/5
                Review: I haven't used it in a bit. It wasn't the easiest to use but it was very feature heavy so you could do a lot with it. It's like iPhone vs Android. iPhone is really intuitive and easy to use. Android let's you do so much more but its not as easy.

                <span class="minor-minor-category">Anonymous review #3</span>
                Rating: 4/5
                Review: More colors can be used and maybe more user friendly otherwise really effective and efficient.

                <span class="minor-minor-category">Anonymous review #4</span>
                Rating: 5/5
                Review: It works well enough.

                <span class="minor-minor-category">Anonymous review #5</span>
                Rating: 5/5
                Review: TimeWeb is a great way to get organized. As a junior in a very demanding high school, being on top of your work is critical. I was never great at using my planner and even when I did write down my homework, I could not tackle it efficiently. TimeWeb fixes all of this because it is easy to input my work and it is easy to understand all the different features it has to offer. It sorts, prioritizes, and graphs all my homework. The graph offers an easy to understand trend of how you should approach your work, and the sorting system is the best you can get. But the one thing that makes TimeWeb great is the fact that you have so many ways to control and change a range from the big and important info to the miniscule details. By using TimeWeb you never need to worry about stressing over assignments, procrastinating, and missing deadlines.   

                <span class="minor-minor-category">Anonymous review #6</span>
                Rating: 4/5
                Review: It's useful for planning out long-term assignments and has good QOL features like custom break days and even Google Classroom integration.

                <span class="minor-minor-category">Anonymous review #7</span>
                Rating: 4/5
                Review: No review provided
                
                <span class="minor-minor-category">Anonymous review #8</span>
                Rating: 4/5
                Review: Timeweb is a great tool when utilized correctly. At first it takes time to get used to due to the inputs. It can get a bit tedious when transferring homework to Timeweb. Due to this, it should only be used for bigger pieces of work that take multiple days instead of one day. Once it becomes a part of your routine, it still is tedious but you start to notice the benefits of using Timeweb.

                <span class="minor-minor-category">Anonymous review #9</span>
                Rating: 5/5
                Review: No review provided
            </details>
        </span>
        <span>
            <div class="major-category">Assignment form</div>
            <details open>
                <summary class="minor-category" id="what-is-the-assignment-form">What is the assignment form?</summary>
                <img src={% static 'images/assignment-form.png' %} width="550">
                The assignment form is what you'll use to input your assignments into TimeWeb. The assignment form is used either to create a new assignment, which can be done by clicking the "New Assignment" button at the left of the header, or to edit an existing assignment, which can be done by clicking the edit button next to it. 
                
                The assignment form has 11 inputs in total:
                6 of these inputs are required for a complete assignment. You can still create an assignment without these inputs as a of reminder system, but its graph won't be usable.
                5 of these advanced and optional. Default form input values, which can be set in the settings, are accordingly set for these inputs every time you open the form, and they can be manually overridden.
                
            </details>
            <details open>
                <summary class="minor-category" id="standard-assignment-form-inputs">Standard inputs</summary>
                These inputs in the assignment form are mandatory for every assignment. There are 6 standard inputs:

                <span class="minor-minor-category">Name of this Assignment</span>
                This input is simply the name of the assignment and is displayed at the left of the assignment header.

                <span class="minor-minor-category">Date Assigned</span>
                This input is the date the assignment was assigned or the date you'll start working on the assignment. Dates from the future are also perfectly valid. If you don't remember, enter today's date instead.

                <span class="minor-minor-category">Due Date</span>
                This input is the date in which the assignment is due. This can't be on or before the "Date Assigned" field. If your assignment doesn't have a due date, leave this input empty, and a rough due date will be calculated based on your other inputs. This should be a last resort, as the predicted due date may not always be suitable.

                <span class="label-question" id="why-can't-I-enter-a-due-time">
                    <span class="label-title">Why can't I enter a due time?</span>
                    This feature wasn't planned to be implemented with TimeWeb's launch and is currently on my TODO list. This unfortunately means that, as of now, you can't enter a due date that is the same as the assignment date, even if the due date has a later due time.<br>
                    <br>
                    One workaround is to round up the due date to the day after the assignment is due. For example, if an assignment is due at October 1, 11:59 PM, enter a due date of October 2, which mostly replicates a due time.
                </span>

                <span class="minor-minor-category">Name of each Unit of Work</span>
                This input is how the assignment is split and divided up. As an analogy, if the assignment is reading a book, then this input would be "Page". In simpler terms, the assignment's header message will say "Complete X amount of [this input] today".

                Try not to choose large divisions of work for this input. To demonstrate what I mean by this, pretend you're assigned an assignment with three worksheets, each containing thirty pages of work. Rather than entering "Worksheet" for this input, it's usually more ideal to enter "Page" instead. This way, if you complete let's say fifteen pages, you can input you completed 15 pages, which is nice and clean, instead of 0.5 worksheets, which is an ugly decimal. However, the latter is still completely valid if you prefer to input that.
                
                If you don't know how to split and divide up the assignment, enter the special keywords "Minute" or "Hour" for this input. By doing this, you effectively divide the assignment up into units of time, which is usually easier to estimate. Typically, you'll want to use "Minute" for working in short, precise intervals of a singular minute, and you'll want to use "Hour" for working in longer, less precise intervals of 60 minutes.

                <span class="minor-minor-category">Total number of Units in this Assignment</span>
                This input is the number of units of work in the assignment. The "Unit" part of this input is replaced in the assignment form with the name of each unit of work. This number will be split up over the days in which the assignment is due.

                <span class="minor-minor-category">Estimated number of Minutes to complete each Unit</span>
                This input is the estimated number of minutes to complete each unit in the assignment. The "Unit" part of this input is replaced in the assignment form with the name of each unit of work. Note that this value is logically locked to 1 when the name of each unit of work is "Minute" and 60 when the name of each unit of work is "Hour".
                
            </details>
            <details open>
                <summary class="minor-category" id="advanced-assignment-form-inputs">Advanced inputs</summary>
                These inputs in the assignment form are optional for every assignment, but they further enhance your assignments' work schedules. There are 5 advanced inputs:

                <span class="minor-minor-category">Assignment Description</span>
                This input is the description of the assignment, shown below the assignment name only when the assignment is open.

                <span class="minor-minor-category">Total number of Units already Completed</span>
                This input is the number of units of work you've already completed in the assignment. The "Unit" part of this input is replaced in the assignment form with the name of each unit of work. Since this represents the first point on the blue line and the initial work input, if you edit this value, all of your other work inputs are vertically translated accordingly.

                <span class="minor-minor-category">Number of Units you will Complete at a Time</span>
                This input is the number of units of work you will complete at a time, meaning you will always work in multiples of this number. The "Unit" part of this input is replaced in the assignment form with the name of each unit of work. For example, if the assignment is reading a book, the name of each unit of work is "Page", and this input is 5, you will always work in multiples of 5 pages throughout the entire assignment. You can leave this input empty to disable it.

                <span class="minor-minor-category">Minimum Daily Work Time in Minutes</span>
                This input is the minimum amount of time you will work on of an assignment every day. This doesn't apply for days in which you don't work on the assignment. You can leave this input empty to disable it.

                <span class="minor-minor-category">Break Days</span>
                This input is the days of the week in which you won't work on the assignment. Green days represent days in which you will work, and red days represent days in which you won't work.
            </details>
        </span>
        <span>
            <div class="major-category">Assignment graph</div>
            <details open>
                <summary class="minor-category" id="what-is-the-assignment-graph">What is the assignment graph?</summary>
                <img id="assignment-graph-image">
                After creating an assignment, click it to open its graph. The assignment line graph provides a visualization of how your assignment's work schedule will look like. The x-axis represents days, and the y-axis represents units of work. Day zero of the graph represents the assignment's assignment date, while the last day of the graph represents the assignment's due date. Every days' work is plotted and connected in red to form your entire work schedule.

                As you progress through your assignment, there needs to be some way to measure your progress so each assignment can be prioritized accordingly. So, you must input the amount of work you complete every day for every assignment. This will be plotted and connected in blue.
                
                The 9 controls under the graph allow you to customize and log your work schedule. The 6 standard and 3 advanced controls, explained below, ensure your graph is tuned for you and your work style.
                
            </details>
            <details open>
                <summary class="minor-category" id="standard-assignment-graph-controls">Standard controls</summary>
                There are 6 standard controls for the assignment graph:

                <span class="minor-minor-category">Delete Work Input</span>
                This button deletes the most recent work input from your graph.

                <span class="minor-minor-category">Enter Units Done</span>
                This input is the textbox in which you will enter your daily progress. Enter the number of units of work done on the graph's displayed date and click "Submit Units Done". If you've completed an assignment's work for that day, enter the keywords "done" or "fin". If you haven't completed any of an assignment's work for that day, enter 0.

                <span class="minor-minor-category">Submit Units Done</span>
                This button submits the value of the "Enter Units Done" textbox to the graph. Or, you can instead press enter in the textbox.

                <span class="minor-minor-category">Display in Text</span>
                This button displays the assignment's entire work schedule in text, showing how much work to do for every day. This hasn't yet been coded in. If someone sees me at school, yell at me to code this in.

                <span class="minor-minor-category">Simulate No Work Done</span>
                This button simulates entering 0 units done but doesn't affect the assignment's list position, header message, nor graph. This is useful when you're not sure whether or not you'll complete an assignment's work for that day. Entering 0 units done gives the assignment a check mark and changes its list position to closer to the bottom while this button keeps it in its list position and ensures you don't forget about it.  This is automatically disabled the day after.
            
                <span class="minor-minor-category">Next Assignment</span>
                This button closes the current assignment and opens the next assignment.

            </details>
            <details open>
                <summary class="minor-category" id="advanced-assignment-graph-controls">Advanced controls</summary>
                The advanced controls are completely optional to use and provide a better control of your work distribution. Before getting to the advanced controls, we must first understand what the skew ratio is. The skew ratio controls the curvature of the graph and, in turn, your work schedule.
                
                A more positive skew ratio yields a work schedule in which you work more at the beginning and less at the end of an assignment.
                A more negative skew ratio yields a work schedule in which you work less at the beginning and more at the end of an assignment.
                A skew ratio of 0 yields a linear work schedule in which you work an equal amount for every day of an assignment.

                There are 3 advanced controls for the assignment graph:

                <span class="minor-minor-category">Set Skew Ratio using Graph</span>
                This button allows you to be able to hover over the graph to manually set your skew ratio. Click the graph to save, and click this button again to cancel. 

                <span class="minor-minor-category">Enter Skew Ratio</span>
                This input allows you to manually enter a numeric skew ratio value. The graph is updated by this value in real time.

                <span class="minor-minor-category">Switch to Fixed/Dynamic mode</span>
                This button switches the graph to fixed mode or dynamic mode.

                Fixed mode:
                The work schedule starts at the date the assignment was assigned and remains static (assuming the skew ratio doesn't change), meaning if you don't finish a day's work, you'll have to make it up on the next day.

                Dynamic mode:
                The work schedule readjusts and the skew ratio autotunes after every work input to adapt to your work schedule, meaning if you don't finish a day's work, the graph will change to fit your work style.
                
                It's important to note that skew ratio autotuning in dynamic mode isn't always accurate, as it may not always predict your ideal desired work schedule. Dynamic mode only guides you in general direction of your work style, and you are still in control of adjusting the autotuned skew ratio.
                
                <span class="label-question" id="why-do-similar-skew-ratio-values-result-in-different-work-distributions-in-dynamic-mode">
                    <span class="label-title">Why do similar skew ratio values result in different work distributions in dynamic mode?</span>
                    Unfortunately, there is no clear answer. This will ocassionally occur after submitting and deleting work inputs as a side effect of how dynamic works. Try to re-adjust the skew ratio to its old work distribution if this happens.
                </span>
            </details>
        </span>

        <details open>
            <summary class="major-category" id="assignment-priority">Assignment priority</summary>
            After you add multiple assignments, every assignment you're supposed to work on will automatically receive a priority percentage and a color. They both represent how urgent an assignment's work is for that day compared to every other assignment.
            
            Their priority also determines their assignment list position, which represents the order in which you should complete every assignment's work, though you are still free to complete them in a different order. Assignments with low priorities will be positioned near the bottom of the assignment list, while assignments with high priorities will be positioned near the top of the assignment list, with the most important assignment always having 100% priority.

            <span class="label-question" id="why-do-some-assignments-with-low-priority-have-a-higher-list-position">
                <span class="label-title">Why do some assignments with low priority have a higher list position?</span>
                You may notice that an assignment with a low priority is sometimes placed above an assignment with a high priority, meaning that you should complete the low priority assignment first. Although it may seem so at first, this isn't actually a bug nor a glitch.<br>
                <br>
                If you look carefully, there will always be a reason why this is the case. The assignment could have the <a href="#important-and-not-important-assignment-tags">"Important" or "Not Important"</a> tags, or the assignment with the low priority is due tomorrow, while the assignment with the high priority isn't. TimeWeb is able to recognize and make exceptions for cases like these, as, ideally, you should always complete assignments that are due tomorrow first.
            </span>    
        </details>
        <span>
            <div class="major-category">Assignment tags</div>
            <details open>
                <summary class="minor-category" id="important-and-not-important-assignment-tags">"Important" and "Not Important" tags</summary>
                Above every assignment's header message, there's a plus icon used to add tags. Tags allow you to label an assignment by broader category, such as a school class period. Although assignment tags are only for you to see visually, the "Important" and "Not Important" tags are two exceptions.
                
                Adding the "Important" tag moves the assignment to the highest appropriate list position, while adding the "Not Important" tag moves the assignment to the lowest appropriate list position. Note that adding these won't necessarily always put them at the very top or the very bottom, as more urgent assignments may come first or less urgent assignments may come last.
            
            </details>
            <details open>
                <summary class="minor-category" id="sorting-assignment-tags">Sorting tags</summary>
                Tags are only added to the end of an assignment's tag list initially. So, you can sort the tags in the order you like by holding a tag and then dragging it around horizontally. Note that you may have to pinch zoom on mobile before you can drag the tags around to sort them.
            </details>
        </span>
        <span>
            <div class="major-category">Assignment shortcuts</div>
            <details open>
                <summary class="minor-category" id="what-are-assignment-shortcuts">What are assignment shortcuts?</summary>
                <img src="{% static 'images/assignment-shortcuts.png' %}">
                Assignment shortcuts allow you to perform actions in bulk and . To use a shortcut, click them on the home page.
            </details>
            <details open>
                <summary class="minor-category" id="autofill-work-done-assignment-shortcut">Autofill Work Done</summary>
                "since 5" thing vikram was talking about; explain what to do FAQ
                
            </details>
            <details open>
                <summary class="minor-category" id="delete-all-starred-assignments">Delete all Starred Assignments</summary>

            </details>
            <details open>
                <summary class="minor-category" id="delete-all-assignments-from-this-class-assignment-shortcut">Delete all Assignments from this Class</summary>

                <span class="label-question" id="how-does-delete-all-assignments-from-this-class-know-what-to-delete">
                    <span class="label-title">How does "Delete all Assignments from this Class" know what to delete?</span>

                </span>
            </details>
            <details open>
                <summary class="minor-category" id="go-to-next-day">Go to Next Day</summary>
                <img src="{% static 'images/header-icons.png' %}">
                reference header icons
            </details>
        </span>
        <span>
            <div class="major-category">Google Classroom API</div>
            <details open>
                <summary class="minor-category" id="what-is-the-google-classroom-api">What is the Google Classroom API?</summary>

            </details>
            <details open>
                <summary class="minor-category" id="enabling-the-google-classroom-api">Enabling the Google Classroom API</summary>
                <img src="{% static 'images/google-classroom-api.png' %}">
                you must enable both or nothing will work
                <span class="label-question" id="why-do-i-ask-for-pemission-to-view-your-grades-on-google-classroom">
                    <span class="label-title">Why do I ask for permission to view your grades on Google Classroom?</span>
                    This isn't actually a problem on my end. According to the <a href="https://developers.google.com/resources/api-libraries/documentation/classroom/v1/cpp/latest/classgoogle__classroom__api_1_1ClassroomService_1_1SCOPES.html">Google Classroom API documentation</a>, which contains every type of permission I can ask for, there isn't a single permission for just viewing your course work, and I'm forced to unintentionally ask to view grades. If you would like, you can inspect TimeWeb's <a href="https://github.com/ArhanChaudhary/TimeWeb/blob/master/timeweb/timewebapp/views.py">backend source code</a> to see I don't use your grades in any way.
                </span>
            </details>
            <details open>
                <summary class="minor-category" id="adding-google-classroom-assignments">Adding Google Classroom assignments</summary>
                reload to update gc assignments if a new one is posted
                refresh adds them after you go to home
                critieria
                old assignments are not re added
                <span class="label-question" id="why-does-loading-google-classroom-assignments-take-so-long">
                    <span class="label-title">Why does loading Google Classroom assignments take so long?</span>

                </span>
            </details>
        </span>
        <span>
            <div class="major-category" id="keybinds">Keybinds</div>
        </span>
        You've reached the end of TimeWeb's user guide! Feel free to <a href="mailto:arhan.ch@gmail.com">contact me</a> if you're still confused about something or you want to suggest adding anything. Have a great day!
    </div>
</div>
<template id="table-of-contents-major-category-template">
    <ul>
        <li>
            <a></a>
        </li>
        <ul></ul>
    </ul>
</template>
<template id="table-of-contents-minor-category-template">
    <li>
        <a></a>
    </li>
</template>
<template id="label-icon-template">
    <div class="label-icon-container">
        <img class="label-icon" height="25" src="{% static 'images/status-icons/question-mark.png' %}">
    </div>
</template>
{% endblock content %}