{% extends "template.html" %}
{% comment %}
Assignment form
    (explain every field); mention paranthesis on fields (mention leaving x empty makes a line)
    !when to use minute vs hour
    ?why is 1 and 60 greyed out
Assignment graph
    What is the graph
        (explain what it is)
    Graph buttons
        (explain all graph buttons)
        !why autotune and dynamic mode isnt perfect (it isnt meant to be)
        !autotune disabled at 10000
        !skew ratio isn't always the same distribution in dynamic mode
        ?why is there a delay after entering work input
Assignment priority
    Status messages
        (explain every status message) (difference between finished and completely finished)
        ?status value can make priority not sorted
Assignment tags
    (explain what they are and sortable)
Shortcut wrappers
    (explain what they are)
    ?how to use shortcuts (line wrapper things)
    ?why does autofill no work done sometimes not work (because they need to do autofill all)
Google Classroom API
    (explain what it is)
    (criteria for adding an assignment)
    !how does delete assignments of class know what to delete (the class name is the first tag)
    ?why does loading take so long (unenroll)
    ?why do I ask for permission to view grades
Accessibility
    tabbing
    keybinds {% endcomment %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/user-guide.css' %}">
{% endblock css %}

{% block js %}
<script src="{% static 'js/user-guide.js' %}"></script>
{% endblock js %}

{% block content %}
<div id="flex-container">
    <div id="table-of-contents-container">
        <span class="table-of-contents-header" id="category-table-of-contents">Table of contents</span>
        <span class="table-of-contents-header" id="category-important-labels">Important labels</span>
        <ul>
            <li class="do-not-hover">
                <span>FAQ</span>
            </li>
            <ul id="category-user-guide-labels"></ul>
        </ul>
        <ul>
            <li class="do-not-hover">
                <span>Notes</span>
            </li>
            <ul id="category-user-guide-notes"></ul>
        </ul>
    </div>
    {% comment %} Turn on word wrap if viewing from an IDE {% endcomment %}
    <div id="user-guide-container">

        {% comment %} span groups the major and minor categories together for user-guide.js {% endcomment %}
        <span><br><br>

            <div class="major-category">Introduction</div><br>
            <details open>
                <summary class="minor-category">Getting started</summary><br>
                Welcome! TimeWeb's user guide documents each of its features, quirks, and edge cases. Reading this isn't required, but doing so will clear up confusion you may have and greatly help with your user experience.<br><br>

                In this user guide, important notes and FAQs are marked with a label. For example:<br><br>

                <span class="label-question">
                    <span class="label-title">Why doesn't the internal date change after midnight?</span>
                    This behavior isn't a bug nor a glitch, but is actually intentional. Changing the date at midnight will result in showing the work for the next day despite the current work day not being finished. So, the internal date only changes to the next at the hardcoded value of 4 AM.
                </span><br>
                If you came here because you're confused about something specific, there's a good chance you'll find your answer in either the "Table of contents," which lists every category, or "Important labels," which lists every note and FAQ in this guide.<br>
            </details><br>
            
            <details open>
                <summary class="minor-category">What is TimeWeb and why should I use it?</summary><br>
                TimeWeb is a free, online time manager that prioritizes, sorts, and lists each of your daily school or work assignments. Unlike an ordinary planner, each of your inputted assignments' work is split up and neatly graphed over the days until they are due. Then, they are automatically prioritized so you will always know which assignment to do, when to do it, and how long it will take. TimeWeb's main focus is on customizability and convenience. As we'll get to later on in this guide, TimeWeb supports many advanced parameters that can be configured for you and your work style.<br><br>

                A few extra things to help with TimeWeb's credibility:
                <ul>
                    <li>TimeWeb scored an average of <a href="https://imgur.com/a/1cGhs8W">8.3/10</a> in overall user satisfaction in its incomplete beta</li>
                    <li>TimeWeb has been supported and received well by my school's principal</li>
                    <li>TimeWeb is <a href="https://github.com/ArhanChaudhary/TimeWeb">open source</a></li>
                </ul>
                If you would like, take a look at TimeWeb's <a href="https://youtu.be/[link]">YouTube demo</a> to get an idea of what you should expect your home page to look like.
            </details>
        </span>

    </div>
</div>
<template id="table-of-contents-major-category-template">
    <ul>
        <li>
            <a></a>
        </li>
        <ul></ul>
    </ul>
</template>
<template id="table-of-contents-minor-category-template">
    <li>
        <a></a>
    </li>
</template>
<template id="label-icon-template">
    <div class="label-icon-container">
        <img class="label-icon" height="25">
    </div>
</template>
{% endblock content %}