Introduction to timeweb, why its better than a normal planner, explain question marks (give after midnight as an example)
Form fields
    (explain every field)
    why is 1 and 60 greyed out
What is the graph
    (explain what it is)
Graph buttons
    (explain all graph buttons)
    autotune and dynamic mode isnt perfect (it isnt meant to be)
    what is skew ratio
    what does ignore for today do
    why is there a delay after entering work input
    how do i save numeric skew ratio values and why isnt it saving when i enter (focusout)
Status messages
    (explain every status message)
    difference between finished and completely finished (answer this too)
Assignment tags
    (explain what they are)
    sortable
Shortcut wrappers
    (explain what they are)
    how to use shortcuts (line wrapper things)
    why does autofill no work done sometimes not work (because they need to do autofill all)
Google Classroom API
    (explain what it is)
    how does delete assignments of class know what to delete (the class name is the first tag)
    why does loading take so long (enenroll)
    why do I ask for permission to view grades
Accessibility
    tabbing
    keybinds

