{% extends "common/base.html" %}
{% load static %}

{% block base_head_css %}
    <link rel="stylesheet" href="{% static 'common/css/app_base.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/jquery-confirm@3.3.4/dist/jquery-confirm.min.css" crossorigin="anonymous">
    {% block css %}{% endblock %}
{% endblock %}

{% block base_head_js %}
    <script src="https://unpkg.com/jquery@3.6.0/dist/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/darkmode-js@1.5.7/lib/darkmode-js.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'common/js/jquery_extensions.js' %}"></script>
    <script src="{% static 'common/vendor/jquery_confirm.min.js' %}"></script>
    <script src="{% static 'common/js/app_base.js' %}"></script>
    {% block js %}{% endblock %}
{% endblock %}

{% block base_head_body %}
<header>
    {% url 'home' as home %}
    {% url 'settings' as settings %}
    {% url 'user_guide' as user_guide %}
    {% url 'changelog' as changelog %}
    {% url 'contact' as contact %}
    {% url 'blog' as blog %}
    {% url 'policies' as policies %}
    {% if user.is_authenticated and request.path == home %}
        <div id="image-new-container" tabindex="1">
            <img width="60" height="60" src="{% static 'timewebapp/images/plus.webp' %}" alt="new" draggable="false"/>
            <div id="new-assignment-text">New Assignment</div>
        </div>
    {% endif %}
    <div id="menu" tabindex="2">
        <svg width="89px" height="70px">
            <rect y="24.75" x="32" width="25" height="4.25"></rect>
            <rect y="33" x="32" width="25" height="4.25"></rect>
            <rect y="41.25" x="32" width="25" height="4.25"></rect>
        </svg>
    </div>
    {% if user.is_authenticated %}
        <div id="user-greeting">
            <span id="welcome">Welcome, </span>
            <div tabindex="1" id="username">
                {{ user.username }}
                <div id="account-dropdown">
                    <form method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        <button type="submit">Log out</button>
                    </form>
                    <div class="nav-hr"></div>
                    <a href="{% url 'account_change_password' %}">Change Password</a>
                    <a href="{% url 'reset_username' %}">Change Username</a>
                    <a href="{% url 'account_email' %}">Manage<br>E-mail Login</a>
                    <a href="{% url 'socialaccount_connections' %}">Manage Google Login</a>
                </div>
            </div>
        </div>
    {% endif %}
    <nav>
        <div id="nav-menu">
            <svg width="89px" height="70px">
                <rect y="24.75" x="32" width="25" height="4.25"></rect>
                <rect y="33" x="32" width="25" height="4.25"></rect>
                <rect y="41.25" x="32" width="25" height="4.25"></rect>
            </svg>
        </div>
        <div id="nav-items">
            {% if request.path != home %}
                <a href={{ home }}>Home</a>
            {% endif %}
            {% if request.path != settings %}
                <a href="{{ settings }}">Settings</a>
            {% endif %}
            {% if request.path == home %}
                <div id="nav-next-day" tabindex="0">See Tomorrow</div>
                <div id="nav-close-assignments" tabindex="0">Close all Assign-<br>ments</div>
            {% endif %}
            <div class="nav-hr"></div>
            {% if request.path != user_guide %}
                <a href="{{ user_guide }}">User Guide</a>
            {% endif %}
            {% if request.path != changelog %}
                <a href="{{ changelog }}">Changelog</a>
            {% endif %}
            {% if request.path != contact %}
                <a href="{{ contact_form }}">Contact</a>
            {% endif %}
            <div class="nav-hr"></div>
            <div id="nav-a2hs" tabindex="0">Install on Home Screen</div>
            <a href="{{ blog }}" id="nav-blog">Blog</a>
            <div id="nav-credits" tabindex="0">Credits</div>
            <a href="{{ policies }}">Policies</a>
        </div>
    </nav>
    <a href="{{ home }}" id="logo-container">
        <img width="193.58" height="55" src="{% static 'timewebapp/images/timeweb.webp' %}" border="0" draggable="false"/>
        <!-- cite https://fontmeme.com/fonts/alba-font/ https://fontmeme.com/permalink/201230/276691b6653dba95c45110441239adff.png -->
        {% comment %} Color stop: #2BC6C7 to #2A2D57 {% endcomment %}
    </a>
</header>
<main tabindex="-1">
    {% comment %} Use an inline script so .animate is added as EARLY as possible, otherwise the unanimated frames can show up {% endcomment %}
    <script nonce="{{request.csp_nonce}}">
        if ("animation-ran" in sessionStorage || !$("#image-new-container").length) {
            $("main").addClass("finished-header-transition");
        }
    </script>
    {% block content %}{% endblock content %}
    <div id="loading-container">
        <div class="loading-circle"></div>
        <div class="loading-circle"></div>
        <div class="loading-circle"></div>
        <div class="loading-circle"></div>
        <div class="loading-circle"></div>
        <div class="loading-circle"></div>
        <div class="loading-circle"></div>
        <div class="loading-circle"></div>
    </div>
    <template id="info-button-template">
        <div class="info-button" tabindex="-1">
            i<span class="info-button-text"></span>
        </div>
    </template>
    <template id="credits-template">
        Images used:
        <ul>
            <li><a href="https://fontmeme.com/fonts/alba-font/">TimeWeb logo</a></li>
            <li><a href="https://www.pngitem.com/middle/TiRihwJ_plus-button-green-png-download-plus-button-green/">Plus icon</a></li>
            <li><a href="https://adioma.com/icons/question-mark" target="_blank">Question mark icon</a> by <a href="https://adioma.com">Adioma</a></li>
            <li><a href="https://www.flaticon.com/free-icon/invisible_565655" target="_blank">Invisible icon</a> by <a href="https://www.flaticon.com/authors/google" target="_blank">Google</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></li>
            <li><a href="https://www.flaticon.com/free-icon/visibility_565654" target="_blank">Visibility icon</a> by <a href="https://www.flaticon.com/authors/google" target="_blank">Google</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></li>
            <li><a href="https://iconscout.com/icon/edit-1780339" target="_blank">Edit icon</a> by <a href="https://iconscout.com/contributors/google-inc">Google Inc.</a> from <a href="https://iconscout.com">Iconscout</a></li>
            <li><a href="https://www.flaticon.com/free-icon/trash_3096687" target="_blank">Trash icon</a> by <a href="https://www.flaticon.com/authors/bqlqn" title="bqlqn">bqlqn</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></li>
            <li><a href="https://iconscout.com/icon/caret-double-down-3609859" target="_blank">Caret double down icon</a> by <a href="https://iconscout.com/contributors/phosphoricons">Phosphor Icons</a> from <a href="https://iconscout.com">Iconscout</a></li>
            <li><a href="https://www.iconfinder.com/icons/298738/check_icon" target="_blank">Check icon</a> by <a href="https://github.com/">Github</a> from <a href="https://www.iconfinder.com">Iconfinder</a></li>
            <li><a title="icona x png 6" href="https://pngimage.net/icona-x-png-6/">icona x png 6</a></li>
            <li><a href="https://iconscout.com/icons/external-link" target="_blank">External link Icon</a> by <a href="https://iconscout.com/contributors/unicons">Unicons Font</a> on <a href="https://iconscout.com">IconScout</a></li>
        </ul>
        Special thanks to these awesome people:
        <ul>
            <li>Charles P. for designing TimeWeb's <a href="/favicon.ico">favicon</a></li>
            <li><a href="https://github.com/RedBlueBird" target="_blank">Jeffrey Zhang</a> for the <a href="https://github.com/ArhanChaudhary/TimeWeb/issues/3" target="_blank">curvature autotuning regression algorithm</a></li>
            <li>Stanley Ho and Kevin Chu for frequently suggesting many features and giving user interface advice</li>
        </ul>
        <!--
        completely_finished.svg: ascii character
        finished.svg: ascii character
        unfinished.svg: ascii character
        slashed_tick.svg: made myself and inspired by the check icon
        open_all_assignments.webp: made myself
        close_all_assignments.webp: made myself
        settings.webp: citation not needed (https://www.iconfinder.com/icons/326699/settings_icon)
        -->
    </template>
</main>
{% endblock %}