body {
    --roboto-font-weight: 700;
}
#flex-container {
    height: calc(var(--100vh) - 70px);
    /* Cancel out paddings */
    margin-top: -10px;
    margin-bottom: -10px;
    display: flex;
    position: relative;
}
#table-of-contents-container > ul, #category-doc-labels > li {
    margin-top: 10px;
    margin-bottom: 10px;
}
#table-of-contents-container.active {
    transform: none;
}
#table-of-contents-container {
    height: 100%;
    box-shadow: 0 0 6px 2px hsl(0, 0%, 50%);
    overflow-x: hidden;
    overflow-y: auto;
    width: 300px;
    position: relative;
    z-index: 2;
    background-color: hsl(0, 0%, 93%);
}
@-webkit-keyframes slideLabelIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: none;
    }
}
@keyframes slideLabelIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: none;
    }
}
main {
    padding-left: 0 !important;
    padding-right: 0 !important;
    box-shadow: none !important;
}
main ul {
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
}
#table-of-contents-container:not(.table-of-contents-header) {
    font-size: 14px;
}
#table-of-contents-container > .table-of-contents-item {
    margin-top: 15px;
    margin-bottom: 15px;
    -webkit-padding-start: 28px;
            padding-inline-start: 28px;
}
.table-of-contents-header {
    display: block;
    position: sticky;
    background-color: inherit;
    filter: brightness(0.95);
    line-height: 40px;
    text-align: center;
    font-family: 'Roboto Slab';
    font-weight: var(--roboto-font-weight);
    font-size: 20px;
}
#category-table-of-contents {
    top: 0;
}
#category-important-labels {
    top: 40px;
}
#table-of-contents-container li {
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
}
#table-of-contents-container a {
    color: black;
    -webkit-text-decoration-color: hsla(0, 0%, 0%, 0.3);
            text-decoration-color: hsla(0, 0%, 0%, 0.3);
}
#doc-container {
    --container-padding-right: 50px;
    --container-padding-left: 70px;
    padding-left: var(--container-padding-left);
    padding-right: var(--container-padding-right);
    padding-bottom: 150px;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 90ch;
    position: relative;
}

#doc-container::-webkit-scrollbar {
    width: 14px;
}
#doc-container::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 6px hsla(0, 0%, 0%, 0.3);
}
#doc-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px hsla(0, 0%, 0%, 0.5);
}
code {
    font-weight: 400;
}
.major-category {
    box-sizing: border-box;
    width: calc(100% + 2 * var(--container-padding-left));
    margin-left: calc(-1 * var(--container-padding-left));
    padding-left: var(--container-padding-left);
    padding-right: 35px;
    margin-top: 2em;
    background-color: white;
    box-shadow: 0 0 9px -7px hsl(0, 0%, 52%);
    font-family: 'Roboto Slab';
    font-weight: var(--roboto-font-weight);
    font-size: 40px;
    z-index: 1;
    position: sticky;
    top: 0;

    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.major-category.isSticky::before {
    box-shadow: none;
}
.written-on {
    transform: translateX(-45px);
}
summary {
    cursor: pointer;
}
.img-positioner {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}
.img-positioner img {
    filter: drop-shadow(0 9px 10px hsl(0, 0%, 50%));
    --image-margin: 20px;
    max-height: 600px;
    max-width: calc(100% + var(--container-padding-left) + var(--container-padding-right) - 2 * var(--image-margin));
    margin-right: calc(-1 * var(--container-padding-right) + var(--image-margin));
    margin-left: calc(-1 * var(--container-padding-left) + var(--image-margin));
}

.minor-category {
    margin-top: 2rem;
    margin-left: -30px;
    font-family: 'Roboto Slab';
    font-weight: var(--roboto-font-weight);
    font-size: 30px;
}
.minor-minor-category {
    font-family: 'Roboto Slab';
    font-weight: var(--roboto-font-weight);
    font-size: 21px;
}
.label-question {
    --label-color: rgb(150, 232, 253);
}
.label-question {
    display: block;
    position: relative;
    white-space: normal;
    padding-bottom: 12px;
    width: 100%;
}
.label-question::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: scaleX(2);
    background-color: var(--label-color);
}
.label-title {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 25px;
    font-weight: var(--roboto-font-weight);
    font-family: 'Roboto Slab';
}
.label-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5px;
    left: -60px;
    width: 40px;
    height: 40px;
    background-color: hsl(196deg, 76%, 66%);
    border-radius: 50%;
}
.label-icon {
    position: absolute;
}
#hamborger-menu {
    top: 0;
    left: 0;
    position: absolute;
    cursor: pointer;
    display: none;
}