#doc-container span > ul {
    -webkit-margin-before: 1em;
            margin-block-start: 1em;
    -webkit-margin-after: 1em;
            margin-block-end: 1em;
}
#table-of-contents-container {
    width: 260px;
}

/* Make sure to change user_guide.css and others if this media query is modified */
@media screen and (max-width: 790px) {
    #table-of-contents-container {
        position: absolute;
        z-index: 2;
        transform: translateX(-100%) translateX(-5px);
        transition: transform 0.2s ease-out;
    }
    #hamborger-menu {
        display: initial;
    }
}