#doc-container span > ul {
    -webkit-margin-before: 1em;
            margin-block-start: 1em;
    -webkit-margin-after: 1em;
            margin-block-end: 1em;
}
#table-of-contents-container, #table-of-contents-container-label {
    width: 260px;
}

/* Make sure to change user_guide.css and others if this media query is modified */
@media screen and (max-width: 790px) {
    #table-of-contents-container {
        position: absolute;
        z-index: 2;
        transform: translateX(-100%) translateX(-5px);
        transition: transform 0.2s ease-out;
    }
    #table-of-contents-container-label {
        display: block;
        position: absolute;
        transform: translateX(-100%) translateX(-5px);
        -webkit-animation: slideLabelIn 0.35s ease-out 0.2s 1 forwards;
                animation: slideLabelIn 0.35s ease-out 0.2s 1 forwards;
    }
}