#doc-container {
    white-space: normal;
}
#doc-container span > ul {
    -webkit-margin-before: 1em;
            margin-block-start: 1em;
    -webkit-margin-after: 1em;
            margin-block-end: 1em;
}
#table-of-contents-container {
    width: 250px;
}
#table-of-contents-container div.table-of-contents-item {
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 40px;
}
.table-of-contents-item {
    white-space: nowrap;
}
/* Make sure to change user_guide.css and others if this media query is modified */
@media screen and (max-width: 910px) {
    #table-of-contents-container {
        position: absolute;
        z-index: 2;
        transform: translateX(-100%) translateX(-5px);
        transition: transform 0.2s ease-out;
    }
    #hamborger-menu {
        display: var(--display);
    }
}