main {
    overflow-y: hidden;
}
main form {
    padding: 0 1em;
    margin: 0 auto;
    font-size: 17px;
    max-width: 1000px;
}
#settings-scroller {
    overflow-y: auto;
    height: 100%;
    padding-top: 10px;
    margin-top: -10px;
}
main form > .error-note:first-of-type {
    margin-top: 30px;
}
body {
    --body-background: hsl(0, 0%, 93%);
}
.field-group {
    margin: 40px 0 19px;
    --box-shadow: 0 0 13px -12px var(--color);
    box-shadow: var(--box-shadow);
    --background-color: hsl(0, 0%, 96%);
    background-color: var(--background-color);
    padding: 15px;
    border-radius: 15px;
}
.field-group .field-container:last-child {
    margin-bottom: initial;
}
.field-group-label {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    --lightness: 37%;
    color: hsl(196, 34%, var(--lightness));
}
.field-container {
    margin: 10px 0 10px 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.field-container > * {
    max-width: 50ch;
}
.left-side-of-field {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
}
.right-side-of-field > * {
    box-sizing: border-box;
    width: 157px;
    border-color: var(--color);
}
.right-side-of-field > :not(.error-note) {
    margin: unset;
}
.right-side-of-field > input,
.right-side-of-field > textarea,
.right-side-of-field > select {
    font-size: 14px;
    border-width: 1px;
    background-color: var(--primary);
}
.right-side-of-field > input:not([type="file"]) {
    border: 1px solid var(--color);
}
.right-side-of-field > :not(#break-days-wrapper) {
    display: block;
}
.right-side-of-field > .single-action-label {
    height: initial !important;
}
[type="checkbox"] ~ .single-action-label::before {
    width: 100% !important;
    left: 0 !important;
    font-size: 14px;
}
[type="checkbox"]:not(:checked) ~ .single-action-label::before {
    transform: scaleX(0);
}
[type="checkbox"]:checked ~ .single-action-label::before {
    transform: none;
}
[type="checkbox"]:checked ~ .single-action-label {
    color: white;
}
::file-selector-button {
    display: block;
    width: 100%;
    border-radius: unset;
    color: var(--color);
}
[type="checkbox"] {
    display: none !important;
}
.toggle-text {
    flex: 1;
    text-align: center;
}
[type="checkbox"] ~ label:not(.break-days-label) {
    position: relative;
    --checkbox-widget-primary-color-lightness: 57%;
    --checkbox-widget-primary-color: hsl(182, 49%, var(--checkbox-widget-primary-color-lightness));
    border: 2px solid var(--checkbox-widget-primary-color);
    background-color: var(--primary);
    display: flex !important;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 33px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    /* position "Clear image" text */
    z-index: 1;
    transition: all 0.1s ease-in-out;
}
[type="checkbox"] ~ label:not(.break-days-label):hover:active {
    --box-shadow: 0 0 11px -1px hsl(0, 0%, 73%);
    box-shadow: var(--box-shadow);
    filter: none;
}
[type="checkbox"] ~ label:not(.break-days-label)::before {
    content: '';
    position: absolute;
    z-index: -1;
    /* height: 100% on lower zoom percentages doesn't take up the entire container */
    /* Don't use top: -1px because it isn't needed */
    height: calc(100% + 1px); 
    left: -1px;
    width: calc(50% + 2px);

    background-color: var(--checkbox-widget-primary-color);
    transition: 0.25s ease-in-out;
    transition-property: background-color, transform;
    transform-origin: left;
}
[type="checkbox"]:checked ~ label::before {
    transform: translateX(77px);
}
[type="file"] {
    border: none;
    /* Two <input>s (second from shadow dom) double down on padding */
    padding: 0;
}
.center-or {
    margin: 5px 0;
    text-align: center;
}
.field-description {
    font-size: 0.8em;
    opacity: 0.7;
}
#break-days-wrapper {
    flex-wrap: wrap;
    height: revert;
    border-radius: 0;
    border-color: inherit;
}
#break-days-wrapper .br + input + .break-days-label {
    border-left: unset;
}
#break-days-wrapper > .br {
    flex-basis: 100%;
    height: 0;
}
#break-days-wrapper > .br ~ :not(.br) {
    border-top: inherit;
}
#break-days-wrapper .break-days-label {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 14px;
    border-top-color: var(--color) !important;
    border-left-color: var(--color) !important;
}
#reset-settings-button {
    font-size: 20px;
    width: 100%;
    margin-bottom: 50px;
    height: 50px;
}
#reset-settings-button:focus:not(:hover) {
    outline: 0;
    box-shadow: 0 0 0 1px hsl(0, 0%, 58%);
}
@media screen and (max-width: 750px) {
    .field-container {
        align-items: unset;
        flex-flow: column;
    }
}