main form {
    padding: 0 1em;
    margin: 0 auto;
    font-size: 17px;
    max-width: 1000px;
}
main form select {
    display: block;
}
.right-side-of-field:not([type="file"]) > * {
    border: 1px solid black;
    margin: unset;
    box-sizing: border-box;
    width: 157px;
}
.right-side-of-field > :not(#break-days-wrapper) {
    display: block;
}
.button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0;
}
#reset-settings-button, #submit-settings-button {
    font-size: 20px;
    margin-top: 5px;
    border-width: 2px;
    width: min(600px, calc(50% - 10px));
    height: 50px;
    margin-bottom: 100px;
}
#reset-settings-button {
    margin-right: 10px;
}
#submit-settings-button {
    margin-left: 10px;
}
.field-group {
    margin: 40px 0 19px;
}
.field-container {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.field-container > * {
    max-width: 50ch;
}
.left-side-of-field {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
}
.field-group-label {
    font-weight: 700;
    font-size: 20px;
    margin-left: -0.5em;
    color: rgb(62, 109, 126);
}
table {
    width: 100%;
    -webkit-border-horizontal-spacing: 5px;
    -webkit-border-vertical-spacing: 5px;
}
form img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    box-sizing: border-box;
    width: min(100%, 500px);
    box-shadow: 0 0 3px 1px gray;
}
.hitbox-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.field-description {
    font-size: 0.8em;
    opacity: 0.7;
}
@media screen and (max-width: 750px) {
    .field-container {
        align-items: unset;
        flex-flow: column;
    }
}
#dark-mode body {
    --body-background: radial-gradient(circle, rgb(10,10,10) 0, rgb(58,58,58) 100%);
}
#dark-mode #break-days-wrapper,
#dark-mode main,
#dark-mode .jscolor,
#dark-mode td img,
#dark-mode input[type="checkbox"] {
    filter: invert(1);
}
