.label-question p:first-of-type {
    margin-top: 0;
}
.label-question p:last-of-type {
    margin-bottom: 0;
}
/* Make sure to change changelog.css and others if this media query is modified */
@media screen and (max-width: 1170px) {
    #table-of-contents-container {
        position: absolute;
        z-index: 2;
        transform: translateX(-100%) translateX(-5px);
        transition: transform 0.2s ease-out;
    }
    #hamborger-menu {
        display: initial;
    }
}