html {
    color-scheme: dark;
}
body {
    /* do not move background-image to #circles-background to prevent the white background rebound because that messes up the goo */
    background-image: linear-gradient(150deg, hsl(197deg 41% 15%) 0%, hsl(225, 10%, 10%) 100%);
    background-attachment: fixed;
    color: hsl(0, 0%, 84%);
    --primary-blue: hsl(217deg 72% 58%);
}
a, :visited {
    /* override .dark a and other base.css stylings */
    color: var(--primary-blue) !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: hsl(0, 0%, 84%);
}
#accounts-container {
    border-radius: 10px;
    position: relative;
    border: 5px solid hsl(195deg 34% 44%);
    box-shadow: 0 0 93px 12px hsl(197deg 41% 27%);
    width: clamp(290px, calc(100vw - 40px), 600px);
    --accounts-background: hsl(195deg 44% 8%);
    background: var(--accounts-background);
    /* Ensures this doesnt overflow at the top */
    margin: auto;
    box-sizing: border-box;
    padding: 15px 40px 25px;
}
#accounts-container :focus {
    outline: 2px solid hsl(218deg 70% 50%);
    border-radius: 2px;
}
#accounts-container a:focus {
    outline-color: hsl(218deg 100% 50%);
}
#accounts-container > a:first-of-type img {
    display: block;
    margin: auto;
    margin-bottom: 5px;
}
#accounts-container > h1:first-of-type {
    margin-top: 0;
}
#accounts-arrow-anchor {
    display: none; /* unused css for now, put this on #accounts-anchor so it doesn't get focused */
    position: absolute;
    left: 0;
}
#accounts-arrow-container {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    --background-color: hsl(0, 0%, 39%);
}
#accounts-arrow-horizontal {
    width: 30px;
    height: 2px;
    background-color: var(--background-color);
}
#accounts-arrow-container::before, #accounts-arrow-container::after {
    content: "";
    position: absolute;
    border-bottom: solid 2px var(--background-color);
    border-left: solid 2px var(--background-color);
    width: 12px;
    height: 12px;
    transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.75s;
}
#accounts-arrow-container::before {
    transform: rotate(45deg) translate(1px, -1px);
}
#accounts-arrow-container:hover::before {
    transform: rotate(45deg) translate(-20px, 20px) scale(0.5);
    opacity: 0;
}
#accounts-arrow-container::after {
    transform: rotate(45deg) translate(22px, -22px) scale(0.5);
    opacity: 0;
}
#accounts-arrow-container:hover::after {
    transform: rotate(45deg) translate(1px, -1px);
    opacity: 1;
}
#logo-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo-container img {
    max-height: 80px;
    max-width: 100%;
    display: block; /* prevent the random 5px padding gap beneath the image */
}
#logo-anchor {
    margin-bottom: 5px;
}
.password-field-container {
    position: relative;
    display: flex;
    align-items: center;
}
.password-image {
    position: absolute;
    right: 10px;
    cursor: pointer;
    filter: invert(0.8);
}
.hide-password-image {
    display: none;
}
#circles-background {
    filter: url("#goo");
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    --max-animation-duration: 30s;
    --min-animation-duration: 10s;
    --max-size: calc(5vw + 40px);
    --min-size: calc(0.8vw + 15px);
}
#circles-background .bubble-up {
    position: absolute;
    /* --random-x: 0px !important; */
    --animation-duration: calc(var(--max-animation-duration) - var(--circle-number) * (var(--max-animation-duration) - var(--min-animation-duration))/var(--highest-circle-number) + var(--random-delay));
    animation: bubbleUp var(--animation-duration) linear -5000s infinite normal;
}
#circles-background .bubble-up .bubble-right {
    /* background-image: url("../images/a.jpeg") !important;
    background-size: contain !important; */
    width: calc(var(--max-size) - var(--circle-number) * (var(--max-size) - var(--min-size)) / var(--highest-circle-number));
    height: calc(var(--max-size) - var(--circle-number) * (var(--max-size) - var(--min-size)) / var(--highest-circle-number));
    border-radius: 50%;
    --original-animation-timing-function: cubic-bezier(0.5, 0.06, 0.5, 0.94);
    animation: bubbleRight var(--animation-duration) var(--original-animation-timing-function) -5000s infinite normal;
}
@-webkit-keyframes bubbleUp {
    from {
        transform: translateY(var(--100vh));
    }
    to {
        transform: translateY(-100%);
    }
}
@keyframes bubbleUp {
    from {
        transform: translateY(var(--100vh));
    }
    to {
        transform: translateY(-100%);
    }
}
@-webkit-keyframes bubbleRight {
    from {
        transform: translateX(calc(var(--x) - var(--random-x)));
    }
    to {
        transform: translateX(calc(var(--x) + var(--random-x)));
    }
}
@keyframes bubbleRight {
    from {
        transform: translateX(calc(var(--x) - var(--random-x)));
    }
    to {
        transform: translateX(calc(var(--x) + var(--random-x)));
    }
}
.socialaccount-container {
    margin-top: 1em;
}
.socialaccount-button {
    padding: 10px 0;
    position: relative;
    background: hsl(209, 44%, 11%);
    /* Don't make the box-sizing border-box or else the top and bottom paddings wont work */
    width: calc(100% - 2px);
    box-sizing: unset;
    height: 30px;
    cursor: pointer;

    border: 1px solid var(--primary-blue);
    /* https://stackoverflow.com/questions/22446148/css-box-shadow-transition */
    box-shadow: inset 0 0 0 0 transparent, 0 0 3px 1px hsla(218, 100%, 50%, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s cubic-bezier(.5,-1,.5,2);
    transition-property: transform, box-shadow, background;
}
.socialaccount-button:hover, .socialaccount-button:focus {
    transform: scale(1.05, 1.02);
    box-shadow: inset 0 0 0 0 transparent, 0 0 4px 1px hsla(218, 100%, 50%, 0.8);
    background: var(--accounts-background);
}
.socialaccount-button:focus {
    box-shadow: inset 0 0 0 1px hsl(218deg 100% 50%), 0 0 0 0 transparent;
    border-color: hsl(218deg 100% 50%);
    /* Override #assignments-container :focus */
    outline: none !important;
    border-radius: initial !important;
}
.socialaccount-button:active {
    top: 1px;
}
.socialaccount-image {
    height: calc(100% - 8px);
    margin-right: 8px;
}
.socialaccount_provider {
    font-size: 15px;
    color: var(--primary-blue);
    text-decoration: none;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--100vh);
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.add-input-margin {
    margin-bottom: 2em !important;
}
input:not([type="submit"], [type="checkbox"], [type="radio"]), textarea {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border: none;
    color: inherit;
    box-shadow: inset 0 0 2px 1px white;
    background: var(--accounts-background) !important;
    height: 36px;
    border-radius: 4px;
    padding-left: 15px;
}
input:not([type="submit"]):focus, textarea:focus {
    box-shadow: inset 0 0 0 2px hsl(218deg 70% 50%) !important;
    /* Override #accounts-container :focus */
    outline: 0 !important;
    border-radius: 4px !important;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
}
.hr-interrupt {
    position: absolute;
    left: 50%;
    padding: 0 5px;
    transform: translate(-50%, -34px);
    background-color: var(--accounts-background);
}


.submit-button[no-top-margin] {
    margin-top: initial; /* for connections.html */
}
.submit-button {
    width: 100%;
    background: hsl(204deg 78% 33%);
    color: hsl(0, 0%, 85%);
    border: none;
    padding: 5px 5px;
    margin-top: 30px;
    cursor: pointer;
    font: inherit;
    /* Normalize other styles (i.e from anchor tags) */
    text-decoration: none;
    display: block;
    text-align: center;
}
.submit-button:focus, .submit-button:hover {
    background: hsl(204deg 58% 40%);
    color: white;
}
.submit-button:focus {
    /* Override #accounts-container :focus */
    border-radius: initial !important;
    outline-width: 1px !important;
    outline: 0 !important;
}
.submit-button:active {
    transform: translateY(1px);
    background: hsl(204deg 68% 30%);

}


#svg-defs {
    position: absolute;
    width: 0;
    height: 0;
}
.grecaptcha-badge {
    transform-origin: right;
    transform: scale(0.85);
    position: absolute !important;
    top: 92px;
    right: 40px !important;
}