body {
    /* "Sweet airan" gradient from https://www.eggradients.com/category/white-gradient */
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}
#accounts-container {
    border-radius: 10px;
    box-shadow: 0 0 100px -63px black;
    position: relative;
    width: clamp(290px, calc(100vw - 100px), 600px);
    background: white;
    margin: auto;
    box-sizing: border-box;
    padding: 15px 40px 25px;
}
#accounts-container > a:first-of-type img {
    display: block;
    margin: auto;
    margin-bottom: 5px;
}
#accounts-container > h1:first-of-type {
    margin-top: 0;
}
#accounts-arrow-anchor {
    position: absolute;
    left: 0;
}
#accounts-arrow-container {
    width: 50px;
    height: 50px;
    display: flex;
    display: none; /* unused css for now */
    align-items: center;
}
#accounts-arrow-horizontal {
    width: 30px;
    height: 2px;
    background-color: #afafaf;
}
#accounts-arrow-container::before, #accounts-arrow-container::after {
    content: "";
    position: absolute;
    border-bottom: solid 2px #afafaf;
    border-left: solid 2px #afafaf;
    width: 12px;
    height: 12px;
    transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.75s;
}
#accounts-arrow-container::before {
    transform: rotate(45deg) translate(1px, -1px);
}
#accounts-arrow-container:hover::before {
    transform: rotate(45deg) translate(-20px, 20px) scale(0.5);
    opacity: 0;
}
#accounts-arrow-container::after {
    transform: rotate(45deg) translate(22px, -22px) scale(0.5);
    opacity: 0;
}
#accounts-arrow-container:hover::after {
    transform: rotate(45deg) translate(1px, -1px);
    opacity: 1;
}
#logo-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#circles-background {
    filter: url("#goo");
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    --max-animation-duration: 30s;
    --min-animation-duration: 10s;
    --max-size: calc(5vw + 40px);
    --min-size: calc(0.8vw + 15px);
}
#circles-background .bubble-up {
    position: absolute;
    --animation-duration: calc(var(--max-animation-duration) - var(--circle-number) * (var(--max-animation-duration) - var(--min-animation-duration))/var(--highest-circle-number) + var(--random-delay));
    animation: bubbleUp var(--animation-duration) linear 0s infinite normal;
}
#circles-background .bubble-up .bubble-right {
    width: calc(var(--max-size) - var(--circle-number) * (var(--max-size) - var(--min-size)) / var(--highest-circle-number));
    height: calc(var(--max-size) - var(--circle-number) * (var(--max-size) - var(--min-size)) / var(--highest-circle-number));
    border-radius: 50%;
    animation: bubbleRight var(--animation-duration) cubic-bezier(0.5, 0.0625, 0.5, 0.9375) 0s infinite normal;
}
@keyframes bubbleUp {
    from {
        transform: translateY(100vh);
    }
    to {
        transform: translateY(-100%);
    }
}
@keyframes bubbleRight {
    from {
        transform: translateX(calc(var(--x) - var(--random-x)));
    }
    to {
        transform: translateX(calc(var(--x) + var(--random-x)));
    }
}
.socialaccount-container {
    margin-top: 1em;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
a {
    color: rgb(50, 87, 255);
}
.add-input-margin {
    margin-bottom: 2em;
}
input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]), textarea {
    width: 100%;
    margin-top: 5px;
    box-sizing: border-box;
    border: none;
    box-shadow: inset 0 0 3px black;
    background: white !important;
    height: 36px;
    border-radius: 4px;
    padding-left: 15px;
}
input:not([type="submit"]):focus, textarea:focus {
    box-shadow: inset 0 0 0 2px rgb(0, 109, 249) !important;;
    outline: 0;
}
.error-note, .success-note {
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 16px 10px;
    width: 100%;
    margin-bottom: 15px;
    box-sizing: border-box;
}
.error-note {
    background: rgba(255, 68, 12, 0.05);
    color: rgb(237 28 36);
    border: 1px solid rgb(237 28 36);
}
.success-note {
    background: rgba(68, 255, 12, 0.05);
    color: rgb(0 190 53);
    border: 1px solid rgb(28, 186, 0);
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
}
.hr-interrupt {
    position: absolute;
    left: 50%;
    padding: 0 5px;
    transform: translate(-50%, -34px);
    background-color: white;
}
#submit-button {
    width: 100%;
    background: rgb(0, 109, 249);
    color: white;
    border: none;
    padding: 5px 5px;
    margin-top: 30px;
    cursor: pointer;
    font: inherit;
}
#submit-button:focus, #submit-button:hover {
    background: rgba(0, 109, 249, 0.9);
    outline: 0;
}
#submit-button:active {
    transform: translateY(1px);
}

#goo-svg {
    position: absolute;
    width: 0;
    height: 0;
}
.grecaptcha-badge {
    transform-origin: right;
    transform: scale(0.85);
    position: absolute !important;
    top: 92px;
    right: 40px !important;
}