label {
    display: block;
}
#under-password {
    white-space: nowrap;
    overflow: hidden;
}
.field-container {
    position: relative;
    display: flex;
    align-items: center;
}
.password-image {
    position: absolute;
    right: 10px;
    cursor: pointer;
}
.hide-password-image {
    display: none;
}
.socialaccount-button {
    padding: 10px 0;
    position: relative;
    background: rgb(238, 245, 255);
    width: calc(100% - 2px);
    box-sizing: unset;
    height: 30px;
    cursor: pointer;

    border: 1px solid rgb(13, 106, 255);
    box-shadow: 0 0 3px 1px rgba(13, 106, 255, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s cubic-bezier(.5,-1,.5,2), margin 0s;
}
.socialaccount-button:hover {
    transform: scale(1.05, 1.02);
    box-shadow: 0 0 4px 1px rgba(13, 106, 255, 0.5);
    background: white;
}
.socialaccount-button:active {
    margin-top: 1px;
    margin-bottom: -1px;
}
.socialaccount-image {
    height: calc(100% - 8px);
    margin-right: 8px;
}
.socialaccount_provider {
    font-size: 15px;
    color: rgb(13, 106, 255);
    text-decoration: none;
}
form span:first-of-type label {
    /* gap showing up for no reason >:( */
    margin-top: -5px;
}
#under-password {
    display: flex;
    flex-wrap: wrap;
}
#example-message {
    margin-left: auto;
}
#forgor-password {
    margin-right: 10px;
}