{% extends "common/app_base.html" %}
{% load static %}

{% block css %}
    <link href="https://unpkg.com/@fontsource/roboto-slab@4.5.4/700.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'navbar/css/base.css' %}">
    {% block navbar_css %}{% endblock navbar_css %}
{% endblock css %}

{% block js %}
    <script src="{% static 'navbar/js/base.js' %}"></script>
    {% block navbar_js %}{% endblock navbar_js %}
{% endblock js %}

{% block content %}
    <div id="flex-container">
        <div id="table-of-contents-container-label" tabindex="0">
            <span class="table-of-contents-header" id="category-table-of-contents-label">Table of contents</span>
        </div>
        <div id="table-of-contents-container">
            <span class="table-of-contents-header" id="category-table-of-contents">Table of contents</span>
            {% if add_faq %}<span class="table-of-contents-header" id="category-important-labels">FAQs</span>{% endif %}
            <ul id="category-doc-labels"></ul>
        </div>
        {% comment %} Turn on word wrap if viewing from an IDE {% endcomment %}
        <div id="doc-container">
            {% block doc_content %}{% endblock doc_content %}
        </div>
    </div>
    <template id="table-of-contents-major-category-template">
        <details class="table-of-contents-item" open>
            <summary>
                <span></span>
            </summary>
            <ul></ul>
        </details>
    </template>
    <template id="table-of-contents-minor-category-template">
        <li class="table-of-contents-item">
            <a></a>
        </li>
    </template>
    <template id="label-icon-template">
        <div class="label-icon-container">
            <svg viewBox="4.30 -1127.89 734.94 1117.89" class="label-icon" height="25" width="16.45" preserveAspectRatio="none">
                <use height="25" width="16.45" href="#question_mark-svg"></use>
            </svg>
        </div>
    </template>
    <svg width="0" height="0">
        <defs>
          {% include "question_mark.svg" %}
        </defs>
    </svg>
{% endblock content %}