{% extends "navbar/base.html" %}
{% load static %}

{% block head_title %}Changelog{% endblock %}

{% block _css %}
    <link rel="stylesheet" href="{% static 'navbar/css/changelog.css' %}">
{% endblock %}

{% block _content %}
    {% autoescape off %}
        {% for changelog in changelogs %}
            <span>
                <div class="major-category" id="{{ changelog.version }}">{{ changelog.version }} ({{ changelog.date }})</div>
                <ul>
                {% for update in changelog.updates %}
                    <li>{{ update }}</li>
                {% endfor %}
                <ul>
                {% for bugfix in changelog.bugfixes %}
                    <li>{{ bugfix }}</li>
                {% endfor %}
                </ul>
                </ul>
            </span>
        {% endfor %}
    {% endautoescape %}
{% endblock %}