{% extends "common/app_base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="https://unpkg.com/daterangepicker@3.1.0/daterangepicker.css" crossorigin="anonymous"/>
    {% comment %} Order of these stylesheets matters {% endcomment %}
    <link rel="stylesheet" href="{% static 'timewebapp/css/form.css' %}">
    <link rel="stylesheet" href="{% static 'navbar/css/settings.css' %}">
{% endblock %}

{% block js %}
    {{ default_settings|json_script:"default-settings" }}
    <script src="https://unpkg.com/moment-mini@2.24.0/moment.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/daterangepicker@3.1.0/daterangepicker.js" crossorigin="anonymous"></script>
    <script src="{% static 'navbar/js/settings.js' %}"></script>
{% endblock %}

{% block content %}
    {% comment %} Injects libraries for the color picker {% endcomment %}
    {{ form.media }}
    <form method="POST" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        {% for error in form.non_field_errors %}
            <div class="error-note">{{ error|escape }}</div>
        {% endfor %}
        {% for field in form.visible_fields %}
            {% if field.name == "enable_gc_integration" or field.name == "def_min_work_time" or field.name == "def_skew_ratio" or field.name == "show_priority" or field.name == "default_dropdown_tags" or field.name == "appearance" or field.name == "sorting_animation_threshold" %}
                {% if field.name != "enable_gc_integration" %}
                    </div>
                {% endif %}
                <div class="field-group">
                    <span class="field-group-label">
                        {% if field.name == "enable_gc_integration" %}
                            Integrations
                        {% elif field.name == "def_min_work_time" %}
                            Assignment Form
                        {% elif field.name == "def_skew_ratio" %}
                            Assignment Graph
                        {% elif field.name == "show_priority" %}
                            Assignment Priority
                        {% elif field.name == "default_dropdown_tags" %}
                            Assignment Header
                        {% elif field.name == "appearance" %}
                            Personalize
                        {% elif field.name == "sorting_animation_threshold" %}
                            Miscellaneous
                        {% endif %}
                    </span>
                {% endif %}
                {% if field.name != "assignment_sorting" %}
                    <div class="field-container">
                        <span class="left-side-of-field">
                            {{ field.label }}
                            {% if field.help_text %}
                                <div class="field-description">{{ field.help_text }}</div>
                            {% endif %}
                        </span>
                        <span class="right-side-of-field">
                            {% if field.name == "def_break_days" %}
                                {% with "Tue Fri" as br_days %}
                                    {% include 'timewebapp/widgets/work_days.html' with br_days=br_days.split %}
                                {% endwith %}
                            {% else %}
                                {% for error in field.errors %}
                                    <h3 class="error-note">{{ error|escape }}</h3>
                                {% endfor %}
                                {{ field }}
                                {% if field.widget_type == "checkbox" %}
                                    <label {% if field.name == "restore_gc_assignments" %}class="single-action-label"{% endif %} tabindex="0" for={{ field.auto_id }}>
                                        {% if field.name == "restore_gc_assignments" %}
                                            Restore
                                        {% else %}
                                            <span class="toggle-text">
                                                {% if field.name == "enable_gc_integration" %}
                                                    Disable
                                                {% else %}
                                                    Off
                                                {% endif %}
                                            </span>
                                            <span class="toggle-text">
                                                {% if field.name == "enable_gc_integration" %}
                                                    Enable
                                                {% else %}
                                                    On
                                                {% endif %}
                                            </span>
                                        {% endif %}
                                    </label>
                                {% endif %}
                            {% endif %}
                        </span>
                    </div>
                {% endif %}
        {% endfor %}
        </div>
        {% comment %} needs to be a hidden field instead of an excluded field so app.html can display it {% endcomment %}
        {{ form.assignment_sorting.as_hidden }}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <div id="button-container">
            {% comment %} order needs to be switched so the mobile view stacks save on top of reset {% endcomment %}
            <input type="submit" value="Save" id="submit-settings-button" class="generic-button">
            <input type="button" value="Reset" id="reset-settings-button" class="generic-button">
        </div>
    </form>
{% endblock %}