{% extends "common/app_base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="https://unpkg.com/daterangepicker@3.1.0/daterangepicker.css" crossorigin="anonymous"/>
    {% comment %} Order of these stylesheets matters {% endcomment %}
    <link rel="stylesheet" href="{% static 'timewebapp/css/form.css' %}">
    <link rel="stylesheet" href="{% static 'navbar/css/settings.css' %}">
    {% if user.settingsmodel.appearance == "automatic" %}
        <link rel="stylesheet" href="{% static 'timewebapp/css/dark.css' %}" media="(prefers-color-scheme: dark)">
    {% elif user.settingsmodel.appearance == "dark" or user.settingsmodel.appearance == "lesser dark" %}
        <link rel="stylesheet" href="{% static 'timewebapp/css/dark.css' %}">
    {% endif %}
{% endblock %}

{% block js %}
    {{ default_settings|json_script:"default-settings" }}
    {% comment %}
        moment-mini is stuck on an older version of moment
        although using a moment.js version this old has https://security.snyk.io/vuln/SNYK-JS-MOMENT-2944238 and https://security.snyk.io/vuln/SNYK-JS-MOMENT-2440688
        these are backend vulnerabilities
    {% endcomment %}
    <script src="https://unpkg.com/moment-mini@2.24.0/moment.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/daterangepicker@3.1.0/daterangepicker.js" crossorigin="anonymous"></script>
    <script src="{% static 'navbar/js/settings.js' %}"></script>
{% endblock %}

{% block content %}
    {% comment %} Injects libraries for the color picker {% endcomment %}
    {{ form.media }}
    <div id="settings-scroller">
    <form method="POST" autocomplete="off" enctype="multipart/form-data" id="settings-form">
        {% csrf_token %}
        {% if request.path == example_settings %}
            Note: changes to the settings in the example account are not saved.
        {% endif %}
        {% for error in form.non_field_errors %}
            {% comment %} hack for :first-of-type selectors {% endcomment %}
            <span class="error-note">{{ error|escape }}</span>
        {% endfor %}
        {% for field in form.visible_fields %}
            {% if field.name == "gc_integration" or field.name == "immediately_delete_completely_finished_assignments" or field.name == "def_min_work_time" or field.name == "def_skew_ratio" or field.name == "show_priority" or field.name == "appearance" or field.name == "enable_tutorial" %}
                {% if field.name != "gc_integration" %}
                    </div>
                {% endif %}
                <div class="field-group">
                    <span class="field-group-label">
                        {% if field.name == "gc_integration" %}
                            Integrations
                        {% elif field.name == "immediately_delete_completely_finished_assignments" %}
                            Assignment Deletion
                        {% elif field.name == "def_min_work_time" %}
                            Assignment Form
                        {% elif field.name == "def_skew_ratio" %}
                            Assignment Graph
                        {% elif field.name == "show_priority" %}
                            Assignment Header
                        {% elif field.name == "appearance" %}
                            Appearance
                        {% elif field.name == "enable_tutorial" %}
                            Miscellaneous
                        {% endif %}
                    </span>
            {% endif %}
            {% if field.name != "assignment_sorting" and field.name != "canvas_instance_domain" %}
                <div class="field-container">
                    <span class="left-side-of-field">
                        {{ field.label }}
                        {% if field.help_text %}
                            <div class="field-description">{{ field.help_text }}</div>
                        {% endif %}
                    </span>
                    <span class="right-side-of-field">
                        {% if field.name == "def_break_days" %}
                            {% with "Tue Fri" as br_days %}
                                {% include 'timewebapp/widgets/work_days.html' with br_days=br_days.split %}
                            {% endwith %}
                        {% else %}
                            {% for error in field.errors %}
                                <h3 class="error-note">{{ error|escape }}</h3>
                            {% endfor %}
                            {{ field }}
                            {% if field.widget_type == "checkbox" %}
                                <label {% if field.name == "view_deleted_assignments" %}class="single-action-label immediate-action"{% endif %} tabindex="0" for={{ field.auto_id }}>
                                    {% if field.name == "view_deleted_assignments" %}
                                        View
                                    {% else %}
                                        {% if field.name == "gc_integration" or field.name == "calendar_integration" or field.name == "notifications_integration" or field.name == "canvas_integration" %}
                                            <span class="toggle-text">
                                                Disable
                                            </span>
                                            <span class="toggle-text">
                                                Enable
                                            </span>
                                        {% else %}
                                            <span class="toggle-text">
                                                Off
                                            </span>
                                            <span class="toggle-text">
                                                On
                                            </span>
                                        {% endif %}
                                    {% endif %}
                                </label>
                            {% endif %}
                            {% if field.name == "canvas_integration" %}
                                {% for error in form.canvas_instance_domain.errors %}
                                    <h3 class="error-note">{{ error|escape }}</h3>
                                {% endfor %}
                                {{ form.canvas_instance_domain }}<span id="canvas-instance-domain-wrapper">.instructure.com</span>
                            {% endif %}
                        {% endif %}
                    </span>
                </div>
            {% endif %}
        {% endfor %}
        </div>
        {% comment %} needs to be a hidden field instead of an excluded field so app.html can display it {% endcomment %}
        {{ form.assignment_sorting.as_hidden }}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <div id="button-container">
            {% comment %} order needs to be switched so the mobile view stacks save on top of reset {% endcomment %}
            <input type="submit" value="Save" id="submit-settings-button" class="generic-button">
            <input type="button" value="Reset" id="reset-settings-button" class="generic-button">
        </div>
    </form>
    </div>
{% endblock %}