{% extends "navbar/base.html" %}
{% load static %}

{% block head_title %}User Guide{% endblock %}

{% block _css %}
    <link rel="stylesheet" href="{% static 'navbar/css/user_guide.css' %}">
{% endblock %}


{% url 'example' as example %}

{% block body_classes %}light{% endblock %}
{% block _content %}
{% comment %} 
Turn on word wrap if viewing from an IDE
the span groups the major and minor categories together for user_guide.js 
{% endcomment %}
<span>
    <div class="major-category">
        About TimeWeb
    </div>
    <div class="minor-category" id="introduction">
        Introduction
    </div>
    <p>
        TimeWeb's user guide intends to elaborate on its many features so you can more efficiently use and configure its user interface. Self-explanatory features that do not add to the user guide such as the settings are skipped. It's recommended to first create an assignment and take a look at its graph before reading this guide.
    </p>
    <p>
        You can still use TimeWeb without reading this guide. You are free to use the Table of Contents to refer to specific sections or read the FAQs at the bottom.
    </p>
    <div class="minor-category" id="what-is-timeweb">
        What is TimeWeb?
    </div>
    <p>
        TimeWeb is a time management application that visualizes, quantifies, and prioritizes each of your daily school or work assignments. Unlike typical planners, TimeWeb splits up and graphs all of your work until they are due. Every day, know what to do, when to do it, and how long it will take.
    </p>
    <p>
        Take a look at TimeWeb's <a href="{{ example }}">example account</a> to get an idea of what you should expect your assignments page to look like.
	</p>
    <div class="minor-category" id="open-sourced-and-free">
		Open sourced and free
	</div>
    <p>
		Not only have we chosen to make TimeWeb free, but also completely open sourced, meaning that anyone can access TimeWeb's <a href="https://github.com/ArhanChaudhary/TimeWeb">source code</a> and host TimeWeb on their own machine.
    </p>
    <p>
        We want everyone to be able to access and benefit from TimeWeb without the privilege of money. No ads. No paywalls. Just you and your assignments — uninterrupted.
    </p>
</span>
<span>
    <div class="major-category">
		Assignment form
	</div>
    <div class="minor-category" id="standard-assignment-form-inputs">
		Standard inputs
	</div>
    <br>
    <img src="{% static 'navbar/images/standard_assignment_form.webp' %}" alt="Standard assignment form inputs">
    <p>
		To create a complete assignment, you must enter these five standard inputs into the assignment form:
	</p>
    <p>
        <span class="minor-minor-category">
            Name of this Assignment
		</span>
        <br>
        The displayed name of this assignment.
    </p>
    <p>
        <span class="minor-minor-category">
            Date Assigned
		</span>
        <br>
        The date this assignment was assigned or the date you'll start working on this assignment.
    </p>
    <p>
        If you don't remember, enter today's date instead. Dates from the future are also perfectly valid.
    </p>
    <p>
        <span class="minor-minor-category">
            Due Date
		</span>
        <br>
        The date this assignment is due.
    </p>
    <p>
        If your assignment doesn't have a due date, click the magic wand icon to let TimeWeb predict a due date for you. Upon submission, this due date will be calculated and estimated based on your other inputs.
    </p>
    <p>
		You can also enable soft due dates. Soft due dates are automatically incremented if you haven't finished this assignment by then.
    </p>
    <span class="label-question" id="when-should-i-set-an-assignment's-due-time">
        <span class="label-title">
            When should I set an assignment's due time?
		</span>
        <p>
            If you try to set an assignment's due time in the morning when you have school or work, TimeWeb will assign work past midnight as a side effect of having your work schedule span over that time. So, you usually should leave an assignment's due time at midnight.
        </p>
        <p>
            You should only set a due time other than midnight if you're going to stay awake past midnight for the assignment or if the assignment is explicitly due after your school or work such as at 11:59 PM.
		</p> 
        <p>
            For the same reason, there exists no default due time setting. The assignment form always defaults the due time to midnight to encourage users to set their assignments' due times at midnight. A default due time does not encourage this and may mislead users into setting their due times in the morning.
		</p>
    </span>
    <p>
        <span class="minor-minor-category">
            How long will this assignment take to complete
		</span>
        <br>
        An estimation of how long you think this assignment will take to complete. You can switch from entering this input in minutes to hours if this assignment will take a longer time to complete.
    </p>
    <p>
        It's ok to be unsure about your estimate. However, if you cannot decide, you can click the magic wand icon to let TimeWeb predict a length of time for you. Upon submission, this length of time will be calculated and estimated based on your other inputs.
    </p>
    <p>
        <span class="minor-minor-category">
            Minimum Daily Work Time
		</span>
        <br>
        An optional minimum amount of time you will work on this assignment for all of its working days.
    </p>
    <p>
        This input's default of 15 minutes can be changed in the settings.
    </p>
    <div class="minor-category" id="advanced-assignment-form-inputs">
		Advanced inputs
    </div>
    <br>
    <img class="tall-image" src="{% static 'navbar/images/advanced_assignment_form.webp' %}" alt="Advanced assignment form inputs">
    <p>
		Along with the assignment form's standard inputs, you can also enter enter optional advanced inputs to further customize your assignments:
    </p>
    <p>
        <span class="minor-minor-category">
            Name of each Unit of Work
		</span>
        <br>
        If you don't want to estimate how long this assignment will take to complete, you can split this assignment up into your own units of work instead.
    </p>
    <p>
        For example, if this assignment is reading a book, you can split up the book into chapters.
    </p>
    <span class="label-question" id="how-should-i-choose-my-own-unit-of-work">
        <span class="label-title">
            How should I choose my own unit of work?
		</span>
        <p>
            While this decision is mainly up to your own discretion, there are two general guidelines you should follow for entering this field:
		</p>
        <p>
            <b>
                1) Find a balance between being too small and too large in size.
            </b>
        </p>
        <p>
            If a unit of work is too small, it can become difficult to track your progress and estimate how long the entire task will take. For example, if this assignment is reading a book and it is split up into sentences, it will be difficult to estimate how many sentences are in the book, how long it will take to read the entire book, and how many you've read after reading.
		</p>
        <p>
            If a unit of work is too large, it can also become difficult to track your progress and estimate how long the entire task will take. For example, if the unit of work is "the entire assignment", it will be difficult to know where to start and how to enter your progress.
		</p>
        <p>
            A good unit of work should be something that can be completed in a reasonable amount of time. In the example of reading a book, a better unit of work could be splitting it up into chapters. This is large enough to make progress, but small enough to track it effectively.
		</p>
        <p>
            <b>
                2) If you are still unsure, don't enter your own unit of work.
            </b>
        </p>
        <p>
            Leave this input blank and instead estimate how long this assignment will take to complete in the Standard inputs.
		</p>
    </span>
    <p>
        <span class="minor-minor-category">
            Total number of [units] in this assignment
		</span>
        <br>
        The number of units of work in this assignment.
    </p>
    <p>
        If you have to estimate this number, it's ok to be unsure. However, if you cannot decide, you can click the magic wand icon to let TimeWeb predict a number for you. Upon submission, this number will be calculated and estimated based on your other inputs.
    </p>
    <p>
		Only visible when you enter a name for each unit of work.
    </p>
    <p>
        <span class="minor-minor-category">
            How long does it take to complete each [unit]
		</span>
        <br>
        An estimation of how long you think each unit of work in this assignment will take to complete.
    </p>
    <p>
        It's ok to be unsure about your estimate.
    </p>
    <p>
		Only visible when you enter a name for each unit of work.
    </p>
    <p>
        <span class="minor-minor-category">
            Total number of [units] already completed
		</span>
        <br>
        The number of units of work you've already completed in this assignment.
    </p>
    <p>
        This represents your initial work input and the first point on the blue line, so changing this number will vertically translate all of your other work inputs accordingly.
    </p>
    <p>
        If you have to estimate this number, it's ok to be unsure.
    </p>
    <p>
		Only visible when you enter a name for each unit of work.
    </p>
    <p>
        <span class="minor-minor-category">
            How long have you already worked
		</span>
        <br>
        How long you've already worked on this assignment.
    </p>
    <p>
        This represents your initial work input and the first point on the blue line, so changing this number will vertically translate all of your other work inputs accordingly.
    </p>
    <p>
        If you have to estimate this length of time, it's ok to be unsure.
    </p>
    <p>
		Not visible when you enter a name for each unit of work.
    </p>
    <p>
        <span class="minor-minor-category" id="assignment-form-step-size">
            Step Size
		</span>
        <br>
        The length of time that you will work in increments of, meaning you will always work in multiples of this number.
        <p>
            For example, if the step size is 5 minutes, you will only work in multiples of 5 minutes (10m, 25m, 1h, etc).
        </p>
        If you've entered a name for each unit of work, think of this input instead as the number of units of work you will complete at a time.
    </p>
    <p>
        <span class="minor-minor-category">
            Assignment Description
		</span>
        <br>
        The description of this assignment. Displayed when this assignment is open or marked as "needs more info".
    </p>
    <p>
        <span class="minor-minor-category">
            Work Days
		</span>
        <br>
        The days of the week you will work on this assignment. You won't be assigned any work on non-working days.
    </p>
    <div class="minor-category" id="needs-more-info">
		"Needs more info" assignments
    </div>
    <br>
    <picture>
        <source media="(max-width: 790px)" srcset="{% static 'navbar/images/narrow_needs_more_info.webp' %}">
        <img src="{% static 'navbar/images/wide_needs_more_info.webp' %}" alt="Needs more info assignment image">
    </picture>
    <p>
		Some of your assignments are small enough that you may not need TimeWeb's entire functionality.
    </p>
    <p>
        If you don't want to fully submit an assignment to the assignment form, only enter its name to mark it as "needs more info". Without having to enter your own work inputs, manage the assignment graph, or fill in other form information, "needs more info" assignments simply instead remind you of these short assignments.
    </p>
    <p>
		Of course, you can edit a "needs more info" assignment and fill in the rest of its required inputs to make it a complete assignment.
    </p>
</span>
<span>
    <div class="major-category">
		Assignment header
    </div>
    <div class="minor-category" id="what-is-displayed-on-the-assignment-header">
		What is displayed on the assignment header?
    </div>
    <br>
    <picture>
        <source media="(max-width: 790px)" srcset="{% static 'navbar/images/narrow_assignment_header.webp' %}">
        <img src="{% static 'navbar/images/assignment_header.webp' %}" alt="Assignment header image">
    </picture>
    <p>
		The assignment header summarizes the status of the assignment for today. So, you know exactly what to complete for today to be on track to complete both your short and long term assignments.
    </p>
    <p>
		Above and below the assignment's name is its priority percentage and days left until due. At the center is the assignment's status message and its tags. At the right is the assignment's estimated completion time along with its finish for today, edit, and delete buttons.
    </p>
    <div class="minor-category" id="assignment-status-message">
		Assignment status message
    </div>
    <p>
		The assignment status message reflects the current status of the assignment for today.
    </p>
    <p>
        If you need to work on an assignment for today according to the assignment graph, the assignment status message will display that amount.
    </p>
    <p>
        If you're finished with an assignment's work for today, the assignment status message will display that you're finished with the assignment's work for today.
    </p>
    <span class="label-question" id="why-doesn't-my-assignment's-work-for-today-respect-the-step-size">
        <span class="label-title">
            Why doesn't my assignment's work for today respect its step size?
		</span>
        <p>
            As a reminder, the assignment form's <a href="#assignment-form-step-size">step size</a> defines how many units of work you will complete at a time, meaning you will always work in multiples of that number. If the total number of units of work in the assignment isn't a multiple of the step size, there will be a remainder of work you will need to complete that isn't a multiple of the step size. By design, this remainder of work is completed on the first working day of the assignment.
		</p>
        <p>
            For example, let's say your assignment is reading a book. If it has thirty-nine chapters total and its step size is five chapters at a time, you will complete the remainder of four chapters on the book's first working day.
		</p>
    </span>
    <div class="minor-category" id="assignment-priority">
		Assignment priority
    </div>
    <p>
        The assignment priority percentage quantifies how important an assignment's work for today is. Note that assignments due tomorrow or later today are manually given a priority percentage higher than every other assignment.
    </p>
    <p>
        You don't have to complete your assignments in order from highest priority to lowest priority. By default, TimeWeb sorts your assignments by Most Priority First. You change the Assignment Sorting drop-down to sort your assignments by Least Priority First, Most Work Today First, Least Work Today First, Soonest Due Date First, Tag Name A-Z, or Tag Name Z-A — whichever suits your work style.
    </p>
    <span class="label-question" id="how-is-the-assignment-priority-percentage-calculated">
        <span class="label-title">
            How is the assignment priority percentage calculated?
		</span>
        <p>
            The more work for the assignment today and the closer its due date is to today, the higher the priority percentage. To further elaborate, every assignments' priority is first represented as a number, and then converted to a percentage by dividing it by the highest priority number of all assignments.
        </p>
        <p>
            If <code>x</code> represents the assignment's daily work for today in minutes and <code>y</code> represents the number of days between the due date and today, the exact calculation for the number is <code>sqrt(x)/(y - 1.8)</code> .
        </p>
        <p>
            <code>sqrt(x)</code> implies that as an assignment's work for today increases, it becomes more important at a lesser rate. <code>y - 1.8</code> implies that assignments due sooner are skewed towards a higher priority number.
        </p>
    </span>
    <div class="minor-category" id="assignment-tags">
		Assignment tags
    </div>
    <p>
        Assignment tags allow you to label your assignments under a broad category, such as subject, type, or your own custom group. You can order an assignment's tags by dragging them horizontally.
    </p>
    <p>
        Sort your assignments by Tag Name A-Z or Tag Name Z-A in the assignment sorting drop-down if you want to complete all of a specific tag's work at once. 
    </p>
    <p>
        Although assignment tags are only for you to see visually, the "Important" and "Not Important" tags are exceptions.
    </p>
    <p>
        Adding the "Important" tag overrides the assignment's priority percentage and moves it to the highest assignment list position. Though, note that assignments with this tag are still considered less important than assignments due tomorrow or later today and are therefore sorted below them.
    </p>
    <p>
        On the other hand, adding the "Not Important" tag overrides its priority percentage and moves it to the lowest appropriate list position.
    </p>
    <span class="label-question" id="how-can-i-control-the-tag-order-when-sorting-assignments-by-tag-name">
        <span class="label-title">
            How can I control the tag order when sorting assignments by tag name?
        </span>
        <p>
            When sorting assignments by Tag Name A-Z, numbers in tag names are sorted in ascending order. So, you can prefix your tags with the numbers 1-9.
        </p>
        <p>
            For example: 1 Math, 2 Science, etc
        </p>
    </span>
</span>
<span>
    <div class="major-category">
		Assignment graph
    </div>
    <div class="minor-category" id="what-is-the-assignment-graph">
		What is the assignment graph?
    </div>
    <br>
    <picture>
        <source media="(max-width: 790px)" srcset="{% static 'navbar/images/narrow_assignment_graph.webp' %}">
        <img id="assignment-graph-image" src="{% static 'navbar/images/wide_assignment_graph.webp' %}" alt="Assignment graph image">
    </picture>
    <p>
		After creating an assignment, click it to open its graph. The graph provides a visualization of your assignment's entire work schedule.
    </p>
    <p>
		Its x-axis represents days, while its y-axis represents units of work. Day zero of the graph represents the assignment's assignment date, while the last day of the graph represents the assignment's due date. Every days' work is plotted and connected in red to form your entire work schedule.
    </p>
    <span class="label-question" id="why-isn't-the-assignment-graph's-today-line-always-accurate">
        <span class="label-title">
            Why isn't the assignment graph's today line always accurate?
		</span>
        <p></p>
    </span>
    <p>
		As you progress through your assignment, there needs to be some way to measure your progress so it can be prioritized accordingly. So, you must input the amount of work you complete every day. This will be plotted and connected in blue to form your assignment's work inputs.
    </p>
    <p>
		The 6 controls under the graph, 3 standard and 3 advanced, allow you to customize and log your work schedule to ensure the assignment graph is tuned for you and your work style.
    </p>
    <div class="minor-category" id="standard-assignment-graph-controls">
		Standard controls
    </div>
    <p>
		There are 3 standard controls for the assignment graph:
    </p>
    <p>
        <span class="minor-minor-category">
            Delete Work Input
		</span>
        <br>
        This button deletes the most recent work input from the graph.
    </p>
    <p>
        <span class="minor-minor-category">
            Enter Units Done
		</span>
        <br>
        This input is the text box used to enter an assignment's daily progress. Enter the number of units of work done on the graph's displayed date and click "Submit Units Done".
    </p>
    <p>
		For any day, if you've completed an assignment's work, enter the keywords "done" or "fin".
    </p>
    <p>
		If you haven't completed any of an assignment's work, enter "0" instead.
    </p>
    <p>
		If you don't remember how much work you did for your previous inputs, enter the keyword "since" followed by how much you've done since your last work input. For example, if you haven't entered any work inputs in a while for an assignment, but you've completed let's say 5 units of work since your last input, enter "since 5".
    </p>
    <span class="label-question" id="why-are-assignments-marked-as-finished-for-today-after-inputting-no-work-done">
        <span class="label-title">
            Why are assignments marked as finished for today after inputting no work done?
		</span>
        <p>
            By entering no work done, you're implying that you haven't done any work for that assignment and are not going to for the rest of the day.
		</p>
        <p>
            This functionality isn't exclusive to inputting no work done only, this also occurs when you input less work than the assignment's daily work.
		</p>
    </span>
    <p>
        <span class="minor-minor-category">
            Submit Units Done
		</span>
        <br>
        This button submits the value of the "Enter Units Done" text box to the graph. Or, you can instead press enter in the text box.
    </p>
    <div class="minor-category" id="advanced-assignment-graph-controls">
		Advanced controls
    </div>
    <p>
		The advanced controls are completely optional to use but provide better control of your work schedule. Before getting to the advanced controls, you must first understand what the curvature is. The curvature controls the curvature of the graph and, in turn, your work schedule.
    </p>
    <p>
        A more positive curvature yields a work schedule in which you work more at the beginning and less at the end of an assignment.
        <br>
        A more negative curvature yields a work schedule in which you work less at the beginning and more at the end of an assignment.
        <br>
        A curvature of 0, or linear, yields a work schedule in which you work an equal amount for every day of an assignment.
    </p>
    <p>
		There are 3 advanced controls for the assignment graph:
    </p>
    <p>
        <span class="minor-minor-category">
            Set Curvature
		</span>
        <br>
        This button allows you to be able to hover over the graph to manually set your curvature. Click the graph to save, and click this button again to cancel.
    </p>
    <p>
        <span class="minor-minor-category">
            Enter Curvature
		</span>
        <br>
        This input allows you to manually enter a numeric curvature value. The graph is updated by this value in real-time.
    </p>
    <p>
        <span class="minor-minor-category">
            Switch to Fixed/Dynamic mode
		</span>
        <br>
        This button switches the graph to fixed mode or dynamic mode.
    </p>
    <p>
		In fixed mode, the work schedule isn't affected by work inputs throughout the entire assignment. If you don't finish a day's work, you'll have to make it up on the next day.
    </p>
    <p>
		In dynamic mode, the work schedule and curvature automatically re-adjust themselves after every work input to adapt to your work schedule. If you don't finish a day's work, the graph will change to fit your work style. The curvature can still be manually overridden. Note that dynamic mode discourages extremely low or high curvatures, as it tends to make your work schedule more linear as you enter more work inputs.
    </p>
    <span class="label-question" id="why-do-similar-skew-ratio-values-result-in-different-work-distributions-in-dynamic-mode">
        <span class="label-title">
            Why do similar curvature values result in different work distributions in dynamic mode?
		</span>
        The assignment graph's <a href="#advanced-assignment-graph-controls">curvature</a> is ... etc

        Unfortunately, this is a side effect of dynamic mode's implementation, occasionally occurring after submitting and deleting work inputs. Try to re-adjust the curvature to its original state if this happens.
    </span>
</span>
<span>
    <div class="major-category">
		Google Classroom integration
    </div>
    <div class="minor-category" id="enabling-the-google-classroom-integration">
		Enabling the Google Classroom integration
    </div>
    <br>
    <img class="tall-image" src="{% static 'navbar/images/classroom_authorization.webp' %}" alt="Authorize the Google Classroom Integration">
    <p>
		To enable the Google Classroom integration in the settings, you must agree to both of the requested permissions in Google's authorization service.
    </p>
    <p>
        Note that you can use a different Google account for the Google Classroom integration than the one used to log in to TimeWeb.
    </p>
    <span class="label-question" id="why-do-we-ask-for-permission-to-view-your-grades-on-google-classroom">
        <span class="label-title">
            Why do we ask for permission to view your grades on Google Classroom?
		</span>
        <p>
            TimeWeb must adhere to Google Classroom's regulations regarding third-party account access. This means that TimeWeb is restricted to requesting user data from a predefined set of permissions.
        </p>
        <p>
            According to <a href="https://developers.google.com/resources/api-libraries/documentation/classroom/v1/cpp/latest/classgoogle__classroom__api_1_1ClassroomService_1_1SCOPES.html#ae389e7c46bab2c4c67f3e05c12db4e2a">Google's API reference</a>, the permissions for viewing course work are forcibly included with also viewing grades. Therefore, we must ask for permission to view grades, too, in order for TimeWeb to create assignments from your course work.
		</p>
        <p>
            As emphasized in TimeWeb's <a href="{% url 'privacy' %}">privacy policy</a>, we do not share any of your information with third parties. Nevertheless, you can always revoke TimeWeb's access by going to <a href="https://myaccount.google.com/permissions">Google's permissions page</a>.
		</p>
        <p>
            If you still want to use the Google Classroom integration without granting TimeWeb access to your grades, you will have to host your database and create your own Google Classroom API client. Please <a href="{% url 'contact_form' %}">contact us</a> for personal assistance through this process.
		</p>
    </span>
    <div class="minor-category" id="adding-google-classroom-assignments">
		Adding Google Classroom assignments
    </div>
    <p>
		If a Google Classroom assignment meets the following criteria, it will momentarily be added to the assignments page after viewing:
    </p>
    <ul>
        <li>Its due date must be after today</li>
        <li>If it doesn't have a due date, its assignment date must be thirty days maximum before today</li>
        <li>Its assignment date must be before its due date</li>
        <li>Its class must not be archived</li>
    </ul>
    <p>
        Note that assignments on TimeWeb and Google Classroom are independent of each other. That is, modifications made to assignments on TimeWeb are not reflected on Google Classroom and vice versa.
    </p>
    <p>
        Google Classroom assignments are not re-added to the assignments page. If you want to recover a deleted Google Classroom assignment, you can restore it in the deleted assignments view in the settings.
    </p>
    <span class="label-question" id="why-are-some-google-classroom-assignments-incorrectly-due-at-11:59-pm">
        <span class="label-title">
            Why are some Google Classroom assignments incorrectly due at 11:59 PM?
		</span>
        <p>
            Google Classroom assignments without a due time are not ideally defaulted to 12:00 AM but instead 11:59 PM, which could mislead you into thinking they are due later than they are. These assignments, however, are indistinguishable from those actually due at 11:59 PM, so TimeWeb must choose one of these two cases.
        </p>
        <p>
            By default, TimeWeb keeps the due time at 11:59 PM and assumes the assignment is actually due at 11:59 PM because this case is usually more common. This is why Google Classroom assignments without a due time are also incorrectly kept at 11:59 PM.
        </p>
        <p>
            You can reverse this behavior by toggling on "Google Classroom 11:59 PM Due Time Fix" in the settings. TimeWeb will now assume the latter case and change Google Classroom assignment due times from 11:59 PM to 12:00 AM. Similarly to the first case, this means that Google Classroom assignments that are actually due at 11:59 PM will also have their due times changed to 12:00 AM.
        </p>
        <p>
            Note that this setting's functionality doesn't apply to Google Classroom assignments that are due later today at 11:59 PM, are due on their assignment day, or have already been created.
        </p>
    </span>
</span>
<span>
    <div class="major-category">
		Keybinds
    </div>
    <br>
    <p id="keybinds">
        <span class="minor-minor-category">
            Assignment Form
        </span>
        <br>
        Open assignment form
        <br>
        <button class="generic-button">
            n
        </button>
    </p>
    <p>
        Close assignment form
        <br>
        <button class="generic-button">
            escape
        </button>
    </p>
    <p>
        <span class="minor-minor-category">
            Assignment Header
        </span>
        <br>
        Finish assignment
        <br>
        <button class="generic-button">
            hover
        </button>
        <button class="generic-button">
            f
        </button>
    </p>
    <p>
        Open edit assignment form
        <br>
        <button class="generic-button">
            hover
        </button>
        <button class="generic-button">
            e
        </button>
    </p>
    <p>
        Delete assignment
        <br>
        <button class="generic-button">
            hover
        </button>
        <button class="generic-button">
            d
        </button>
    <p>
        Delete assignment (skip prompt)
        <br>
        <button class="generic-button">
            shift
        </button>
        <button class="generic-button">
            click delete assignment
        </button>
        <br>
        <button class="generic-button">
            shift
        </button>
        <button class="generic-button">
            hover
        </button>
        <button class="generic-button">
            d
        </button>
    </p>
    <p>
        Restore assignment (deleted assignments view)
        <br>
        <button class="generic-button">
            hover
        </button>
        <button class="generic-button">
            r
        </button>
    </p>
    <p>
        <span class="minor-minor-category">
            Assignment Graph
        </span>
        <br>
        Open or close assignment graph
        <br>
        <button class="generic-button">
            hover
        </button>
        <button class="generic-button">
            o
        </button>
        <br>
        <button class="generic-button">
            hover
        </button>
        <button class="generic-button">
            c
        </button>
    </p>
    <p>
        Input no work done
        <br>
        <button class="generic-button">
            hover
        </button>
        <button class="generic-button">
            0
        </button>
    </p>
    <p>
        Delete most recent work input
        <br>
        <button class="generic-button">
            hover
        </button>
        <button class="generic-button">
            backspace
        </button>
    </p>
    <p>
        Set curvature
        <br>
        <button class="generic-button">
            hover
        </button>
        <button class="generic-button">
            s
        </button>
    </p>
    <p>
        Slightly increase curvature
        <br>
        <button class="generic-button">
            ↑
        </button>
    </p>
    <p>
        Slightly decrease curvature
        <br>
        <button class="generic-button">
            ↓
        </button>
    </p>
    <p>
        <span class="minor-minor-category">
            Miscellaneous
        </span>
        <br>
        Scroll to top
        <br>
        <button class="generic-button">
            t
        </button>
    </p>
    <br>
</span>
<span class="label-question" id="still-need-help">
    <span class="label-title">
		Still need help?
	</span>
    <p>
		We encourage to <a href="{% url 'contact_form' %}">contact us</a> for any reason.
    </p>
    <p>
        Whether you want to clarify a feature, report a bug, or ask how our day went, we are eager to hear and respond to your thoughts and comments. Perhaps your ideas can even become a part of TimeWeb in the future.
	</p>
</span>
{% endblock %}