body {
    /* "Sweet airan" gradient from https://www.eggradients.com/category/white-gradient */
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}
#accounts-container {
    border-radius: 10px;
    box-shadow: 0 0 100px -63px black;
    position: relative;
    width: clamp(290px, calc(100vw - 100px), 600px);
    background: white;
    margin: auto;
    box-sizing: border-box;
    padding: 15px 40px 25px;
}
#accounts-container > a:first-of-type img {
    display: block;
    margin: auto;
    margin-bottom: 5px;
}
#accounts-container > h1:first-of-type {
    margin-top: 0;
}
#circles-background {
    filter: url("#goo");
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
#circles-background .circle {
    position: absolute;
    width: calc(var(--max-size) - var(--circle-number) * (var(--max-size) - var(--min-size)) / var(--highest-circle-number));
    height: calc(var(--max-size) - var(--circle-number) * (var(--max-size) - var(--min-size)) / var(--highest-circle-number));
    border-radius: 50%;
    --max-animation-duration: 30s;
    --min-animation-duration: 10s;
    --max-size: calc(5vw + 40px);
    --min-size: calc(0.8vw + 15px);
    -webkit-animation: bubbleUp calc(var(--max-animation-duration) - var(--circle-number) * (var(--max-animation-duration) - var(--min-animation-duration))/var(--highest-circle-number) + var(--random-delay)) linear -5000s infinite normal;
            animation: bubbleUp calc(var(--max-animation-duration) - var(--circle-number) * (var(--max-animation-duration) - var(--min-animation-duration))/var(--highest-circle-number) + var(--random-delay)) linear -5000s infinite normal;
}
@-webkit-keyframes bubbleUp {
    0% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--0)), 100vh);
    }
    2% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--2)), calc(98vh - 2%));
    }
    4% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--4)), calc(96vh - 4%));
    }
    6% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--6)), calc(94vh - 6%));
    }
    8% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--8)), calc(92vh - 8%));
    }
    10% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--10)), calc(90vh - 10%));
    }
    12% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--12)), calc(88vh - 12%));
    }
    14% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--14)), calc(86vh - 14%));
    }
    16% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--16)), calc(84vh - 16%));
    }
    18% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--18)), calc(82vh - 18%));
    }
    20% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--20)), calc(80vh - 20%));
    }
    22% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--22)), calc(78vh - 22%));
    }
    24% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--24)), calc(76vh - 24%));
    }
    26% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--26)), calc(74vh - 26%));
    }
    28% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--28)), calc(72vh - 28%));
    }
    30% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--30)), calc(70vh - 30%));
    }
    32% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--32)), calc(68vh - 32%));
    }
    34% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--34)), calc(66vh - 34%));
    }
    36% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--36)), calc(64vh - 36%));
    }
    38% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--38)), calc(62vh - 38%));
    }
    40% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--40)), calc(60vh - 40%));
    }
    42% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--42)), calc(58vh - 42%));
    }
    44% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--44)), calc(56vh - 44%));
    }
    46% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--46)), calc(54vh - 46%));
    }
    48% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--48)), calc(52vh - 48%));
    }
    50% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--50)), calc(50vh - 50%));
    }
    52% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--52)), calc(48vh - 52%));
    }
    54% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--54)), calc(46vh - 54%));
    }
    56% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--56)), calc(44vh - 56%));
    }
    58% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--58)), calc(42vh - 58%));
    }
    60% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--60)), calc(40vh - 60%));
    }
    62% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--62)), calc(38vh - 62%));
    }
    64% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--64)), calc(36vh - 64%));
    }
    66% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--66)), calc(34vh - 66%));
    }
    68% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--68)), calc(32vh - 68%));
    }
    70% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--70)), calc(30vh - 70%));
    }
    72% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--72)), calc(28vh - 72%));
    }
    74% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--74)), calc(26vh - 74%));
    }
    76% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--76)), calc(24vh - 76%));
    }
    78% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--78)), calc(22vh - 78%));
    }
    80% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--80)), calc(20vh - 80%));
    }
    82% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--82)), calc(18vh - 82%));
    }
    84% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--84)), calc(16vh - 84%));
    }
    86% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--86)), calc(14vh - 86%));
    }
    88% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--88)), calc(12vh - 88%));
    }
    90% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--90)), calc(10vh - 90%));
    }
    92% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--92)), calc(8vh - 92%));
    }
    94% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--94)), calc(6vh - 94%));
    }
    96% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--96)), calc(4vh - 96%));
    }
    98% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--98)), calc(2vh - 98%));
    }
    100% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--100)), -100%);
    }
}
@keyframes bubbleUp {
    0% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--0)), 100vh);
    }
    2% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--2)), calc(98vh - 2%));
    }
    4% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--4)), calc(96vh - 4%));
    }
    6% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--6)), calc(94vh - 6%));
    }
    8% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--8)), calc(92vh - 8%));
    }
    10% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--10)), calc(90vh - 10%));
    }
    12% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--12)), calc(88vh - 12%));
    }
    14% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--14)), calc(86vh - 14%));
    }
    16% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--16)), calc(84vh - 16%));
    }
    18% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--18)), calc(82vh - 18%));
    }
    20% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--20)), calc(80vh - 20%));
    }
    22% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--22)), calc(78vh - 22%));
    }
    24% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--24)), calc(76vh - 24%));
    }
    26% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--26)), calc(74vh - 26%));
    }
    28% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--28)), calc(72vh - 28%));
    }
    30% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--30)), calc(70vh - 30%));
    }
    32% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--32)), calc(68vh - 32%));
    }
    34% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--34)), calc(66vh - 34%));
    }
    36% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--36)), calc(64vh - 36%));
    }
    38% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--38)), calc(62vh - 38%));
    }
    40% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--40)), calc(60vh - 40%));
    }
    42% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--42)), calc(58vh - 42%));
    }
    44% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--44)), calc(56vh - 44%));
    }
    46% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--46)), calc(54vh - 46%));
    }
    48% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--48)), calc(52vh - 48%));
    }
    50% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--50)), calc(50vh - 50%));
    }
    52% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--52)), calc(48vh - 52%));
    }
    54% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--54)), calc(46vh - 54%));
    }
    56% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--56)), calc(44vh - 56%));
    }
    58% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--58)), calc(42vh - 58%));
    }
    60% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--60)), calc(40vh - 60%));
    }
    62% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--62)), calc(38vh - 62%));
    }
    64% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--64)), calc(36vh - 64%));
    }
    66% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--66)), calc(34vh - 66%));
    }
    68% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--68)), calc(32vh - 68%));
    }
    70% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--70)), calc(30vh - 70%));
    }
    72% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--72)), calc(28vh - 72%));
    }
    74% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--74)), calc(26vh - 74%));
    }
    76% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--76)), calc(24vh - 76%));
    }
    78% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--78)), calc(22vh - 78%));
    }
    80% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--80)), calc(20vh - 80%));
    }
    82% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--82)), calc(18vh - 82%));
    }
    84% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--84)), calc(16vh - 84%));
    }
    86% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--86)), calc(14vh - 86%));
    }
    88% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--88)), calc(12vh - 88%));
    }
    90% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--90)), calc(10vh - 90%));
    }
    92% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--92)), calc(8vh - 92%));
    }
    94% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--94)), calc(6vh - 94%));
    }
    96% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--96)), calc(4vh - 96%));
    }
    98% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--98)), calc(2vh - 98%));
    }
    100% {
        transform: translate(calc(var(--x) + var(--random-x) * var(--100)), -100%);
    }
}
.socialaccount-container {
    margin-top: 1em;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
a {
    color: rgb(50, 87, 255);
}
.add-input-margin {
    margin-bottom: 2em;
}
input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]), textarea {
    width: 100%;
    margin-top: 5px;
    box-sizing: border-box;
    border: none;
    box-shadow: inset 0 0 3px black;
    background: white !important;
    height: 36px;
    border-radius: 4px;
    padding-left: 15px;
}
input:not([type="submit"]):focus, textarea:focus {
    box-shadow: inset 0 0 0 2px rgb(0, 109, 249) !important;;
    outline: 0;
}
.error-note, .success-note {
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 16px 10px;
    width: 100%;
    margin-bottom: 15px;
    box-sizing: border-box;
}
.error-note {
    background: rgba(255, 68, 12, 0.05);
    color: rgb(237 28 36);
    border: 1px solid rgb(237 28 36);
}
.success-note {
    background: rgba(68, 255, 12, 0.05);
    color: rgb(0 190 53);
    border: 1px solid rgb(28, 186, 0);
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
}
.hr-interrupt {
    position: absolute;
    left: 50%;
    padding: 0 5px;
    transform: translate(-50%, -34px);
    background-color: white;
}
#submit-button {
    width: 100%;
    background: rgb(0, 109, 249);
    color: white;
    border: none;
    padding: 5px 5px;
    margin-top: 30px;
    cursor: pointer;
    font: inherit;
}
#submit-button:focus, #submit-button:hover {
    background: rgba(0, 109, 249, 0.9);
    outline: 0;
}
#submit-button:active {
    transform: translateY(1px);
}

#goo-svg {
    position: absolute;
    width: 0;
    height: 0;
}
.grecaptcha-badge {
    transform-origin: right;
    transform: scale(0.85);
    position: absolute !important;
    top: 92px;
    right: 40px !important;
}