/* Make sure to change user-guide.css and others if this media query is modified */
@media screen and (max-width: 900px) {
    #table-of-contents-container {
        position: absolute;
        z-index: 2;
        transform: translateX(-100%);
        transition: transform 0.2s ease-out;
    }
    #table-of-contents-container-label {
        display: block;
        position: absolute;
        transform: translateX(-100%);
        -webkit-animation: slideLabelIn 0.35s ease-out 0.2s 1 forwards;
                animation: slideLabelIn 0.35s ease-out 0.2s 1 forwards;
    }
}