body {
    --body-background: white;
}
#flex-container {
    height: calc(100vh - 70px);
    /* Cancel out paddings */
    margin-top: -10px;
    margin-bottom: -10px;
    display: flex;
    position: relative;
}
#table-of-contents-container > ul, #category-doc-labels > li {
    margin-top: 10px;
    margin-bottom: 10px;
}
#table-of-contents-container details {
    margin-top: 15px;
    margin-bottom: 15px;
}
#table-of-contents-container-label::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;

    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    right: 15px; 

    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid black;
}
#table-of-contents-container-label:focus ~ #table-of-contents-container,
#table-of-contents-container:focus,
/* Can't click the links without the below style because the label gets unfocused and it starts transforming */
#table-of-contents-container:focus-within {
    transform: none;
}
#table-of-contents-container {
    height: 100%;
    box-shadow: 0 0 6px 2px gray;
    overflow-x: hidden;
    overflow-y: scroll;
    overflow-y: overlay;
}
#table-of-contents-container-label {
    display: none;
    bottom: 5px;
    box-shadow: 6px 2px 6px -4px gray;
}
#table-of-contents-container, #table-of-contents-container-label {
    margin-left: -20px;
    width: 300px;
    position: relative;
    z-index: 2;
    background-color: rgb(237, 237, 237);
}
@-webkit-keyframes slideLabelIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: none;
    }
}
@keyframes slideLabelIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: none;
    }
}
main ul {
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
}
#table-of-contents-container details, #table-of-contents-container ul {
    font-size: 14px;
}
#table-of-contents-container details {
    -webkit-padding-start: 28px;
            padding-inline-start: 28px;
}
.table-of-contents-header {
    display: block;
    position: sticky;
    background-color: inherit;
    filter: brightness(0.95);
    box-shadow: 0 0 3px 1px lightgray;
    line-height: 40px;
    text-align: center;
    font-family: 'Roboto Slab';
    font-size: 20px;
}
#category-table-of-contents {
    top: 0;
}
#category-important-labels {
    top: 40px;
}
#table-of-contents-container li {
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
}
a:visited {
    color: blue;
}
#table-of-contents-container a {
    color: black;
    -webkit-text-decoration-color: rgba(0,0,0,0.3);
            text-decoration-color: rgba(0,0,0,0.3);
}
#doc-container {
    padding-left: 100px;
    padding-right: 50px;
    padding-bottom: 150px;
    flex: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    max-width: 1000px;
    position: relative;
    white-space: pre-line;
    counter-reset: major-category-counter;
}

#doc-container::-webkit-scrollbar {
    width: 14px;
}
#doc-container::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
#doc-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.major-category {
    margin-left: -50px;
    font-family: 'Roboto Slab';
    font-size: 40px;
    z-index: 1;
    /* isSticky trick */
    position: sticky;
    top: -1px;
    padding-top: 1px;

    white-space: nowrap;
    text-overflow: ellipsis;
}
.major-category::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transform: scaleX(2);
    box-shadow: 0 0 9px -7px rgb(132, 132, 132);
}
.major-category.isSticky:not(.ignoreSticky)::before {
    box-shadow: none;
}
.major-category::after {
    position: absolute;
    right: 0;
    padding-left: 20px;
    padding-right: 50px;
    margin-right: -50px;
    box-shadow: inset 5px 0px 3px -4px lightgrey;
    background-color: white;
    counter-increment: major-category-counter;
    content: counter(major-category-counter) "/" attr(number-major-categories);
}
summary {
    cursor: pointer;
}
details > img {
    max-width: 100%;
    margin-bottom: 30px;
    filter: drop-shadow(0 9px 10px gray)
}

#assignment-graph-image {
    content: url(https://storage.googleapis.com/twstatic/images/wide-assignment-graph.png);
}
@media screen and (max-width: 790px) {
    #assignment-graph-image {
        content: url(https://storage.googleapis.com/twstatic/images/narrow-assignment-graph.png);
    }
}
.minor-category {
    margin-left: -30px;
    font-family: 'Roboto Slab';
    font-size: 30px;
}
.minor-minor-category {
    font-family: 'Roboto Slab';
    font-size: 21px;
}
.label-question {
    --label-color: rgb(150, 232, 253);
}
.minor-category, .label-question {
    scroll-margin-top: 75px;
}
.label-question {
    display: block;
    position: relative;
    white-space: normal;
    padding-bottom: 12px;
    width: 100%;
}
.label-question::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: scaleX(2);
    background-color: var(--label-color);
}
.label-title {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 25px;
    font-family: 'Roboto Slab';
}
.label-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5px;
    left: -60px;
    width: 40px;
    height: 40px;
    background-color: var(--label-color);
    border-radius: 50%;
    filter: brightness(0.85);
}
.label-icon {
    position: absolute;
}
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
	font-weight: 700;
    src: local(''),
         url('../fonts/roboto-slab-v7-bold.woff2') format('woff2');
}

#dark-mode body {
    --body-background: black;
}
#dark-mode main,
#dark-mode #doc-container a,
#dark-mode main img:not(.label-icon) {
    filter: invert(1);
}