label {
    display: block;
}
#id_login {
    margin-bottom: 5px;
}
#id_password {
    margin-bottom: 35px;
}
#id_login, #id_password {
    width: 100%;
    box-sizing: border-box;
    border-color: transparent;
    box-shadow: inset 0 0 3px 1px;
    background: white;
    height: 36px;
    font-size: 20px;
    padding-left: 15px;
}
#id_login:focus, #id_password:focus {
    box-shadow: inset 0 0 0 2px rgb(94, 94, 255);
    outline: 0;
}

.socialaccount-button {
    padding: 10px 0;
    position: relative;
    background: rgb(238, 245, 255);
    width: 100%;
    box-sizing: unset;
    height: 30px;
    cursor: pointer;

    border: 1px solid rgb(13, 106, 255);
    box-shadow: 0 0 3px 1px rgba(13, 106, 255, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s cubic-bezier(.5,-3,.5,4);
}
.socialaccount-button:hover {
    transform: scale(1.05, 1.02);
    box-shadow: 0 0 4px 1px rgba(13, 106, 255, 0.5);
    background: white;
}
.socialaccount-image {
    height: calc(100% - 8px);
    margin-right: 8px;
}
.socialaccount_provider {
    color: rgb(13, 106, 255);
    text-decoration: none;
}
#error-message {
    text-align: center;
    position: absolute;
    margin-top: -35px;
    font-size: 9.75px;
    text-align: center;
    width: 100%;
    color: rgb(226,30,54);
}
#example-message {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
    width: 100%;
    position: absolute;
    font-size: 10px;
    margin-top: -60px;
    text-align: center;
}
#beta-message {
    position: absolute;
    text-decoration: none;
    font-size: 10px;
    text-align: center;
}
#forgor-password {
    color: rgb(72, 141, 251);
}