main form {
    width: calc(100% - 30px);
    font-size: 17px;
    transform: translate(15px, 15px);
}
main form select {
    display: block;
}
.button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0;
}
#reset-settings-button, #submit-settings-button {
    font-size: 20px;
    margin-top: 5px;
    border-width: 2px;
    width: min(600px, calc(50% - 10px));
    height: 50px;
    margin-bottom: 100px;
}
#reset-settings-button {
    margin-right: 10px;
}
#submit-settings-button {
    margin-left: 10px;
}
main form fieldset {
    transition: height 0.75s cubic-bezier(0.46, 0.03, 0.4, 1);
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: none;
    border-right: none;
}
main form fieldset.closed {
    height: 21px !important;
}
main form fieldset.closed legend {
    list-style-type: disclosure-closed;
}
main form fieldset::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: threedface 2px groove;
    width: 30px;
}
main form legend {
    display: list-item;
    cursor: pointer;
    list-style: inside disclosure-open;
}
table {
    width: 100%;
    -webkit-border-horizontal-spacing: 5px;
    -webkit-border-vertical-spacing: 5px;
}
td img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    box-sizing: border-box;
    width: min(100%, 500px);
    box-shadow: 0 0 3px 1px gray;
}
.hitbox-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
td {
    position: relative;
    text-align: left;
    width: 250px;
}
input[type="file"] {
    width: 100%;
}
th {
    text-align: left;
}
tr.even {
    background: rgb(215, 215, 215);
}
tr.odd {
    background: rgb(238, 238, 238);
}
.setting-description {
    font-size: 0.8em;
    opacity: 0.7;
}
@media screen and (max-width: 950px) {
    tr, td {
        display: block;
    }
    td {
        width: unset;
    }
}
#id_default_dropdown_tags {
    box-sizing: border-box; 
    display: block;
    width: 100%;
}
#dark-mode body {
    --body-background: radial-gradient(circle, rgb(10,10,10) 0, rgb(58,58,58) 100%);
}
#dark-mode #break-days-wrapper,
#dark-mode main,
#dark-mode .jscolor,
#dark-mode td img,
#dark-mode input[type="checkbox"] {
    filter: invert(1);
}
