body {
    background: rgb(218, 218, 218);
}
form {
    width: calc(100% - 30px);
    font-size: 17px;
    transform: translate(15px, 15px);
}
form select {
    display: block;
}
.button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0;
}
#reset-settings-button, #submit-settings-button {
    box-sizing: border-box;
    background: rgb(243, 243, 243);
    border: 2px solid black;
    font-size: 20px;
    border-radius: 4px;
    margin-top: 5px;
    width: min(600px, calc(50% - 10px));
    height: 50px;
    margin-bottom: 100px;
}
#reset-settings-button:hover, #submit-settings-button:hover {
    filter: brightness(0.95);
}
#reset-settings-button:active, #submit-settings-button:active {
    transform: translateY(1px);
}
#reset-settings-button {
    margin-right: 10px;
}
#submit-settings-button{
    margin-left: 10px;
}
fieldset {
    margin-bottom: 10px;
}
table {
    width: 100%;
    -webkit-border-horizontal-spacing: 5px;
    -webkit-border-vertical-spacing: 5px;
}
img {
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px;
}
.hitbox-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
td {
    position: relative;
    text-align: left;
    width: 250px;
}
th {
    text-align: left;
}
tr.even {
    background: rgb(193, 193, 193);
}
tr.odd {
    background: rgb(238, 238, 238);
}
.setting-description {
    font-size: 0.8em;
    opacity: 0.7;
}
@media screen and (max-width: 950px) {
    tr, td {
        display: block;
    }
    td {
        width: unset;
    }
}
#id_default_dropdown_tags {
    box-sizing: border-box; 
    display: block;
    width: 100%;
    resize: none;
}