/* THIS FILE HAS NOT YET BEEN FULLY DOCUMENTED */
* {
    font-family: "Open Sans", sans-serif;
}
html {
    scroll-behavior: smooth;
}
input, textarea {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    /* Mobile */
    -webkit-appearance: none;
    padding: 1px 2px;
    /* Firefox */
    filter: none;
}
textarea {
    resize: none;
}
input[type="checkbox"], input[type="radio"] {
    -webkit-appearance: revert;
}
input[type="radio"] {
    margin: 0;
}
header {
    width: 100%;
    background: rgb(13,26,38);
    height: 70px;
    padding: 5px;
    position: absolute;
    z-index: 1002;
    box-sizing: border-box;
}
header::after {
    content: '';
    top: 70px;
    left: 0;
    width: 100%;
    height: 20px;
    position: absolute;
    box-shadow: 0 3px 7px rgb(13, 26, 38);
    background: rgb(13, 26, 38);
    z-index: -1;
    transform: translateY(-20px);
}
#image-new-container {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
    display: inline-block;
    height: 60px;
    position: absolute;
}
#image-new-container img {
    float: left;
    transform: scale(0.8);
}
#new-assignment-text {
    margin-left: 4px;
    float: left;
    color: white;
    font-size: 20px;
    font-family: "Open Sans";
    line-height: 60px;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
main {
    position: relative; /* Needed for positioning the background image */
    height: 100vh;
    padding: 80px 20px 0 20px;
    box-shadow: inset 20px 0 0 0 gray, inset -20px 0 0 0 gray;
    box-sizing: border-box;
    /* Firefox doesnt support "overlay" */
    overflow-y: scroll;
}
#background-image {
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 70px);
    position: fixed;
    -o-object-fit: cover;
       object-fit: cover;
}
#loading-container {
    display: none;
    --circle-count: 8;
}
.loading-circle {
    position: absolute;
    --radius: 75;
    --s: 40px;
    width: var(--s);
    height: var(--s);
    border-radius: 50%;
    transform: translate(calc(var(--x) * var(--radius) * 1px), calc(var(--y) * var(--radius) * 1px));
    /* -6 for rotating the circle */
    -webkit-animation: animateLoading 1s cubic-bezier(0.71, 0, 0.6, 0.79) calc(1s * (var(--circle-number) - var(--circle-count) - 6) / var(--circle-count)) infinite;
            animation: animateLoading 1s cubic-bezier(0.71, 0, 0.6, 0.79) calc(1s * (var(--circle-number) - var(--circle-count) - 6) / var(--circle-count)) infinite;
}
.loading-circle:nth-child(1) {
    --circle-number: 1;
    --x: 0;
    --y: 1;
}
.loading-circle:nth-child(2) {
    --circle-number: 2;
    --x: 0.7071;
    --y: 0.7071;
}
.loading-circle:nth-child(3) {
    --circle-number: 3;
    --x: 1;
    --y: 0;
}
.loading-circle:nth-child(4) {
    --circle-number: 4;
    --x: 0.7071;
    --y: -0.7071;
}
.loading-circle:nth-child(5) {
    --circle-number: 5;
    --x: 0;
    --y: -1;
}
.loading-circle:nth-child(6) {
    --circle-number: 6;
    --x: -0.7071;
    --y: -0.7071;
}
.loading-circle:nth-child(7) {
    --circle-number: 7;
    --x: -1;
    --y: 0;
}
.loading-circle:nth-child(8) {
    --circle-number: 8;
    --x: -0.7071;
    --y: 0.7071;
}
@-webkit-keyframes animateLoading {
    from {
        background: gray;
    }
    to {
        background: inherit;
    }
}
@keyframes animateLoading {
    from {
        background: gray;
    }
    to {
        background: inherit;
    }
}
#dark-mode #loading-container {
    filter: invert(1);
}
#logo-container {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#logo-container img {
    max-height: 60px;
}
body {
    margin: 0;
    --body-background: radial-gradient(circle, rgb(245,245,245) 0, rgb(192,192,192) 100%);
    background: var(--body-background);
}
#site {
    position: relative;
    overflow: hidden;
}
#user-greeting {
    position: absolute;
    right: 104px;
    font-size: 20px;
    color: white;
    padding-top: 13.4px;
}
#user-greeting #username {
    text-decoration: none;
    display: inline-block;
    padding: 2px 2px 0 6px;
    background: linear-gradient(rgb(72, 227, 235) 20%,rgb(83,127,163) 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    cursor: pointer;
}
#user-greeting #username::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid rgb(22, 177, 185);
    border-radius: 4px;
    transition: transform .2s cubic-bezier(.5,-3,.5,4);
}
#user-greeting #username:focus {
    outline: 0;
}
#user-greeting #username:focus::after {
    filter: brightness(1.25);
    transform: scale(1.04);
}
#user-greeting #username:hover::after {
    transform: scale(1.04);
}

#account-dropdown {
    display: none;
    right: 50%;
    width: 100px;
    position: absolute;
    background: rgb(43, 56, 68);
    color: white;
    transform: translate(50%, 16px);
    border: 3px solid transparent;
    -webkit-text-fill-color: currentcolor;
}
#username:focus-within #account-dropdown {
    display: block;
}
#account-dropdown::before {
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent rgb(43, 56, 68) transparent;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}
#account-dropdown :hover {
    background: rgb(82,107,130);
}
.nav-hr {
    width: 100%;
    margin: 4px auto;
    height: 1px;
    background: rgb(101, 101, 101);
}
#account-dropdown a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 6px;
    text-align: center;
}
#account-dropdown button {
    display: block;
    text-align: center;
    padding: 6px;
    font-size: 15px;
    width: 100%;
    background: none;
	color: inherit;
	border: none;
	cursor: pointer;
	outline: inherit;
}
#menu {
    float: right;
    margin: -5px;
    margin-left: 10px;
}
#menu svg {
    display: block;
}
nav {
    left: 0;
    top: 0;
    position: absolute;
    margin-left: calc(100vw + 3px);
    transition: transform .2s ease-in-out;
    width: 89px;
}
#nav-items::after, #nav-menu::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: opacity .2s ease-in-out;
    z-index: -1;
}
#nav-items::after {
    box-shadow: 0 0 4px 2px black;
}
#nav-menu::after {
    box-shadow: -5px 0 5px -5px gray;
}
#nav-menu {
    background: rgb(13,26,38);
    position: relative;
    z-index: 1;
}
rect {
    fill: white;
}
#nav-items {
    overflow: auto;
    max-height: calc(100vh - 65px);
    background: rgb(45,59,71);
}
#nav-items :not(.nav-hr) {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px;
    color: white;
    cursor: pointer;
    font-family: "Open Sans";
    font-size: 12.5px;
}
#nav-items .nav-hr {
    width: calc(100% - 10px);
}
#nav-items :hover, #nav-items :focus {
    background: rgb(82,107,130);
}
#nav-menu svg {
    display: block;
}
#menu:focus ~ nav, 
nav:focus-within {
    transform: translateX(calc(-100% - 3px));
}
#menu:focus ~ nav #nav-items::after,
nav:focus-within #nav-items::after {
    opacity: 1;
}
#menu:focus ~ nav #nav-menu::after,
nav:focus-within #nav-menu::after {    
    opacity: 1;
}



.info-button {
    display: inline-block;
    cursor: default !important;
    position: relative;
    bottom: 1px;
    left: 4px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: rgb(33,163,177) !important;
    font-size: 14px;
    font-style: italic;
    font-family: "Serif";
    text-shadow: none; /* Disable parent text shadow if user has a background image */
    
    color: white;
    text-align: center;
    line-height: 15px;
}
.info-button::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(1.8);
    left: 0;
    top: 0;
    position: absolute;
}
.info-button:hover, #previous-day-icon-label .info-button,
.info-button:hover, #next-day-icon-label .info-button {
    background: rgb(16,135,148);
    outline: 0;
}
.info-button:hover .info-button-text,
#previous-day-icon-label .info-button .info-button-text,
#next-day-icon-label .info-button .info-button-text {
    height: unset;
    border: 2px solid black;
    overflow: visible;
    padding: 5px 5px !important;
    transition: padding .1s ease-in-out, opacity .15s linear;
    opacity: 1;
}
.info-button-text {
    position: absolute;
    width: 265px;
    z-index: 1000;
    background: rgb(245,245,245) !important;
    box-shadow: 0 0 5px rgba(0,0,0,0.75);
    border-radius: 5px !important;
    box-shadow: none !important;
    border: none;
    height: 0;
    overflow: hidden;
    display: block;
    text-align: left;
    padding: 0 !important;
    color: black;
    font-size: 13px;
    line-height: 14px;
    font-style: normal;
    white-space: pre-line;
    opacity: 0;
}
.info-button-text.info-right {
    left: calc(100% + 14px);
    transform: translateY(-50%) translateY(-7px);
}
.info-button-text.info-left {
    right: calc(100% + 14px);
    transform: translateY(-50%) translateY(-7px);
}
.info-button-text.info-top {
    bottom: calc(100% + 14px);
    transform: translateX(-50%) translateX(11px);
}
.info-button-text.info-bottom {
    top: calc(100% + 14px);
    transform: translateX(-50%) translateX(7px);
}
.info-button-text::after {
    position: absolute;
    border-width: 10px;
    border-style: solid;
}
.info-button-text.info-right::after {
    content: "";
    right: calc(100% + 1px);
    top: 50%;
    transform: translateY(-50%);
    border-color: transparent black transparent transparent;
}
.info-button-text.info-left::after {
    content: "";
    left: calc(100% + 1px);
    top: 50%;
    transform: translateY(-50%);
    border-color: transparent transparent transparent black;
}
.info-button-text.info-top::after {
    content: "";
    top: calc(100% + 1px);
    right: 50%;
    transform: translateX(50%);
    border-color: black transparent transparent transparent;
}
.info-button-text.info-bottom::after {
    content: "";
    bottom: calc(100% + 1px);
    right: 50%;
    transform: translateX(50%);
    border-color: transparent transparent black transparent;
}
/* Don't know why this is here but it is here */
.info-button:hover .info-button-text.info-right {
    left: calc(100% + 12px);
}


#break-days-wrapper input {
    display: none !important;
}
#break-days-wrapper input:checked + .break-days-label {
    border-color: rgb(128,0,0);
    background: rgb(255,127,127);
}
#break-days-wrapper .break-days-label {
    background: rgb(127,255,127);
    display: inline-block;
    margin-right: 4px;
    margin-bottom: 4px;
    border: 1px solid green;
    border-radius: 5px;
    padding: 4px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transition: transform .3s cubic-bezier(.23,.77,.11,1.94);
}
#break-days-wrapper .break-days-label:hover, #break-days-wrapper .break-days-label:focus {
    transform: scale(1.04);
}
#break-days-wrapper .break-days-label:active {
    margin-top: 1px;
    margin-bottom: 3px;
}
/* open-sans 600 */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/open-sans-v18-latin-600.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
#changelog-container {
    padding: 0 10px;
}
.jconfirm .jconfirm-content-pane {
    max-height: 60vh !important;
}
.jconfirm .jconfirm-box {
    width: min(70%, 800px) !important;
}
.jconfirm .jconfirm-box div.jconfirm-content-pane .jconfirm-content {
    opacity: 0.55 !important;
}
.jconfirm .jconfirm-buttons {
    transform: scale(1.1);
    transform-origin: right;
}
.jconfirm .jconfirm-box div.jconfirm-title-c {
    font-size: 16px !important;
    line-height: 18px !important;
}
html {
    line-height: unset !important;
}
button,
input,
optgroup,
select,
textarea
{
    font-size: revert;
    line-height: normal;
    margin: revert;
}

