{% load static %}
{% load pwa %}

<!DOCTYPE html>
<html lang="en-US"{% if settings_model.dark_mode %} id="dark-mode"{% endif %}>
    <head>
        <meta charset="UTF-8">
        {% if not DEBUG %}
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-3K1HRD42V7"></script>
        {% endif %}
        <script nonce="{{request.csp_nonce}}">
            window.dataLayer = window.dataLayer || [];
            const DEBUG = "{{ DEBUG }}" === "True";
            if ("{{ DEBUG }}" !== "False") {
                function gtag(){}
            } else {
                function gtag(){dataLayer.push(arguments);}
            }
            gtag('js', new Date());

            gtag('config', 'G-3K1HRD42V7');
            ACCOUNT_EMAIL = "{{ user.get_username }}";
            EXAMPLE_ACCOUNT_EMAIL = "{{ EXAMPLE_ACCOUNT_EMAIL }}";
            EXAMPLE_ASSIGNMENT_NAME = "{{ EXAMPLE_ASSIGNMENT_NAME }}";
            {% if MAX_NUMBER_OF_TAGS %}
            MAX_NUMBER_OF_TAGS = {{ MAX_NUMBER_OF_TAGS }};
            {% endif %}
            GC_API_INIT_FAILED = {% if GC_API_INIT_FAILED %}true{% else %}false{% endif %};
            EDITING_EXAMPLE_ACCOUNT = {% if EDITING_EXAMPLE_ACCOUNT %}true{% else %}false{% endif %};
            NOTIFY_DATE_CHANGED = {% if NOTIFY_DATE_CHANGED %}true{% else %}false{% endif %};
            creating_gc_assignments_from_frontend = {% if creating_gc_assignments_from_frontend %}true{% else %}false{% endif %};

            // Initialize the service worker
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('/serviceworker.js', {
                    scope: '/'
                }).then(function (registration) {
                    
                }, function (err) {
                    
                });

                // https://redfin.engineering/how-to-fix-the-refresh-button-when-using-service-workers-a8e27af6df68
                let refreshing;
                navigator.serviceWorker.addEventListener('controllerchange', function() {
                    if (refreshing) return;
                    refreshing = true;
                    window.location.reload();
                });
            }
        </script>
        <title>{% block head_title %}TimeWeb{% endblock %}</title>
        {% progressive_web_app_meta %}
        <meta name="title" content="TimeWeb">
        <meta name="description" content="TimeWeb — The new way to manage your time. Organizing your work schedule has never been easier. Get started with your free account today!">

        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@TimeWebOfficial">
        <meta name="twitter:creator" content="@TimeWebOfficial">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://timeweb.io/">
        <meta property="og:title" content="Introducing TimeWeb!">
        <meta property="og:description" content="TimeWeb — The new way to manage your time. Organizing your work schedule has never been easier. Get started with your free account today!">
        <meta property="og:image" content="{% static 'timewebapp/images/icons/icon_512x512.png' %}">

        <meta name="author" content="Arhan Chaudhary">
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1">
        <link href="https://unpkg.com/npm-font-open-sans@1.1.0/open-sans.css" rel="stylesheet" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/normalize.css@8.0.1/normalize.css" crossorigin="anonymous" />
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% block base_head_css %}{% endblock %}
        {% block base_head_js %}{% endblock %}
        <noscript>Your browser does not support or has disabled javascript, which is required for this website</noscript>
    </head>
    <body tabindex="-1">
        <div id="site">
            {% comment %} 
            remember to have a <main> on these blocks, many stylesheets and scripts rely on that being present 
            also remember to have #loading-container (for the below code)
            {% endcomment %}
            {% block base_head_body %}{% endblock %}
            <script nonce="{{request.csp_nonce}}">
                window.onbeforeunload = function() {
                    if (window.ajaxUtils) window.ajaxUtils.silence_errors = true;
                    if (window.disable_loading) return;
                    // setTimeout to ensure .scrollTop to record the scroll position is run before this
                    setTimeout(function() {
                        document.querySelectorAll("main > *").forEach(e => {
                            e.style.display = "none";
                        });
                        document.getElementsByTagName("main")[0].style.display = "flex";
                        document.getElementsByTagName("main")[0].style.justifyContent = "center";
                        document.getElementsByTagName("main")[0].style.alignItems = "center";
                        if (document.getElementById("background-image")) document.getElementById("background-image").style.display = "block";
                        if (document.getElementById("circles-background"))
                            document.getElementById("circles-background").style.display = "block";
                        else 
                            document.getElementById("loading-container").style.display = "contents";
                    }, 0);
                };
            </script>
        </div>
    </body>
</html>