/* THIS FILE HAS NOT YET BEEN FULLY DOCUMENTED */
input[type="radio"] {
    margin: 0;
}
body {
    --primary-c: 255;
    --c: 0;
    --input-focus-color: rgb(0, 95, 204);
    --form-placeholder-color: rgb(117, 117, 117); /* Default chrome placeholder color */
    
    --primary: rgb(var(--primary-c), var(--primary-c), var(--primary-c));
    --color: rgb(var(--c), var(--c), var(--c));
    color: var(--color);
}
header {
    --background-color: rgb(13, 26, 38);
    width: 100%;
    background: var(--background-color);
    height: 70px;
    padding: 5px;
    position: absolute;
    z-index: 1002;
    box-sizing: border-box;
}
header::after {
    content: '';
    top: 70px;
    left: 0;
    width: 100%;
    height: 20px;
    position: absolute;
    box-shadow: 0 3px 7px var(--background-color);
    background: var(--background-color);
    z-index: -1;
    transform: translateY(-20px);
}
header > * {
    visibility: hidden;
}
#image-new-container {
    cursor: pointer;
    display: inline-block;
    height: 60px;
    position: absolute;
}
#image-new-container img {
    float: left;
    transform: scale(0.7);
    filter: hue-rotate(92deg);
}
#new-assignment-text {
    margin-left: 4px;
    float: left;
    color: white;
    font-size: 20px;
    font-family: "Open Sans";
    line-height: 60px;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
main {
    position: relative; /* Needed for positioning the background image */
    height: 100vh;
    padding: 0 20px;
    padding-top: 70px;
    box-shadow: inset 20px 0 0 0 var(--primary), inset -20px 0 0 0 var(--primary);
    box-sizing: border-box;
    /* some js focuses on the main, causing it to get an outline even with tabindex -1; hide it */
    outline: 0 !important;
}
#background-image {
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 70px);
    position: fixed;
    pointer-events: none;
    -o-object-fit: cover;
       object-fit: cover;
}
.generic-button, ::file-selector-button {
    cursor: pointer;
    --bg-c: var(--primary-c);
    background-color: rgb(var(--bg-c), var(--bg-c), var(--bg-c));
    border: 1px solid;
    border-radius: 4px;
    display: inline-block;
    font-size: 13px;
    text-align: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 1px 6px;
    position: relative;
}
.generic-button {
    border-color: hsl(0, 0%, 58%);
}
::file-selector-button {
    border-color: black;
}
.generic-button:hover, .generic-button:focus, ::file-selector-button:hover {
    --bg-c: calc(var(--primary-c) - 19);
}
.generic-button:active, ::file-selector-button:active {
    transform: translateY(1px);
    box-shadow: none;
}
.daterangepicker .generic-button {
    padding: 2px 10px;
}
.daterangepicker .drp-calendar {
    padding-right: 8px !important;
}
.daterangepicker .drp-calendar .calendar-table {
    padding-right: unset !important;
}
/* styles from the daterangepicker library */
.daterangepicker .drp-buttons .applyBtn {
    margin-left: 5px;

    border-color: transparent;
    background-color: #357ebd;
    color: #fff;
}
#logo-container {
    display: inline-block;
    position: relative;
    margin-top: 3px;
    left: 50%;
    transform: translateX(-50%);
}
body {
    margin: 0;
    --body-background: rgb(247, 247, 247);
    background-color: var(--body-background);
}
#site {
    position: relative;
    overflow: hidden;
}
#user-greeting {
    position: absolute;
    right: 104px;
    font-size: 20px;
    color: white;
    padding-top: 13.4px;
}
#user-greeting #username {
    text-decoration: none;
    display: inline-block;
    padding: 2px 2px 0 6px;
    background: linear-gradient(rgb(72, 227, 235) 20%,rgb(83,127,163) 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    cursor: pointer;
}
#user-greeting #username::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid rgb(22, 177, 185);
    border-radius: 4px;
    transition: transform .2s cubic-bezier(.5,-3,.5,4);
}
#user-greeting #username:focus {
    outline: 0;
}
#user-greeting #username:focus::after {
    filter: brightness(1.25);
    transform: scale(1.04);
}
#user-greeting #username:hover::after {
    transform: scale(1.04);
}

#account-dropdown {
    display: none;
    right: 50%;
    width: 100px;
    position: absolute;
    background: rgb(43, 56, 68);
    color: white;
    transform: translate(50%, 16px);
    border: 3px solid transparent;
    -webkit-text-fill-color: currentcolor;
}
#username:focus-within #account-dropdown {
    display: block;
}
#account-dropdown::before {
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent rgb(43, 56, 68) transparent;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}
#account-dropdown :hover {
    background: rgb(82,107,130);
}
.nav-hr {
    width: 100%;
    margin: 4px auto;
    height: 1px;
    background: rgb(101, 101, 101);
}
#account-dropdown a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 6px;
    text-align: center;
}
#account-dropdown button {
    display: block;
    text-align: center;
    padding: 6px;
    font-size: 15px;
    width: 100%;
    background: none;
	color: inherit;
	border: none;
	cursor: pointer;
	outline: inherit;
}
#menu {
    float: right;
    margin: -5px;
    margin-left: 10px;
}
#menu svg {
    display: block;
}
nav {
    left: 0;
    top: 0;
    position: absolute;
    margin-left: calc(100vw + 3px);
    transition: transform .2s ease-in-out;
    width: 89px;
}
#nav-menu {
    background: var(--background-color);
    position: relative;
    z-index: 1;
    box-shadow: -5px 0 5px -5px hsl(0, 0%, 50%);
}
rect {
    fill: white;
}
#nav-items {
    overflow: auto;
    max-height: calc(100vh - 65px);
    background: rgb(43, 56, 68);
}
#nav-items :not(.nav-hr) {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px;
    color: white;
    cursor: pointer;
    font-family: "Open Sans";
    font-size: 12.5px;
}
#nav-close-assignments {
    display: none !important;
}
#nav-items .nav-hr {
    width: calc(100% - 6px);
}
#nav-items :hover, #nav-items :focus {
    background: rgb(82,107,130);
}
#nav-menu svg {
    display: block;
}
#menu:focus ~ nav, 
nav:focus-within {
    transform: translateX(calc(-100% - 3px));
}

.info-button {
    display: inline-block;
    cursor: default !important;
    position: relative;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: rgb(33,163,177) !important;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    font-family: "Serif";
    text-shadow: none; /* Disable parent text shadow if user has a background image */
    
    color: white;
    text-align: center;
    line-height: 15px;
}
.info-button::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(1.8);
    left: 0;
    top: 0;
    position: absolute;
}
.info-button:hover {
    background: rgb(16,135,148);
    outline: 0;
}
.info-button:hover .info-button-text {
    height: unset;
    border: 2px solid var(--color);
    overflow: visible;
    padding: 5px 5px !important;
    transition: padding .1s ease-in-out, opacity .15s linear;
    opacity: 1;
}
.info-button-text {
    position: absolute;
    width: 265px;
    z-index: 1000;
    background: var(--body-background) !important;
    color: var(--color);
    border-radius: 5px !important;
    border: none;
    height: 0;
    overflow: hidden;
    display: block;
    text-align: left;
    padding: 0 !important;
    font-size: 13px;
    line-height: 14px;
    font-style: normal;
    white-space: pre-line;
    opacity: 0;
}
.info-button-text.info-right {
    left: calc(100% + 14px);
    transform: translateY(-50%) translateY(-7px);
}
.info-button-text.info-left {
    right: calc(100% + 14px);
    transform: translateY(-50%) translateY(-7px);
}
.info-button-text.info-top {
    bottom: calc(100% + 14px);
    transform: translateX(-50%) translateX(11px);
}
.info-button-text.info-bottom {
    top: calc(100% + 14px);
    transform: translateX(-50%) translateX(7px);
}
.info-button-text::after {
    position: absolute;
    border-width: 10px;
    border-style: solid;
}
.info-button-text.info-right::after {
    content: "";
    right: calc(100% + 1px);
    top: 50%;
    transform: translateY(-50%);
    border-color: transparent var(--color) transparent transparent;
}
.info-button-text.info-left::after {
    content: "";
    left: calc(100% + 1px);
    top: 50%;
    transform: translateY(-50%);
    border-color: transparent transparent transparent var(--color);
}
.info-button-text.info-top::after {
    content: "";
    top: calc(100% + 1px);
    right: 50%;
    transform: translateX(50%);
    border-color: var(--color) transparent transparent transparent;
}
.info-button-text.info-bottom::after {
    content: "";
    bottom: calc(100% + 1px);
    right: 50%;
    transform: translateX(50%);
    border-color: transparent transparent var(--color) transparent;
}
/* Don't know why this is here but it is here */
.info-button:hover .info-button-text.info-right {
    left: calc(100% + 12px);
}

#changelog-container {
    padding: 0 10px;
}
.jconfirm .jconfirm-content-pane {
    max-height: 60vh !important;
}
.jconfirm .jconfirm-box {
    width: min(70%, 800px) !important;
    background-color: var(--body-background) !important;
}
.jconfirm .jconfirm-box div.jconfirm-content-pane .jconfirm-content {
    opacity: 0.55 !important;
}
.jconfirm .jconfirm-buttons {
    transform: scale(1.1);
    transform-origin: right;
}
.jconfirm .jconfirm-box div.jconfirm-title-c {
    font-size: 16px !important;
    line-height: 18px !important;
}
@media screen and (max-width: 700px) {
    .jconfirm .jconfirm-box {
        /* First 30 for the padding due to a lack of border-box, second 30 for the right and left margin */
        width: calc(100% - 30px - 30px) !important;
    }
}