/* THIS FILE HAS NOT YET BEEN FULLY DOCUMENTED */
input[type="radio"] {
    margin: 0;
}
body {
    --primary-c: 255;
    --c: 0;
    --input-focus-color: rgb(0, 95, 204);
    --form-placeholder-color: hsl(0, 0%, 46%); /* Default chrome placeholder color */
    
    --primary: rgb(var(--primary-c), var(--primary-c), var(--primary-c));
    --color: rgb(var(--c), var(--c), var(--c));
    color: var(--color);

    --body-background: hsl(0, 0%, 96%);
    background-color: var(--body-background);
}
select {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    padding: 2px 16px 2px 4px !important;
    --dropdown-arrow-lightmode: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='7' fill='black'><path d='M0 0 7 7 14 0 12 0 7 5 2 0'/></svg>");
    --dropdown-arrow-darkmode: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='7' fill='white'><path d='M0 0 7 7 14 0 12 0 7 5 2 0'/></svg>");
    --dropdown-arrow: var(--dropdown-arrow-lightmode);
}
select, .daterangepicker select:not(#dummyforspecifityurmomisprettythick) {
    /* safari is really mean (https://stackoverflow.com/questions/7638677/how-can-i-remove-the-gloss-on-a-select-element-in-safari-on-mac) */
    background: var(--dropdown-arrow) no-repeat;
    background-color: var(--primary);
    border: 1px solid var(--color);
    background-size: 10px;
    background-position: right 3px top 55%;
    background-repeat: no-repeat;
}

/* https://stackoverflow.com/questions/23372903/hide-up-down-arrow-buttons-spinner-in-input-number-firefox-29#answer-23374725 */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

header {
    --background-color: rgb(13, 26, 38);
    width: 100%;
    background: var(--background-color);
    height: var(--header-height);
    padding-right: 5px;
    padding-left: 5px;
    position: absolute;
    color: white;
    font-size: 20px;
    z-index: 1002;
    box-sizing: border-box;
}
header::after {
    content: '';
    top: var(--header-height);
    left: 0;
    width: 100%;
    height: 20px;
    position: absolute;
    box-shadow: 0 3px 7px var(--background-color);
    background: var(--background-color);
    z-index: -1;
    transform: translateY(-20px);
}
header > * {
    visibility: hidden;
}
#image-new-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;
}
#image-new-container img {
    filter: hue-rotate(92deg);
    margin-right: 9px;
    margin-left: 9px;
}
#new-assignment-text {
    margin-left: 4px;
    color: white;
}
#site {
    --header-height: 80px;
}
main {
    position: relative; /* Needed for positioning the background image */
    height: var(--100vh);
    padding: calc(10px + var(--header-height)) 20px 0;
    overflow-y: auto;
    box-shadow: inset 20px 0 0 0 var(--primary), inset -20px 0 0 0 var(--primary);
    box-sizing: border-box;
    /* some js focuses on the main, causing it to get an outline even with tabindex -1; hide it */
    outline: 0 !important;
}
main.finished-header-transition {
    padding: 10px 20px 0;
    height: calc(var(--100vh) - var(--header-height));
    margin-top: var(--header-height);
}
.generic-button, ::file-selector-button {
    cursor: pointer;
    --bg-c: var(--primary-c);
    background-color: rgb(var(--bg-c), var(--bg-c), var(--bg-c));
    border: 1px solid;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 1px 6px;
    position: relative;
}
.generic-button {
    border-color: hsl(0, 0%, 58%);
    font-size: 13px;
}
select, .daterangepicker .drp-buttons .cancelBtn {
    color: var(--color); /* doesn't inherit properly */
}

::file-selector-button {
    border-color: var(--color);
}
.generic-button:hover, .generic-button:focus, ::file-selector-button:hover {
    --bg-c: calc(var(--primary-c) - 19);
}
.generic-button:active, ::file-selector-button:active {
    transform: translateY(1px);
    box-shadow: none;
}
.daterangepicker .generic-button {
    font-size: inherit;
    padding: 2px 10px;
}
.daterangepicker .drp-calendar {
    padding-right: 8px !important;
}
.daterangepicker .drp-calendar .calendar-table {
    padding-right: unset !important;
}
/* styles from the daterangepicker library */
.daterangepicker .drp-buttons .applyBtn {
    margin-left: 5px;

    border-color: transparent;
    background-color: #357ebd;
    color: #fff;
}
.daterangepicker {
    font-family: inherit !important;
    width: initial !important;
}
.daterangepicker,
.daterangepicker .calendar-table {
    background-color: var(--primary) !important;
}
.daterangepicker .calendar-table td:not(.active, :hover) {
    background-color: inherit !important;
}
.daterangepicker .calendar-table .available span {
    border-color: var(--color) !important;
}
.daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
    width: 43px !important;
    height: 29px !important;
    font-size: 16px !important;
}
.daterangepicker.show-calendar .ranges {
    float: left !important;
}
.daterangepicker .drp-calendar {
    max-width: initial !important;
}
.daterangepicker select.hourselect,
.daterangepicker select.minuteselect,
.daterangepicker select.secondselect,
.daterangepicker select.ampmselect {
    width: 60px !important;
}
.daterangepicker,
.daterangepicker select.monthselect,
.daterangepicker select.yearselect,
.daterangepicker select.hourselect,
.daterangepicker select.minuteselect,
.daterangepicker select.secondselect,
.daterangepicker select.ampmselect {
    font-size: 16px !important;
}
.daterangepicker .calendar-time {
    margin-top: 8px !important;
}
.daterangepicker .calendar-table tr:first-of-type > th {
    vertical-align: middle !important;
    line-height: 0px !important;
}
.daterangepicker #daterangepicker-midnight {
    margin-left: 6px;
}
#logo-container {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-top: 1px;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
}
#site {
    position: relative;
    overflow: hidden;
}
#user-greeting {
    display: flex;
    align-items: center;
    position: absolute;
    right: 32px;
    height: 100%;
}
#user-greeting #username {
    text-decoration: none;
    display: inline-block;
    padding: 4px 6px;
    background: linear-gradient(rgb(72, 227, 235) 20%,rgb(83,127,163) 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    cursor: pointer;
}
#user-greeting #username::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid rgb(22, 177, 185);
    border-radius: 4px;
    transition: transform .2s cubic-bezier(.5,-3,.5,4);
}
#user-greeting #username::after {
    content: '';
    display: inline-block;
    margin-left: 8px;
    margin-right: -4px;
    border: 6px solid transparent;
    border-left-color: rgb(22, 177, 185);
}
#user-greeting #username:focus-within::after {
    border: 6px solid transparent;
    border-top-color: rgb(22, 177, 185);
    transform: translate(-3px, 3px);
}
#user-greeting #username:focus,
#user-greeting #username :focus {
    outline: 0;
}
#user-greeting #username:focus::before {
    filter: brightness(1.25);
    transform: scale(1.04);
}
#user-greeting #username:hover::before {
    transform: scale(1.04);
}

#account-dropdown {
    display: none;
    right: 50%;
    width: 125px;
    cursor: initial;
    position: absolute;
    background: rgb(43, 56, 68);
    color: white;
    transform: translate(50%, 16px);
    white-space: nowrap;
    border: 3px solid transparent;
    --margin-right: 0px;
    margin-right: var(--margin-right);
    -webkit-text-fill-color: currentcolor;
}
#username:focus-within #account-dropdown {
    display: block;
}
#account-dropdown::before {
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent rgb(43, 56, 68) transparent;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%) translateX(var(--margin-right));
    position: absolute;
}
#account-dropdown :hover,
/* tabbing */
#account-dropdown :focus,
#username.highlight-setings-nav #settings-nav {
    background: rgb(82,107,130);
}
.dropdown-hr {
    width: 100%;
    margin: 4px auto;
    height: 1px;
    background: hsl(0, 0%, 40%);
}
#account-dropdown a, #account-dropdown button {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 7px;
    text-align: center;
}
#account-dropdown .one-line {
    padding-top: 10px;
    padding-bottom: 10px;
}
#account-dropdown button {
    width: 100%;
    background: inherit;
	color: inherit;
	border: inherit;
	cursor: pointer;
	outline: inherit;
}
.info-button {
    display: inline-block;
    cursor: default !important;
    position: relative;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: hsl(186, 69%, 41%) !important;
    font-size: 16px;
    line-height: 17px;
    font-weight: 400;
    font-style: italic;
    font-family: "Serif";
    text-shadow: none; /* Disable parent text shadow if user has a background image */
    
    color: white;
    text-align: center;
}
.info-button::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(1.8);
    left: 0;
    top: 0;
    position: absolute;
}
.info-button:focus {
    background: hsl(186, 80%, 30%) !important;
    outline: 0;
}
.info-button:hover:not(.prevent-hover) .info-button-text,
.info-button:focus .info-button-text {
    height: unset;
    border: 2px solid var(--color);
    overflow: visible;
    padding: 5px 5px !important;
    transition: padding calc(0.1s * var(--animation-speed)) ease-in-out, opacity calc(0.15s * var(--animation-speed)) linear;
    opacity: 1;
}
.info-button-text {
    position: absolute;
    width: 265px;
    z-index: 1000;
    background: var(--body-background) !important;
    color: var(--color);
    border-radius: 5px !important;
    border: none;
    height: 0;
    overflow: hidden;
    display: block;
    text-align: left;
    padding: 0 !important;
    font-size: 14px;
    line-height: 15px;
    font-style: normal;
    white-space: pre-line;
    opacity: 0;
}
.info-button-text.info-right {
    left: calc(100% + 14px);
    transform: translateY(-50%) translateY(-8.5px);
}
.info-button-text.info-left {
    right: calc(100% + 14px);
    transform: translateY(-50%) translateY(-8.5px);
}
.info-button-text.info-top {
    bottom: calc(100% + 14px);
    transform: translateX(-50%) translateX(11px);
}
.info-button-text.info-bottom {
    top: calc(100% + 14px);
    transform: translateX(-50%) translateX(7px);
}
.info-button-text::after {
    position: absolute;
    border-width: 10px;
    border-style: solid;
}
.info-button-text.info-right::after {
    content: "";
    right: calc(100% + 1px);
    top: 50%;
    transform: translateY(-50%);
    border-color: transparent var(--color) transparent transparent;
}
.info-button-text.info-left::after {
    content: "";
    left: calc(100% + 1px);
    top: 50%;
    transform: translateY(-50%);
    border-color: transparent transparent transparent var(--color);
}
.info-button-text.info-top::after {
    content: "";
    top: calc(100% + 1px);
    right: 50%;
    transform: translateX(50%);
    border-color: var(--color) transparent transparent transparent;
}
.info-button-text.info-bottom::after {
    content: "";
    bottom: calc(100% + 1px);
    right: 50%;
    transform: translateX(50%);
    border-color: transparent transparent var(--color) transparent;
}

#changelog-container {
    padding: 0 10px;
}
.jconfirm {
    overflow-y: auto !important;
}
.jconfirm .jconfirm-content-pane {
    max-height: calc(60 * var(--vh)) !important;
}
.jconfirm .jconfirm-box {
    width: min(70vw, 800px) !important;
    background-color: var(--body-background) !important;
}
.jconfirm .jconfirm-box div.jconfirm-content-pane .jconfirm-content {
    opacity: 0.55 !important;
}
.jconfirm .jconfirm-buttons {
    transform: scale(1.1);
    transform-origin: right;
}
.jconfirm .jconfirm-box div.jconfirm-title-c {
    font-size: 16px !important;
    line-height: 18px !important;
    overflow-wrap: break-word;
}
.jconfirm .jconfirm-box div.jconfirm-title-c .jconfirm-title {
    display: initial !important;
}
.jconfirm .jconfirm-box .jconfirm-buttons button.btn-blue:focus {
    /* color from the jconfirm library when button is hovered */
    background-color: #2980b9;
    box-shadow: 0 0 0 1px #2980b9;
}
@media screen and (max-width: 700px) {
    .jconfirm .jconfirm-box {
        /* First 30 for the padding due to a lack of border-box, second 30 for the right and left margin */
        width: calc(100vw - 30px - 30px) !important;
    }
}

.jscolor-picker {
    background-color: var(--primary);
    border-radius: 8px;
}