* {
    font-weight: 600;
    /* keep this as selector as * so fonts arent inherited (for example .info-button) */
    font-family: "Open Sans", sans-serif;
    touch-action: manipulation;
}
html {
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}
input:not([type="file"]), textarea {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    /* Mobile */
    -webkit-appearance: none;
    border-style: solid;
    padding: 1px 2px;
    /* Firefox */
    filter: none;
}
textarea {
    resize: none;
}
input[type="checkbox"], input[type="radio"] {
    -webkit-appearance: revert;
}
img {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
/* Override normalize.css */
html {
    line-height: unset !important;
}
button,
input,
optgroup,
select,
textarea
{
    font-size: revert;
    line-height: normal;
    margin: revert;
}



#loading-container {
    display: none;
    --circle-count: 8;
}
.loading-circle {
    position: absolute;
    --radius: 75;
    --s: 40px;
    width: var(--s);
    height: var(--s);
    border-radius: 50%;
    transform: translate(calc(var(--x) * var(--radius) * 1px), calc(var(--y) * var(--radius) * 1px));
    /* -6 for rotating the circle */
    -webkit-animation: animateLoading 1s cubic-bezier(0.71, 0, 0.6, 0.79) calc((-1s * var(--circle-number) - 4s) / var(--circle-count)) infinite;
            animation: animateLoading 1s cubic-bezier(0.71, 0, 0.6, 0.79) calc((-1s * var(--circle-number) - 4s) / var(--circle-count)) infinite;
}
.loading-circle:nth-child(1) {
    --circle-number: 1;
    --x: 0;
    --y: 1;
}
.loading-circle:nth-child(2) {
    --circle-number: 2;
    --x: 0.7071;
    --y: 0.7071;
}
.loading-circle:nth-child(3) {
    --circle-number: 3;
    --x: 1;
    --y: 0;
}
.loading-circle:nth-child(4) {
    --circle-number: 4;
    --x: 0.7071;
    --y: -0.7071;
}
.loading-circle:nth-child(5) {
    --circle-number: 5;
    --x: 0;
    --y: -1;
}
.loading-circle:nth-child(6) {
    --circle-number: 6;
    --x: -0.7071;
    --y: -0.7071;
}
.loading-circle:nth-child(7) {
    --circle-number: 7;
    --x: -1;
    --y: 0;
}
.loading-circle:nth-child(8) {
    --circle-number: 8;
    --x: -0.7071;
    --y: 0.7071;
}
@-webkit-keyframes animateLoading {
    from {
        background: gray;
    }
    to {
        background: inherit;
    }
}
@keyframes animateLoading {
    from {
        background: gray;
    }
    to {
        background: inherit;
    }
}
#dark-mode #loading-container {
    filter: invert(1);
}