* {
    font-weight: 600;
    /* keep this as selector as * so fonts arent inherited (for example .info-button) */
    touch-action: manipulation;
    text-decoration-thickness: 1.5px;
}
html {
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    --vh: 1vh;
    --vh: 1dvh;
    /* if neither are supported, fallback to js base solution in base.js */
    --100vh: calc(var(--vh) * 100);
}
.font-montserrat,
.font-montserrat .info-button-text {
    font-family: "Montserrat", sans-serif;
}
.font-opensans,
.font-opensans .info-button-text {
    font-family: "Open Sans", sans-serif;
}
input, textarea {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    /* Mobile */
    -webkit-appearance: none;
    border-style: solid;
    padding: 2px;
    /* Firefox */
    filter: none;
}
select {
    border-radius: 0;
}
textarea {
    resize: none;
}
[type="checkbox"], [type="radio"] {
    -webkit-appearance: revert;
    border: 1px solid var(--color);
    margin: 3px 3px 3px 4px;
}
img {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
svg[height="0"], svg[width="0"] {
    position: absolute;
}
hr {
    border-color: hsl(0, 0%, 93%);
}
/* Override normalize.css */
html {
    line-height: 1.36;
}
button,
input,
optgroup,
select,
textarea
{
    font-size: 11pt;
    line-height: normal;
    /* safari */
    margin: 0;
}
/* normalize.css uses ::-webkit-file-upload-button instead of ::file-selector-button for some reason */
::file-selector-button {
    font: inherit;
    -webkit-appearance: button;
    border-color: black;
}
a, :visited {
    color: rgb(0, 0, 238);
}
@media (prefers-color-scheme: dark) {
    a, :visited {
        color: rgb(158, 158, 255);
    }
}
.dark a, .dark :visited {
    color: rgb(158, 158, 255);
}
.light a, .light :visited {
    color: rgb(0, 0, 238);
}

.oudated-serviceworker-registration-bugfix {
    display: none;
}


.error-note, .success-note {
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 16px 10px;
    width: 100%;
    margin-bottom: 15px;
    scroll-margin: 10px;
    box-sizing: border-box;
}
.error-note {
    background: rgba(255, 68, 12, 0.05);
    color: rgb(237 28 36);
    border: 1px solid rgb(237 28 36) !important;
}
.success-note {
    background: rgba(68, 255, 12, 0.05);
    color: rgb(0 190 53);
    border: 1px solid rgb(28, 186, 0);
}

#loading-container {
    display: none;
    --circle-count: 8;
}
.loading-circle {
    position: absolute;
    --radius: 75;
    --s: 40px;
    width: var(--s);
    height: var(--s);
    border-radius: 50%;
    transform: translate(calc(var(--x) * var(--radius) * 1px), calc(var(--y) * var(--radius) * 1px));
    /* -6 for rotating the circle */
    -webkit-animation: animateLoading 1s cubic-bezier(0.71, 0, 0.6, 0.79) calc((-1s * var(--circle-number) - 4s) / var(--circle-count)) infinite;
            animation: animateLoading 1s cubic-bezier(0.71, 0, 0.6, 0.79) calc((-1s * var(--circle-number) - 4s) / var(--circle-count)) infinite;
}
.loading-circle:nth-child(1) {
    --circle-number: 1;
    --x: 0;
    --y: 1;
}
.loading-circle:nth-child(2) {
    --circle-number: 2;
    --x: 0.7071;
    --y: 0.7071;
}
.loading-circle:nth-child(3) {
    --circle-number: 3;
    --x: 1;
    --y: 0;
}
.loading-circle:nth-child(4) {
    --circle-number: 4;
    --x: 0.7071;
    --y: -0.7071;
}
.loading-circle:nth-child(5) {
    --circle-number: 5;
    --x: 0;
    --y: -1;
}
.loading-circle:nth-child(6) {
    --circle-number: 6;
    --x: -0.7071;
    --y: -0.7071;
}
.loading-circle:nth-child(7) {
    --circle-number: 7;
    --x: -1;
    --y: 0;
}
.loading-circle:nth-child(8) {
    --circle-number: 8;
    --x: -0.7071;
    --y: 0.7071;
}

main.loading > * {
    display: none !important;
}
main.loading {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
main.loading #background-image {
    display: block !important;
}
main.loading #circles-background {
    display: block !important;
}
main.loading #loading-container {
    display: contents !important;
}

@-webkit-keyframes animateLoading {
    from {
        background: hsl(0, 0%, 50%);
    }
    to {
        background: inherit;
    }
}
@keyframes animateLoading {
    from {
        background: hsl(0, 0%, 50%);
    }
    to {
        background: inherit;
    }
}