{% extends "account/accounts-template.html" %}
{% load static %}

{% block accounts_js %}
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
{% endblock %}

{% block head_title %}Contact{% endblock %}

{% block accounts_content %}
    <h1>Contact</h1>

    <form method="POST" action="{% url 'contact_form' %}" id="contact-form">
        {% csrf_token %}
        {% include "account/accounts_messages.html" %}
        {% for field in form %}
            <span>
                <label for="{{ field.auto_id }}">{{ field.label }}</label>
                {{ field }}
            </span>
        {% endfor %}
        <button class="g-recaptcha" 
                data-sitekey="6LfUBlIeAAAAAKPyzTPxikuduIEdK3m4i1mnBkqN" 
                data-callback='submitContactForm' 
                data-action='submit'>Send e-mail</button>
    </form>
{% endblock %}
