{% extends "account/accounts-template.html" %}
{% load static %}

{% block accounts_js %}
    <script nonce="{{request.csp_nonce}}">
        $(window).one("load", function() {
            $("#id_body").expandableTextareaHeight().trigger("input");
        })
        function submitContactForm(token) {
            $("#contact-form")[0].submit();
        }
    </script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
{% endblock %}

{% block head_title %}Contact{% endblock %}

{% block accounts_content %}
    <h1>Contact</h1>

    <form method="POST" action="{% url 'contact_form' %}" id="contact-form">
        {% csrf_token %}
        {% include "account/accounts_messages.html" %}
        {% for field in form %}
            <span>
                <label for="{{ field.auto_id }}">{{ field.label }}</label>
                {{ field }}
            </span>
        {% endfor %}
        <button class="g-recaptcha" 
                data-sitekey="6LfUBlIeAAAAAKPyzTPxikuduIEdK3m4i1mnBkqN" 
                {% comment %}
                site key for localhost: 6LdfDVIeAAAAAHqod332oJv3ICHdeQnFBBoOjICR
                secret key for localhost: you thought lmao get it from here skrub https://www.google.com/recaptcha/admin/site/508693855/settings {% endcomment %}
                data-callback='submitContactForm' 
                data-action='submit'
                id="submit-button">Send e-mail</button>
    </form>
{% endblock %}
