html {
    color-scheme: dark;
}
body {
    --body-background: hsl(0, 0%, 13%);
    --primary-c: 48;
    --c: 213;
    --input-focus-color: hsl(210deg, 71%, 57%);
    --form-placeholder-color: hsl(0, 0%, 66%);
}
#form-wrapper form {
    --field-widget-background-color: hsl(0deg, 0%, 19%);
}
#form-wrapper #submit-assignment-button {
    --background-color-default: hsl(0, 0%, 16%);
    --background-color-hover: hsl(0, 0%, 17%);
    --background-color-active: hsl(0, 0%, 15%);
}
#form-wrapper #submit-assignment-button {
    border-color: black;
}
#form-wrapper .field-wrapper > input,
#form-wrapper .field-wrapper > textarea,
#break-days-wrapper {
    --background-color: hsl(0, 0%, 24%);
}
#break-days-wrapper input:checked + .break-days-label {
    background-color: hsl(0, 0%, 16%);
    text-decoration-color: hsl(0, 0%, 49%);
    color: hsl(0, 0%, 40%);
}
#break-days-wrapper input:not(:checked) + .break-days-label:hover {
    background-color: hsl(0, 0%, 31%);
}
#form-wrapper .field-widget:hover {
    --field-widget-background-color: hsl(0, 0%, 24%);
}
.generic-button:hover, .generic-button:focus {
    --bg-c: calc(var(--primary-c) + 12);
}
.assignment {
    box-shadow: none;
}
.assignment-header-button:focus, .assignment-header-button:hover {
    --background-color: rgb(86, 116, 129);
}
.tag-add-box {
    --background-color: hsl(0, 0%, 15%);
    --box-shadow-color: hsla(0, 0%, 32%, 0.65);
    --input-background-color: hsl(0, 0%, 11%);
}
.tag-add-button {
    --background-color: hsl(0, 0%, 20%);
}
.tag-add-button::after {
    --box-shadow-color-default: hsl(0, 0%, 67%);
    --box-shadow-color-focus: hsl(0, 0%, 83%);
    --box-shadow-color-invalid: rgb(187, 53, 53);
}
.tag-add-button:focus:not(:hover)::after {
    box-shadow: 0 0 3px 2px var(--box-shadow-color-focus);
}
.tag-add-button.tag-add-red-box-shadow::after {
    box-shadow: 0 0 5px 2px var(--box-shadow-color-invalid);
}
.tag-add-button > .icon-slash {
    --background-color: hsl(0, 0%, 75%);
}
.tag-add-selection-item::after {
    --background-color: hsl(0, 0%, 19%);
}
.tag-add-selection-item.checked::after {
    --background-color: rgb(34, 83, 99);
}
.tag-wrapper, .tag-add {
    --background-color: unset !important;
}
.tag-delete > .icon-slash {
    --background-color: black;
}
.grey-highlight, .grey-highlight::before, .grey-highlight::after {
    --filter-drop-shadow-color: black !important;
}
#form-wrapper #cancel-button {
    filter: invert(calc(var(--c) / 255)) hue-rotate(180deg);
}
.fixed-graph {
    filter: invert(1) hue-rotate(180deg);
}
.graph-footer > * {
    --background-color: hsl(0, 0%, 27%);
}
.graph-footer ::placeholder {
    color: hsl(0, 0%, 64%);
}
#toggle-gc-container {
    --background-color: var(--body-background);
    --box-shadow-color: hsl(0, 0%, 40%);
}

/* .available for higher priority */
.daterangepicker td:not(.active).available:hover,
.daterangepicker th.available:hover {
    background-color: hsl(0, 0%, 30%);
}
.daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.secondselect, .daterangepicker select.ampmselect {
    background: revert;
    border: revert;
}

.jconfirm.jconfirm-light .jconfirm-box {
    box-shadow: none !important;
    border: 1px solid hsl(0, 0%, 48%);
}