html {
    color-scheme: dark;
}
body {
    --body-background: rgb(33, 33, 33);
    --primary-c: 48;
    --c: 213;
    --input-focus-color: rgb(35, 116, 215);
    --form-placeholder-color: rgb(168, 168, 168);
}
#id_assignment_sorting {
    color: rgb(var(--c), var(--c), var(--c));
    background-color: black;
}
.generic-button:hover {
    --bg-c: calc(var(--primary-c) + 12);
}
.assignment {
    box-shadow: none;
}
.assignment-header-button:focus, .assignment-header-button:hover {
    --background-color: rgb(86, 116, 129);
}
.tag-add-box {
    --background-color: rgb(37, 37, 37);
    --box-shadow-color: rgba(81, 81, 81, 0.65);
    --input-background-color: rgb(27, 27, 27);
}
.tag-add-button {
    --background-color: rgb(50, 50, 50);
}
.tag-add-button::after {
    --box-shadow-color1: rgb(171, 171, 171);
    --box-shadow-color2: rgb(211, 211, 211);
    --box-shadow-color3: rgb(187, 53, 53);
}
.tag-add-button:focus:not(:hover)::after {
    box-shadow: 0 0 3px 2px var(--box-shadow-color2);
}
.tag-add-button.tag-add-red-box-shadow::after {
    box-shadow: 0 0 5px 2px var(--box-shadow-color3);
}
.tag-add-button > .icon-slash {
    --background-color: rgb(192, 192, 192);
}
.tag-add-selection-item::after {
    --background-color: rgb(49, 49, 49);
}
.tag-add-selection-item.checked::after {
    --background-color: rgb(34, 83, 99);
}
.tag-wrapper, .tag-add {
    --background-color: unset !important;
}
.tag-delete > .icon-slash {
    --background-color: black;
}
.grey-highlight, .grey-highlight::before, .grey-highlight::after {
    --filter-drop-shadow-color: black !important;
}
#assignments-header #icon-label-container img,
#form-wrapper #cancel-button {
    filter: invert(calc(var(--c) / 255)) hue-rotate(180deg);
}
.fixed-graph {
    filter: invert(1) hue-rotate(180deg);
}
.graph-footer > * {
    --background-color: rgb(68, 68, 68);
}
.graph-footer ::placeholder {
    color: rgb(163, 163, 163);
}
#toggle-gc-container {
    --background-color: var(--body-background);
    --box-shadow-color: rgb(103, 103, 103);
}
.jconfirm.jconfirm-light .jconfirm-box {
    box-shadow: none !important;
    border: 1px solid rgb(123, 123, 123);
}