#form-wrapper form {
    display: flex;
    flex-flow: column;

}
#form-wrapper input[type=number]::-webkit-inner-spin-button {
    display: none;
}
#form-wrapper input:focus, #form-wrapper label:focus, #form-wrapper textarea:focus {
    border-color: var(--input-focus-color);
}
#form-wrapper input:required {
    box-shadow: none; /* Firefox */
}
#form-wrapper ::placeholder {
    color: var(--form-placeholder-color);
}
#form-wrapper label::after {
    position: absolute;
    color: var(--form-placeholder-color);
    font-size: 12px;
    right: var(--horizontal-form-padding);
    bottom: -25px;
}
#form-wrapper input::-webkit-datetime-edit {
    display: contents;
}
#form-wrapper input::-webkit-calendar-picker-indicator {
    margin-left: unset;
}
#form-wrapper label[for='id_x']::after {
    content: '(Predicted if left empty)';
}
#form-wrapper label[for='id_assignment_date']::after {
    content: "(Enter today if you don't remember)";
}
#form-wrapper {
    width: min(100vw, 490px);
    box-sizing: border-box;
    background: var(--primary);
    box-shadow: 0 0 100px -23px black;
    margin: 5px auto 35px;
    border-radius: 15px;
    padding: 5px 15px 25px;
    position: relative;
    --vertical-form-padding: 5px;
    --horizontal-form-padding: 4px;
}
#form-wrapper #cancel-button {
    position: absolute;
    cursor: pointer;
    right: 7px;
    top: 9px;
    padding: 7px;
    z-index: 1;
    min-height: unset;
    min-width: unset;
    transition: transform 0.15s cubic-bezier(.29,1.13,.48,2.37);
}
#form-wrapper #cancel-button:active {
    transform: scale(0.95);
}
#form-wrapper #new-title-line {
    width: calc(100% - 30px);
    margin-top: 20px;
    margin-bottom: -21px;
    border: 1px solid var(--color);
}
#form-wrapper #new-title {
    align-self: center;
    background-color: var(--primary);
    font-size: 27px;
    margin-bottom: -0.25em;
    padding: 0 4px;
}
#form-wrapper #fields-wrapper {
    --soft-label-width: 64px;
    position: relative;
}
#form-wrapper .field-wrapper {
    padding-top: 13px;
    padding-bottom: 13px;
    transition: margin-top 0.4s ease-in-out, opacity 0.6s ease-in-out 0.1s;
}
#form-wrapper .field-wrapper .invalid ~ .info-button {
    margin-top: -1px;
}
#form-wrapper .field {
    width: calc(100% - 50px);
    margin: 5px;
}
#form-wrapper label, #form-wrapper #break-days-label-title {
    text-align: center;
    display: block;
    position: relative;
}
#form-wrapper input, #form-wrapper textarea {
    box-sizing: border-box; 
    display: block;
    width: 100%;
    border: 2px solid var(--color);
    border-radius: 3px;
}
#form-wrapper .field-wrapper#id-soft-field-wrapper {
    position: absolute;
    transform: translateY(-54px);
    right: 10px;
}
#form-wrapper #id_soft {
    width: unset;
    display: inline;
    margin: 0 3px;
    transform: translateY(1px);
}
#form-wrapper label[for='id_soft'] {
    display: inline;
    margin: unset;
}
#form-wrapper #id_x {
    width: calc(100% - 20px - var(--soft-label-width));
}




#form-wrapper #due-date-input-container {
    display: flex;
    align-items: center;
}
#form-wrapper #due-date-input-container #due-date-empty {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--color);
    cursor: pointer;
    margin-left: 5px;
    transform: translateX(var(--vertical-form-padding)) translateX(var(--due-date-text-width, -100vw));
}
#form-wrapper #due-date-input-container #due-date-empty::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(4);
}
#form-wrapper #due-date-input-container .due-date-empty-icon-slash {
    width: 2px;
    height: 10px;
    position: absolute;
    background-color: var(--body-background);
}
#form-wrapper #due-date-text-measurer {
    visibility: hidden;
    font-size: 0.83em;
    position: absolute;
}
#form-wrapper #id_x, #form-wrapper, #due-date-text-measurer, #form-wrapper #id_assignment_date {
    letter-spacing: 0.5px;
}





#form-wrapper #fields-wrapper .hide-field {
    z-index: -1;
    position: relative;
    opacity: 0;
}
#form-wrapper .field-wrapper label[for='id_x']::after {
    right: calc(var(--soft-label-width) + 24px);
}
#form-wrapper input, #form-wrapper textarea {
    margin-top: 2px;
    padding: var(--vertical-form-padding) var(--horizontal-form-padding);
}
#form-wrapper #submit-assignment-button {
    width: calc(100% - 140px);
    margin: 10px auto 0;
    display: block;
    padding: 20px 45px;
    font-size: 19px;
    background: rgb(238, 238, 238);
}
#form-wrapper #submit-assignment-button:hover {
    background: rgb(229, 229, 229);
}
#form-wrapper #submit-assignment-button:active {
    background: rgb(245, 245, 245);
    transform: translateY(1px);
}
#form-wrapper .invalid {
    border-color: rgb(226, 30, 54);
}
#form-wrapper .error-note {
    text-align: center;
    font-size: 13px;
    color: rgb(226, 30, 54);
}
#overlay {
    overflow: auto;
    background-color: rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1002;
    display: none;
}
#break-days-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}