#form-wrapper form {
    display: flex;
    font-size: 17px;
    flex-flow: column;
    --field-wrapper-border: 1px solid var(--color);
    --vertical-form-padding: 5px;
    --horizontal-form-padding: 4px;
    --error-note-color: hsl(353deg, 77%, 50%);
    --field-widget-background-color: hsl(0, 0%, 97%);
}
/* Needed for specifity */
#form-wrapper .field-wrapper > input:focus,
#form-wrapper .field-wrapper > textarea:focus {
    border-color: var(--input-focus-color);;
    box-shadow: inset 0 0 0 1px var(--input-focus-color);
    outline: 0;
}
#form-wrapper input:required {
    box-shadow: none; /* Firefox */
}


/* vendor prefixed pseudo styles are mega sus
https://stackoverflow.com/questions/21839523/cant-combine-selectors-using-commas-in-css */
#form-wrapper ::-moz-placeholder {
    color: var(--form-placeholder-color);
    opacity: 1;
}
#form-wrapper :-ms-input-placeholder {
    color: var(--form-placeholder-color);
    opacity: 1;
}
#form-wrapper ::placeholder {
    color: var(--form-placeholder-color);
    opacity: 1;
}



#form-wrapper label:not(.field-widget)::after {
    position: absolute;
    color: var(--form-placeholder-color);
    font-size: 13px;
    right: calc(var(--horizontal-form-padding) + 2px);
    bottom: -25px;
}
#form-wrapper label[for='id_assignment_date']::after {
    content: "(Enter today if you don't remember)";
}
#form-wrapper {
    --raw-form-width: min(calc(100vw - 55px), 490px);
    width: var(--raw-form-width);
    box-sizing: border-box;
    background: var(--primary);
    box-shadow: 0 0 100px -23px black;
    margin: 5px auto 35px;
    border-radius: 15px;
    --horizontal-form-margin: 15px;
    padding: 5px var(--horizontal-form-margin) 25px;
    --form-width: calc(var(--raw-form-width) - var(--horizontal-form-margin) * 2);
    position: relative;
    letter-spacing: 0.5px;
}
#form-wrapper #cancel-button {
    position: absolute;
    cursor: pointer;
    right: 7px;
    top: 9px;
    padding: 7px;
    z-index: 1;
    min-height: unset;
    min-width: unset;
    transition: transform 0.15s cubic-bezier(.29,1.13,.48,2.37);
}
#form-wrapper #cancel-button:active {
    transform: scale(0.95);
}
#form-wrapper #new-title {
    align-self: center;
    background-color: var(--primary);
    font-size: 27px;
    margin-bottom: -0.25em;
    padding: 0 4px;
}
#form-wrapper #field-group-picker {
    display: flex;
    justify-content: space-around;
    align-items: center;

    --horizontal-field-group-tab-padding: 5%;
    padding: 0 var(--horizontal-field-group-tab-padding);
    height: 30px;
    margin-top: 10px;
    --border-radius: 5px;
}
#form-wrapper #fields-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    --field-group-gap: 20px;
    --field-height: 30px;
    gap: var(--field-group-gap);
}
#form-wrapper .field-group {
    flex-shrink: 0;
    width: 100%;
    /* Min-content over fit-content because it has more browser support */
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    box-sizing: border-box;
    transition: margin calc(0.3s * var(--animation-speed)) ease-in-out;
}
#form-wrapper #field-group-picker-styling {
    position: absolute;
    display: flex;
    overflow: hidden;
    cursor: pointer;
    height: 100%;
    width: 100%;
}
#form-wrapper #selected-form-tab-styling,
#form-wrapper .selected-form-tab-styling-line {
    display: inline-block;
    flex-shrink: 0;
    height: 50%;
    box-sizing: border-box;
}
#form-wrapper #selected-form-tab-styling {
    border-top: var(--field-wrapper-border);
    border-left: var(--field-wrapper-border);
    border-right: var(--field-wrapper-border);
    width: calc(50% - var(--horizontal-field-group-tab-padding));
    margin: 0 -1px;
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}
#form-wrapper .selected-form-tab-styling-line {
    border-bottom: var(--field-wrapper-border);
    align-self: flex-end;
    width: calc(50% + 1px);
}
#form-wrapper #first-tab-line {
    border-bottom-right-radius: var(--border-radius);
    border-right: var(--field-wrapper-border);
}
#form-wrapper #second-tab-line {
    border-bottom-left-radius: var(--border-radius);
    border-left: var(--field-wrapper-border);
}
#field-group-picker-styling * {
    transition: transform calc(0.2s * var(--animation-speed)) ease-in-out calc(0.05s * var(--animation-speed));
}
#form-wrapper #field-group-picker-checkbox:not(:checked) ~ #field-group-picker #field-group-picker-styling * {
    transform: translateX(calc(var(--form-width) / 100 * -45));
}
#form-wrapper #field-group-picker-checkbox:checked ~ #fields-wrapper #first-field-group {
    margin-left: calc(-100% - var(--field-group-gap));
}
#form-wrapper #field-group-picker-checkbox:checked ~ #fields-wrapper #second-field-group .instant-margin-transition,
#form-wrapper #field-group-picker-checkbox:not(:checked) ~ #fields-wrapper #first-field-group .instant-margin-transition {
    margin-bottom: 0;
}
#form-wrapper #field-group-picker-checkbox:not(:checked) ~ #fields-wrapper #second-field-group .instant-margin-transition,
#form-wrapper #field-group-picker-checkbox:checked ~ #fields-wrapper #first-field-group .instant-margin-transition {
    margin-bottom: -9999px !important;
}
#form-wrapper .notransition {
    transition: none;
}
#form-wrapper .field-wrapper {
    /* for positioning */
    width: 100%;
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    --vertical-field-padding: 15px;
    padding-top: var(--vertical-field-padding);
    padding-bottom: var(--vertical-field-padding);
}
#form-wrapper .field-wrapper:nth-last-child(1) {
    z-index: 1;
}
#form-wrapper .field-wrapper:nth-last-child(2) {
    z-index: 2;
}
#form-wrapper .field-wrapper:nth-last-child(3) {
    z-index: 3;
}
#form-wrapper .field-wrapper:nth-last-child(4) {
    z-index: 4;
}
#form-wrapper .field-wrapper:nth-last-child(5) {
    z-index: 5;
}
#form-wrapper .field-wrapper:nth-last-child(6) {
    z-index: 6;
}
#form-wrapper .field-wrapper:nth-last-child(7) {
    z-index: 7;
}
#form-wrapper .field-wrapper:nth-last-child(8) {
    z-index: 8;
}
#form-wrapper .field-wrapper:nth-last-child(9) {
    z-index: 9;
}
#form-wrapper .field-wrapper:nth-last-child(10) {
    z-index: 10;
}
#form-wrapper .field-wrapper {
    transition: margin-top calc(0.4s * var(--animation-speed)) ease-in-out, opacity calc(0.6s * var(--animation-speed)) ease-in-out calc(0.1s * var(--animation-speed));
}
#form-wrapper .field-wrapper .invalid ~ .info-button {
    margin-top: -1px;
}
#form-wrapper .field {
    width: calc(100% - 50px);
    margin: 5px;
}
#form-wrapper label, #form-wrapper #break-days-label-title {
    text-align: center;
    display: block;
    position: relative;
}

/* For ensuring flexbox line breaks */
#form-wrapper .field-wrapper > label:not(.field-widget),
#form-wrapper .assignment-form-error-note {
    width: 100%;
}
#form-wrapper .magic-wand-icon {
    cursor: pointer;
    --inside-padding: 3px;
    left: calc(var(--inside-padding) + 2px);
    bottom: var(--inside-padding);
    position: absolute;
    padding-bottom: inherit;
    height: calc(var(--field-height) - var(--inside-padding) * 2);
}
#form-wrapper #fields-wrapper {
    --magic-wand-width: 34px;
}
#form-wrapper #id_name {
    padding-right: 26px;
}
#form-wrapper #id_x, #form-wrapper #id_y {
    padding-left: var(--magic-wand-width);
}
#form-wrapper .field-wrapper.has-widget > input {
    flex-grow: 1;
}
#form-wrapper .field-wrapper.has-widget:not(.disabled-field.disable-widget) > input {
    width: initial;
    border-top-right-radius: initial;
    border-bottom-right-radius: initial;
}
#form-wrapper .field-wrapper.has-widget.disabled-field:not(.disable-widget) > input:first-of-type {
    border-right: none;
}
#form-wrapper .field-wrapper.has-widget.disabled-field:not(.disable-widget) > label:last-of-type {
    border-left: var(--field-wrapper-border);
}
#form-wrapper .field-widget-checkbox:not(#id_soft) {
    position: absolute;
    /* don't use left: -100vw; because it breaks on smaller vws */
    left: -9999px;
}
#form-wrapper input:not(.field-widget-checkbox),
#form-wrapper textarea {
    padding: var(--vertical-form-padding) var(--horizontal-form-padding);
    width: 100%;
    /* Style meant to be overwritten */
    border: none;
}
#form-wrapper .field-wrapper > input,
#form-wrapper .field-wrapper > .field-widget,
#form-wrapper .field-wrapper > textarea,
#break-days-wrapper {
    margin-top: 2px;
    border: var(--field-wrapper-border);
    box-sizing: border-box; 
    border-radius: 3px;
    height: var(--field-height);
    --background-color: white;
    background-color: var(--background-color);
}
#form-wrapper .field-wrapper > .field-widget {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    padding-right: 6px;
    padding-left: 6px;
    border-left: none;
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
    --background-color: var(--field-widget-background-color);
}
#form-wrapper .field-widget-checkbox:not(:checked) ~ .field-widget::after {
    content: "Minutes";
}
#form-wrapper .field-widget-checkbox:checked ~ .field-widget::after {
    content: "Hours";
}
#form-wrapper .field-wrapper:not(.has-widget) .field-widget {
    display: none;
}




#form-wrapper .field-wrapper.disabled-field > input {
    opacity: 0.75 !important;
    --background-color: hsl(0, 0%, 89%) !important;
    border-color: hsl(0, 0%, 40%) !important;
    border-width: 2px !important;
    padding-left: calc(var(--magic-wand-width) - 1px) !important;
    cursor: not-allowed;
    color: var(--color);
    /* for invalid fields */
    box-shadow: none;
}
#form-wrapper .field-wrapper.disabled-field.disable-widget .field-widget {
    display: none;
}
#form-wrapper .field-wrapper > input {
    transition: 0.25s ease-out;
    transition-property: opacity, background-color;
}
#form-wrapper #fields-wrapper .hide-field {
    /* no clue why this makes this work but it does */
    width: initial;
    /* We can't set the z-index to -1 for .hide-field or else the opacity transition breaks 
    Instead give a z-index of one to #id-unit-field-wrapper */
    opacity: 0;

    transition: margin-top calc(0.4s * var(--animation-speed)) ease-in-out, opacity calc(0.3s * var(--animation-speed)) ease-in-out;
}
#id-unit-field-wrapper {
    /* So .hide-field isnt over this when it has a lot of negative margin 
    We can't set the z-index to -1 for .hide-field or else the opacity transition breaks */
    z-index: 1;
}
#form-wrapper .info-button::after {
    transform: scale(3);
}
#form-wrapper #submit-assignment-button {
    align-self: center;
    padding: 20px 72px;
    color: var(--color);
    margin-top: 10px;
    font-size: 20px;
    --background-color-default: hsl(0, 0%, 93%);
    --background-color-hover: hsl(0, 0%, 90%);
    --background-color-active: hsl(0, 0%, 96%);

    --background-color: var(--background-color-default);
    background-color: var(--background-color);
}
#form-wrapper #submit-assignment-button:hover {
    --background-color: var(--background-color-hover);
}
#form-wrapper #submit-assignment-button:active {
    --background-color: var(--background-color-active);
    transform: translateY(1px);
}
/* .field-wrapper for specificity */
#form-wrapper .field-wrapper .invalid {
    border-color: var(--error-note-color);
    box-shadow: inset 0 0 0 1px var(--error-note-color);
}
#form-wrapper .assignment-form-error-note {
    text-align: center;
    font-size: 14px;
    color: var(--error-note-color);
}
#overlay {
    overflow: auto;
    background-color: hsla(0, 0%, 0%, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1002;
    display: none;
}
#break-days-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#break-days-wrapper input {
    display: none !important;
}
#break-days-wrapper input:checked + .break-days-label {
    background-color: hsl(0, 0%, 91%);
    -webkit-text-decoration: line-through hsl(0, 0%, 35%);
            text-decoration: line-through hsl(0, 0%, 35%);
    color: hsl(0, 0%, 40%);
}
#break-days-wrapper input:not(:checked) + .break-days-label:hover {
    background-color: hsl(0, 0%, 96%);
}
#form-wrapper .field-widget:hover {
    --field-widget-background-color: hsl(0, 0%, 93%);
}
#break-days-wrapper input:first-of-type + .break-days-label {
    border-left: unset;
}
#break-days-wrapper .break-days-label {
    cursor: pointer;
    font-size: 14px;
    flex-grow: 1;
    border-left: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
#break-days-wrapper .break-days-label:active .weekday-text {
    transform: translateY(1px);
}