#form-wrapper form {
    display: flex;
    flex-flow: column;
    --vertical-form-padding: 5px;
    --horizontal-form-padding: 4px;
    --error-note-color: hsl(353deg, 77%, 50%);
    --field-widget-background-color: hsl(0, 0%, 97%);
}
#form-wrapper input[type=number]::-webkit-inner-spin-button {
    display: none;
}
/* Needed for specifity */
#form-wrapper .field-wrapper > input:focus,
#form-wrapper .field-wrapper > textarea:focus {
    border-color: var(--input-focus-color);;
    box-shadow: inset 0 0 0 1px var(--input-focus-color);
    outline: 0;
}
#form-wrapper input:required {
    box-shadow: none; /* Firefox */
}
#form-wrapper :-ms-input-placeholder,
#form-wrapper ::-moz-placeholder {
    color: var(--form-placeholder-color);
}
#form-wrapper ::placeholder {
    color: var(--form-placeholder-color);
}
#form-wrapper label:not(.field-widget)::after {
    position: absolute;
    color: var(--form-placeholder-color);
    font-size: 12px;
    right: calc(var(--horizontal-form-padding) + 2px);
    bottom: -25px;
}
#form-wrapper label[for='id_x']::after {
    content: '(Predicted if left empty)';
    right: 89px;
}
#form-wrapper label[for='id_assignment_date']::after {
    content: "(Enter today if you don't remember)";
}
#form-wrapper {
    width: min(100vw, 490px);
    box-sizing: border-box;
    background: var(--primary);
    box-shadow: 0 0 100px -23px black;
    margin: 5px auto 35px;
    border-radius: 15px;
    padding: 5px 15px 25px;
    position: relative;
}
#form-wrapper #cancel-button {
    position: absolute;
    cursor: pointer;
    right: 7px;
    top: 9px;
    padding: 7px;
    z-index: 1;
    min-height: unset;
    min-width: unset;
    transition: transform 0.15s cubic-bezier(.29,1.13,.48,2.37);
}
#form-wrapper #cancel-button:active {
    transform: scale(0.95);
}
#form-wrapper #new-title {
    align-self: center;
    background-color: var(--primary);
    font-size: 27px;
    margin-bottom: -0.25em;
    padding: 0 4px;
}
#form-wrapper #field-group-picker {
    display: flex;
    justify-content: space-around;
    align-items: center;

    --horizontal-field-group-tab-padding: 5%;
    padding: 0 var(--horizontal-field-group-tab-padding);
    height: 30px;
    margin-top: 10px;
    --border-radius: 5px;
}
#form-wrapper #fields-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    --field-group-gap: 20px;
    gap: var(--field-group-gap);
}
#form-wrapper .field-group {
    flex-shrink: 0;
    width: 100%;
    /* Min-content over fit-content because it has more browser support */
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    box-sizing: border-box;
    transition: margin 0.3s ease-in-out;
}
#form-wrapper #field-group-picker-styling {
    position: absolute;
    display: flex;
    overflow: hidden;
    cursor: pointer;
    height: 100%;
    width: 100%;
}
#form-wrapper #selected-form-tab-styling,
#form-wrapper .selected-form-tab-styling-line {
    display: inline-block;
    flex-shrink: 0;
    height: 50%;
    box-sizing: border-box;
}
#form-wrapper #selected-form-tab-styling {
    border-top: 1px solid var(--color);
    border-left: 1px solid var(--color);
    border-right: 1px solid var(--color);
    width: calc(50% - var(--horizontal-field-group-tab-padding));
    margin: 0 -1px;
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}
#form-wrapper .selected-form-tab-styling-line {
    border-bottom: 1px solid var(--color);
    align-self: flex-end;
    width: calc(50% + 1px);
}
#form-wrapper #first-tab-line {
    border-bottom-right-radius: var(--border-radius);
    border-right: 1px solid var(--color);
}
#form-wrapper #second-tab-line {
    border-bottom-left-radius: var(--border-radius);
    border-left: 1px solid var(--color);
}
#field-group-picker-styling * {
    transition: transform 0.2s ease-in-out 0.05s;
}
#form-wrapper #field-group-picker-checkbox:not(:checked) ~ #field-group-picker #field-group-picker-styling * {
    transform: translateX(-207px);
}
/* Really really ugly code that animates the form height on field group change */
#form-wrapper #field-group-picker-checkbox:checked ~ #fields-wrapper #first-field-group {
    margin-left: calc(-100% - var(--field-group-gap));
    margin-bottom: min(0px, calc(var(--second-field-group-height) - var(--first-field-group-height)));
}
#form-wrapper #field-group-picker-checkbox:checked ~ #fields-wrapper #second-field-group,
#form-wrapper #field-group-picker-checkbox:not(:checked) ~ #fields-wrapper #first-field-group {
    margin-bottom: 0;
}
#form-wrapper #field-group-picker-checkbox:not(:checked) ~ #fields-wrapper #second-field-group {
    /* 100vh thingies to ensure second-field-group doesn't bloat the height of #fields-wrapper when the form is first shown */
    margin-bottom: min(0px, calc(var(--first-field-group-height, 0px) - var(--second-field-group-height, 100vh)));
}
#form-wrapper .field-wrapper {
    /* for positioning */
    width: 100%;
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    --vertical-field-padding: 13px;
    padding-top: var(--vertical-field-padding);
    padding-bottom: var(--vertical-field-padding);
}
#form-wrapper .field-wrapper {
    transition: margin-top 0.4s ease-in-out, opacity 0.6s ease-in-out 0.1s;
}
#form-wrapper .field-wrapper .invalid ~ .info-button {
    margin-top: -1px;
}
#form-wrapper .field {
    width: calc(100% - 50px);
    margin: 5px;
}
#form-wrapper label, #form-wrapper #break-days-label-title {
    text-align: center;
    display: block;
    position: relative;
}

/* For ensuring flexbox line breaks */
#form-wrapper .field-wrapper > label:not(.field-widget),
#form-wrapper .assignment-form-error-note {
    width: 100%;
}
#form-wrapper .field-wrapper.has-widget > input {
    width: initial;
    flex-grow: 1;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
}
#form-wrapper .field-widget-checkbox:not(#id_soft) {
    position: absolute;
    left: -100vw;
}
#form-wrapper .field-widget {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    padding-right: 6px;
    padding-left: 6px;
    border-left: none !important;
    border-top-left-radius: unset !important;
    border-bottom-left-radius: unset !important;
    --background-color: var(--field-widget-background-color) !important;
}
#form-wrapper .field-widget-checkbox:not(:checked) ~ .field-widget::after {
    content: "Minutes";
}
#form-wrapper .field-widget-checkbox:checked ~ .field-widget::after {
    content: "Hours";
}
#form-wrapper .field-widget:not([for="id_soft"])::before {
    content: "in: ";
    position: absolute;
    right: 100%;
    padding-right: inherit;
}
#form-wrapper .field-wrapper:not(.has-widget) .field-widget {
    display: none;
}



#form-wrapper #due-date-empty {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--color);
    cursor: pointer;
    margin-left: 5px;
    transform: translateX(var(--vertical-form-padding))
                translateX(var(--due-date-text-width, -100vw))
                translateY(32px);
}
#form-wrapper #due-date-empty::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(4);
}
#form-wrapper .due-date-empty-icon-slash {
    width: 2px;
    height: 8px;
    position: absolute;
    background-color: var(--body-background);
}
#form-wrapper #due-date-text-measurer {
    visibility: hidden;
    font-size: 0.83em;
    position: absolute;
}
#form-wrapper #id_x, #form-wrapper, #due-date-text-measurer, #form-wrapper #id_assignment_date {
    letter-spacing: 0.5px;
}





#form-wrapper #fields-wrapper .hide-field {
    /* no clue why this makes this work but it does */
    width: initial;

    z-index: -1;
    position: relative;
    opacity: 0;
}
#form-wrapper input:not(.field-widget-checkbox),
#form-wrapper textarea {
    padding: var(--vertical-form-padding) var(--horizontal-form-padding);
    width: 100%;
    /* Style meant to be overwritten */
    border: none;
}
#form-wrapper .field-wrapper > input,
#form-wrapper .field-wrapper > .field-widget,
#form-wrapper .field-wrapper > textarea,
#break-days-wrapper {
    margin-top: 2px;
    border: 1px solid var(--color);
    box-sizing: border-box; 
    border-radius: 3px;
    --background-color: white;
    background-color: var(--background-color);
}
#form-wrapper .info-button::after {
    transform: scale(2);
}
#form-wrapper #submit-assignment-button {
    align-self: center;
    padding: 20px 72px;
    color: var(--color);
    margin-top: 10px;
    font-size: 19px;
    --background-color-default: rgb(238, 238, 238);
    --background-color-hover: rgb(229, 229, 229);
    --background-color-active: rgb(245, 245, 245);

    --background-color: var(--background-color-default);
    background-color: var(--background-color);
}
#form-wrapper #submit-assignment-button:hover {
    --background-color: var(--background-color-hover);
}
#form-wrapper #submit-assignment-button:active {
    --background-color: var(--background-color-active);
    transform: translateY(1px);
}
/* .field-wrapper for specificity */
#form-wrapper .field-wrapper .invalid {
    border-color: var(--error-note-color);
    box-shadow: inset 0 0 0 1px var(--error-note-color);
}
#form-wrapper .assignment-form-error-note {
    text-align: center;
    font-size: 13px;
    color: var(--error-note-color);
}
#overlay {
    overflow: auto;
    background-color: rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1002;
    display: none;
}
#break-days-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 30px;
}
#break-days-wrapper input {
    display: none !important;
}
#break-days-wrapper input:checked + .break-days-label {
    background-color: hsl(0, 0%, 91%);
    -webkit-text-decoration: line-through hsl(0, 0%, 35%);
            text-decoration: line-through hsl(0, 0%, 35%);
    color: hsl(0, 0%, 40%);
}
#break-days-wrapper input:not(:checked) + .break-days-label:hover {
    background-color: hsl(0, 0%, 97%);
}
#form-wrapper .field-widget:hover {
    --field-widget-background-color: hsl(0, 0%, 93%);
}
#break-days-wrapper input:first-of-type + .break-days-label {
    border-left: unset;
}
#break-days-wrapper .break-days-label {
    cursor: pointer;
    font-size: 13px;
    flex-grow: 1;
    border-left: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
#break-days-wrapper .break-days-label:active .weekday-text {
    transform: translateY(1px);
}