{% extends 'common/base.html' %}
{% load static %}

{% block base_head_css %}
    <link rel="stylesheet" href="{% static 'home_page/css/home_page.css' %}">
{% endblock %}

{% block base_head_js %}
<script src="https://unpkg.com/jquery@3.6.0/dist/jquery.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'home_page/js/home_page.js' %}"></script>
{% endblock %}

{% block base_head_body %}
<main>
    <div class="section-block" id="first">
        <span class="section-max-width-wrapper">
            <span class="section-side" id="first-left">
                The new way to<br>manage your time
                {% comment %} <a href="{% url 'account_login' %}">Login</a> {% endcomment %}
            </span>
            <span class="section-side" id="first-right">
                {% for i in "xxx" %}
                    {% for scroller in random_scrollers %}
                        <span class="assignment-scroller-image-extender">
                            <img alt class="assignment-scroller-image" draggable="false" src="{% static 'home_page/images/scrollers/scroller'|add:scroller|add:'_light.webp' %}">
                        </span>
                    {% endfor %}
                {% endfor %}
            </span>
        </span>
    </div>
    <div class="section-block" id="second">
        <span class="section-max-width-wrapper">
            <span class="section-side" id="second-left">
                <img id="graph-image" alt src="{% static 'home_page/images/light_graph.webp' %}">
            </span>
            <span class="section-side" id="second-right">
                Take a fine-grained control over your work
                <p id="graph-description">
                    An easy and highly customizable interface for your assignments' work schedules. Know what to do, when to do it, and for how long.
                </p>
            </span>
        </span>
    </div>
    <div class="section-block" id="third">
        
    </div>
    <div class="section-block" id="fourth">
        
    </div>
</main>
{% endblock %}