* {
    font-family: "Open Sans";
}
input {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
.relative-positioning-wrapper {
    position: relative;
}
#header {
    width: 100%;
    background: rgb(13,26,38);
    height: 70px;
    padding: 5px;
    position: absolute;
    z-index: 2;
    box-shadow: 0 3px 7px rgb(13,26,38);
    box-sizing: border-box;
}
#image-new-container {
    cursor: pointer;
    display: inline-block;
    height: 60px;
    position: absolute;
}
#image-new-container img {
    float: left;
}
#new-assignment-text {
    margin-left: 4px;
    float: left;
    color: white;
    font-size: 20px;
    font-family: "Open Sans";
    line-height: 60px;

    max-width: calc(50vw - 190px);
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}
#content {
    overflow-y: auto;
    height: 100vh;
    padding: 80px 30px 0 30px;
    box-shadow: inset 0 20px 0 20px gray;
    box-sizing: border-box;
}
#logo-container {
    display: inline-block;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}
#logo-container img {
    max-height: 60px;
}
body {
    margin: 0;
    background: -o-radial-gradient(circle, white 0, rgb(202,202,202) 100%);
    background: radial-gradient(circle, white 0, rgb(202,202,202) 100%);
    overflow: hidden;
}
#user-greeting {
    float: right;
    font-size: 20px;
    height: 45.4px;
    color: white;
    white-space: nowrap;
    direction: rtl;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    /* width: calc(50vw - 106px(half width of logo) - 89px(nav width) - 5px(nav margin) - 24px(logo margin));*/
    max-width: calc(50vw - 229px);
    padding-top: 14.6px;
}
#user-greeting a {
    text-decoration: none;
    display: inline-block;
    border: 2px solid rgb(22, 177, 185);
    border-radius: 4px;
    padding-right: 4px;
    padding-left: 4px;
    background: -webkit-gradient(linear,left top, left bottom,color-stop(20%, rgb(72, 227, 235)),color-stop(80%, rgb(83,127,163)));
    background: -o-linear-gradient(rgb(72, 227, 235) 20%,rgb(83,127,163) 80%);
    background: linear-gradient(rgb(72, 227, 235) 20%,rgb(83,127,163) 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#user-greeting a:hover {
    border-color: rgba(22, 177, 185,0.8);
}
#user-greeting a:focus {
    outline: 0;
    border-color: rgba(22, 177, 185,0.7);
}
#user-greeting.logo-hidden {
    overflow: visible;
}
#user-greeting.logo-hidden a {
    overflow: hidden;
    max-width: calc(100vw - 181px);
    white-space: nowrap;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}
#user-greeting.logo-hidden span {
    visibility: hidden;
}
#menu {
    float: right;
    margin: -5px;
    margin-left: 10px;
}
nav {
    left: 0;
    top: 0;
    position: absolute;
    margin-left: calc(100vw + 3px);
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
    width: 89px;
}
#nav-items::after, #nav-menu::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: opacity .2s ease-in-out;
    z-index: -1;
}
#nav-items::after {
    box-shadow: 0 0 4px 2px black;
}
#nav-menu::after {
    box-shadow: -5px 0 5px -5px gray;
}
#nav-menu {
    background: rgb(13,26,38);
    position: relative;
    z-index: 1;
}
rect {
    fill: white;
}
#nav-items {
    overflow: auto;
    max-height: calc(100vh - 65px);
}
#nav-items a {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px;
    color: white;
    font-family: "Open Sans";
    font-size: 12.5px;
    background: rgb(45,59,71);
}
#nav-items a:hover, #nav-items a:focus {
    background: rgb(82,107,130);
}
#nav-menu svg {
    display: block;
}
#menu:hover ~ nav, 
#menu:focus ~ nav, 
nav:hover,
nav.open {
    -webkit-transform: translateX(calc(-100% - 3px));
        -ms-transform: translateX(calc(-100% - 3px));
            transform: translateX(calc(-100% - 3px));
}
#menu:hover ~ nav #nav-items::after, 
nav:hover #nav-items::after, 
#menu:focus ~ nav #nav-items::after,
nav.open #nav-items::after {
    opacity: 1;
}
#menu:hover ~ nav #nav-menu::after, 
nav:hover #nav-menu::after, 
#menu:focus ~ nav #nav-menu::after,
nav.open #nav-menu::after {    
    opacity: 1;
}



.info-button {
    display: inline-block;
    position: relative;
    bottom: 1px;
    left: 4px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: rgb(33,163,177);
    font-size: 14px;
    font-style: italic;
    font-family: "Serif";

    color: white;
    text-align: center;
    line-height: 15px;
}
.info-button:hover {
    background: rgb(16,135,148);
}
.info-button:hover .info-button-text {
    visibility: visible;
    opacity: 1;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.info-button:hover .info-button-text.info-right {
    left: calc(100% + 12px);
}
.info-button:hover .info-button-text.info-left {
    right: calc(100% + 12px);
}
.info-button-text {
    position: absolute;
    -webkit-transform: translateY(-50%) translateY(7px);
        -ms-transform: translateY(-50%) translateY(7px);
            transform: translateY(-50%) translateY(7px);
    width: 265px;
    z-index: 3;

    background: white;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.75);
            box-shadow: 0 0 5px rgba(0,0,0,0.75);
    border-radius: 5px;
    border: 2px solid black;
    visibility: hidden;
    opacity: 0;

    text-align: left;
    padding: 5px 5px;
    color: black;
    font-size: 13px;
    line-height: 13px;
    font-style: normal;
    white-space: pre-line;
}
.info-button-text.info-right {
    left: calc(100% - 4px);
}
.info-button-text.info-left {
    right: calc(100% - 4px);
}
.info-button-text::after {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    border-width: 10px;
    border-style: solid;
}
.info-button-text.info-right::after {
    content: "";
    right: calc(100% + 1px);
    border-color: transparent black transparent transparent;
}
.info-button-text.info-left::after {
    content: "";
    left: calc(100% + 1px);
    border-color: transparent transparent transparent black;
}