* {
    font-family: futura, sans-serif;
}
#site {
    overflow: hidden;
}
main {
    --preferred-section-height: 85vh;
    --left-section-margin: 70px;
    --odd-section-color: white;
    --even-section-color: hsl(0, 0%, 95%);
    --site-horizontal-padding: 30px;
}
.section-block:nth-child(odd) {
    background-color: var(--odd-section-color);
}
.section-block:nth-child(even) {
    background-color: var(--even-section-color);
}
.section-block {
    height: var(--section-height);
    font-size: 40px;
}
.section-block,
.section-max-width-wrapper {
    display: flex;
    align-items: center;
}
.section-block {
    justify-content: center;
    /* needs to be at .section-block so --preferred-sction-height can be overwritten */
    --section-height: max(575px, var(--preferred-section-height));
}
.section-max-width-wrapper {
    justify-content: space-between;
}
.section-block#first {
    --preferred-section-height: calc(100vh - 40px);
}
.section-block:not(#first) {
    position: relative;
    z-index: 1;
}
.section-block#first .left-section-side {
    margin-right: var(--left-section-margin);
    flex-shrink: 0;
}
.section-block#first header {
    height: 65px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    gap: 35px;
    white-space: nowrap;
    font-size: 20px;
}
.section-block#first header a {
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-family: "Open Sans";
}
.section-block#first header a:hover {
    text-decoration: underline 2px;
}
.section-block#first #logo-icon {
    height: 100%;
}
.section-block#first .right-section-side {
    --move-up: 0px;
    transform: translateY(var(--move-up));
    max-height: var(--section-height);
    position: relative;
}
.section-block#first .right-section-side #first-section-initial-scroller-transition {
    transition: transform 0.5s cubic-bezier(0.15, 0.63, 0.54, 1);
    display: block;
    transform: translateX(400px);
}
.section-block#first .right-section-side.animate #first-section-initial-scroller-transition {
    transform: translateX(200px);
}
.section-block#first .right-section-side::before {
    top: 0;
    z-index: 1;
}
.assignment-scroller-image {
    transition: var(--scale-transition);
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 0 6px 0 hsl(0deg 0% 82%), 
                /* fake the effect of drop-shadow by plugging in the image corner holes */
                inset 0 0 0px 2px hsl(0deg 0% 93%);
    transform-origin: right;
    width: calc(525px + var(--site-horizontal-padding));
}
.assignment-scroller-image-extender:hover .assignment-scroller-image {
    transform: scale(1.1);
}
.assignment-scroller-image-extender {
    display: block;
    position: relative;
    transform: translateX(var(--move-left));
    /* right: -180px; */
}
.assignment-scroller-image-extender:hover {
    --scale-transition: transform 0.35s cubic-bezier(0.5, -0.8, 0.43, 1.56);
}
.assignment-scroller-image-extender:not(:hover) {
    --scale-transition: transform 0.35s ease-out;
}
.assignment-scroller-image-extender::after,
.assignment-scroller-image-extender::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    transition: var(--scale-transition);
}
.assignment-scroller-image-extender::after {
    left: 100%;
    width: 100vw;
    box-shadow: 0 0 6px 0 hsl(0deg 0% 82%);
}
.assignment-scroller-image-extender::before {
    width: 30px;
    z-index: 1;
    left: calc(100% - 5px);
    background-color: white;
    box-shadow: none;
}
.assignment-scroller-image-extender:hover::after,
.assignment-scroller-image-extender:hover::before {
    transform: scaleY(1.1);
}
.section-max-width-wrapper {
    margin: 0 var(--site-horizontal-padding);
    max-width: 1100px;
    width: calc(100% - var(--site-horizontal-padding) * 2);
}
#graph-image {
    display: block;
    position: relative;
    z-index: 2;
    min-width: 500px;
    /* make sure to change min-height to the height of the image at the min-width if i ever change the image */
    min-height: 494px;
    max-width: calc(100% - 10px);
    max-height: 70vh;
    box-shadow: 0 0 40px -20px black;
}
.header-description {
    font-size: 23px;
    font-family: "Open Sans";
}
.section-block#second .right-section-side {
    width: min(calc(50vw - 120px), 545px);
    position: relative;
    z-index: 1;
    padding: 20px 0;
    margin-left: 40px;
    box-sizing: border-box;
}






.section-block#fifth {
    color: white;
    background-color: hsl(183deg 92% 41%);
}
.section-block#fifth .section-max-width-wrapper {
    max-width: 775px;
}
.signup-button {
    text-decoration: none;
    margin: 30px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-block#fifth .signup-button {
    width: 500px;
    height: 80px;
    background-color: white;
    border-radius: 40px;
    color: hsl(183deg 92% 41%);
}
.section-block#first .signup-button {
    font-size: 30px;
    width: 400px;
    height: 65px;
    border-radius: 33px;
    background-color: hsl(183deg 92% 41%);
    color: white;
}
#favicon-animated {
    position: absolute;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    top: 25px;
    filter: drop-shadow(0 0 10px white);
    width: 150px;
    --turns: 1;
}
#minute-hand {
    transform: translate(255.81px, 255.967549px) rotate(calc(var(--turns) * 1turn));
}
#hour-hand {
    --turns-per-turn: 5;
    transform: translate(256px, 255.967549px) rotate(calc(227deg + var(--turns) / var(--turns-per-turn) * 1turn));
}
@media screen and (max-width: 1100px) {
    /* .section-block#first > .section-max-width-wrapper {
        flex-flow: column;
    }
    .section-block#second > .section-max-width-wrapper {
        flex-flow: column-reverse;
    }
    .section-block#second .right-section-side {
        width: initial;
        margin-left: initial;
    }
    .section-block#first .right-section-side {
        max-height: calc(100vh - 310px);
    }
    .section-block#first .left-section-side {
        margin-right: initial;
    }
    .section-block#first .left-section-side br:last-of-type {
        display: none;
    } */
}
@font-face {
    font-family: futura-pt;
    src: url(".fonts/Futura PT Heavy.ttf");
}