{% extends "common/base.html" %}
{% load static %}

{% block base_head_js %}
  <script src="https://unpkg.com/jquery@3.6.0/dist/jquery.min.js" crossorigin="anonymous"></script>
  <script src="{% static 'common/js/jquery_extensions.js' %}"></script>
  <script src="{% static 'timewebauth/js/base.js' %}">
  </script>
  {% block js %}{% endblock %}
{% endblock %}

{% block base_head_css %}
  <link rel="stylesheet" href="{% static 'timewebauth/css/base.css' %}">
  {% block css %}{% endblock %}
{% endblock %}

{% block base_head_body %}
  <main>
    <div id="circles-background">
      {% for i in "x"|rjust:"100" %}
        <div class="bubble-up">
          <div class="bubble-right"></div>
        </div>
      {% endfor %}
    </div>
    <div id="accounts-container">
      <div id="logo-container">
        <a id="accounts-arrow-anchor" href="{% block back_arrow_url %}{% url 'account_login' %}{% endblock %}">
          <div id="accounts-arrow-container">
            <div id="accounts-arrow-horizontal"></div>
          </div>
        </a>
        <a id="logo-anchor" href="{% if request.user.is_authenticated %}{% url 'home' %}{% else %}{% url 'account_login' %}{% endif %}">
          <img src="{% static 'timewebapp/images/timeweb.webp' %}" draggable="false"/>
        </a>
      </div>
      {% block content %}{% endblock %}
    </div>
    <div id="loading-container">
      <div class="loading-circle"></div>
      <div class="loading-circle"></div>
      <div class="loading-circle"></div>
      <div class="loading-circle"></div>
      <div class="loading-circle"></div>
      <div class="loading-circle"></div>
      <div class="loading-circle"></div>
      <div class="loading-circle"></div>
    </div>
  </main>
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="goo-svg">
    <defs>
      <filter id="goo">
        <feGaussianBlur in="SourceGraphic" stdDeviation="14" result="blur"/>
        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 34 -13" result="goo"/>
        <feBlend in="SourceGraphic" in2="goo"/>
        {% comment %} 
        to mask the filter over the SourceGraphic:
        <feComposite in="SourceGraphic" in2="goo" operator="atop"/> 
        {% endcomment %}
      </filter>
    </defs>
  </svg>
  <template id="password-widget-icons">
    <img src="{% static 'timewebauth/images/hide.webp' %}" class="password-image show-password-image" width="22">
    <img src="{% static 'timewebauth/images/show.webp' %}" class="password-image hide-password-image" width="22">
  </template>
{% endblock %}