{% extends "account/base.html" %}

{% block head_title %}Set Password{% endblock %}

{% block accounts_content %}
    <h1>Set Password</h1>
    {% include "account/accounts_messages.html" %}

    <p>Because you used Google to sign into TimeWeb, you haven't yet set a password for this account. Please set a password and enter it twice for confirmation.</p>
    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {% for field in form %}
            <span>
                <label for="{{ field.auto_id }}">{{ field.label }}</label>
                {{ field }}
            </span>
        {% endfor %}
        <input type="submit" name="action" class="submit-button" value="Set password"/>
    </form>
{% endblock %}
