{% extends "account/base.html" %}

{% block head_title %}Change Password{% endblock %}

{% block extra_head_tags %}
  <meta name="robots" content="noindex" />
{% endblock %}

{% block content %}
    <h1>{% if token_fail %}Invalid Link{% else %}Change Password{% endif %}</h1>
    {% include "account/accounts_messages.html" %}

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>The password reset link was invalid, possibly because it has already been used. Please <a href="{{ passwd_reset_url }}">request a new password reset</a>.</p>
    {% elif form %}
        <p>Please enter your new password twice for confirmation.</p>
        <form method="POST" action="{{ action_url }}">
            {% csrf_token %}
            {% for field in form %}
                <span>
                    <label for="{{ field.auto_id }}">{{ field.label }}</label>
                    {{ field }}
                </span>
            {% endfor %}
            <input type="submit" class="submit-button" name="action" value="Change password"/>
        </form>
    {% else %}
        <p>Your password was successfully changed.</p>
        <p><a href="{% url 'account_login' %}">Open TimeWeb</a></p>
    {% endif %}
{% endblock %}
