{% extends "account/base.html" %}

{% block head_title %}Change Password{% endblock %}

{% block extra_head_tags %}
  <meta name="robots" content="noindex" />
{% endblock %}

{% block content %}
    <h1>Change Password</h1>
    {% include "account/accounts_messages.html" %}

    <p>Please enter your current password to verify your identity. Then, enter your new password twice for confirmation.</p>
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {% for field in form %}
            <span>
                <label for="{{ field.auto_id }}">{{ field.label }}</label>
                {{ field }}
                {% if field.name == "oldpassword" %}
                    <div class="add-input-margin">
                        <a href="{% url 'account_reset_password' %}">Forgot password?</a>
                    </div>
                {% endif %}
            </span>
        {% endfor %}
        <button type="submit" class="submit-button" name="action">Change password</button>
    </form>
{% endblock %}