{% extends "account/base.html" %}

{% block head_title %}Sign Up{% endblock %}

{% block content %}
  {% include "socialaccount/snippets/provider_list.html" with process="login" label="sign up" %}
  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    <hr>
    <span class="hr-interrupt">or</span>

    {% include "account/accounts_messages.html" %}

    {% for field in form %}
      <span>
        <label for="{{ field.auto_id }}">{{ field.label }}</label>
        {{ field }}
      </span>
    {% endfor %}

    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <button class="submit-button" type="submit">Sign up</button>
  </form>
{% endblock %}
