{% extends "account/base.html" %}

{% block head_title %}Verify Your E-mail Address{% endblock %}

{% block content %}
    <h1>Verify Your E-mail Address</h1>
    {% include "account/accounts_messages.html" %}

    <p>Follow the link provided in the e-mail to finalize the signup process. Make sure to check your spam folder in case it was put there. Please <a href="{% url 'contact_form' %}">contact us</a> if you don't receive it within a few minutes.</p>

    <p>You may now close this tab.</p>
{% endblock %}
