{% extends "common/app_base.html" %}
{% load static %}

{% block head_title %}A NEW MILESTONE{% endblock %}

{% block extra_head_tags %}
  <meta name="robots" content="noindex" />
{% endblock %}

{% block content %}
    <style nonce="{{request.csp_nonce}}">
        span {
            font-style: italic;
            font-weight: 800;
            font-family: 'Cedarville Cursive', cursive;
        }
    </style>
    <link href="https://unpkg.com/@fontsource/cedarville-cursive@4.5.8/index.css" rel="stylesheet">
    <h1>
        <pre>
    <span>Ladies and Gents
    Lesbians and Gays
    stupid girls and da bois
    i have made it
    i am 17
    this age will not go to waste 
    i swear my life on it
    i will do big thing
    hopefully
    i love you guys
    please stay with me in this journey of life
    lets all do big things
    what do you guys think?
    ...</span>

    Masterfully crafted by Shantanu!!!
    HAPPY BIRTHDAY DUDE YOU DESERVE IT ALL
        </pre>
    </h1>
{% endblock %}