{% extends "common/app_base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="https://unpkg.com/daterangepicker@3.1.0/daterangepicker.css" crossorigin="anonymous"/>
  <link rel="stylesheet" href="{% static 'timewebapp/css/app.css' %}">
  <link rel="stylesheet" href="{% static 'timewebapp/css/form.css' %}">
  {% if settings_model.appearance == "automatic" %}
    <link rel="stylesheet" href="{% static 'timewebapp/css/dark.css' %}" media="(prefers-color-scheme: dark)">
  {% elif settings_model.appearance == "dark" or settings_model.appearance == "fancy dark" %}
    <link rel="stylesheet" href="{% static 'timewebapp/css/dark.css' %}">
  {% endif %}
{% endblock %}

{% block js %}
  {{ assignment_models_as_json|json_script:"assignment-models" }}
  {{ settings_model_as_json|json_script:"settings-model" }}
  {{ latest_changelog|json_script:"latest-changelog" }}
  <script src="https://unpkg.com/moment@2.29.1/moment.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/daterangepicker@3.1.0/daterangepicker.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/pluralize@8.0.0/pluralize.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/jquery.easing@1.4.1/jquery.easing.min.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/sortablejs@1.14.0/Sortable.min.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/jquery-sortablejs@1.0.1/jquery-sortable.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/ml-matrix@6.10.2/matrix.umd.js" crossorigin="anonymous"></script>
  <script src="{% static 'timewebapp/js/utils.js' %}"></script>
  <script src="{% static 'timewebapp/js/priority.js' %}"></script>
  <script src="{% static 'timewebapp/js/graph.js' %}"></script>
  <script src="{% static 'timewebapp/js/parabola.js' %}"></script>
  <script src="{% static 'timewebapp/js/crud.js' %}"></script>
{% endblock %}

{% block content %}
  {% if settings_model.background_image %}
    <img id="background-image" src="{{ settings_model.background_image.url }}" width="{{settings_model.background_image.width}}" height="{{settings_model.background_image.height}}" draggable="false">
  {% endif %}
  <div id="overlay">
    <div id="form-wrapper">
      <form method="POST" autocomplete="off">
        <img id="cancel-button" width="20" height="20" src="{% static 'timewebapp/images/x.webp' %}" alt="cancel" draggable="false" tabindex="0">
        <div id="new-title">{{submit}}</div>
        <input id="field-group-picker-checkbox" type="checkbox" hidden>
        <label id="field-group-picker" for="field-group-picker-checkbox">
          <span class="field-group-picker-label" id="standard-field-group-label">Standard</span>
          <span class="field-group-picker-label" id="advanced-field-group-label">Advanced</span>
          <div id="field-group-picker-styling">
            <div id="first-tab-line" class="selected-form-tab-styling-line"></div>
            <div id="selected-form-tab-styling"></div>
            <div id="second-tab-line" class="selected-form-tab-styling-line"></div>
          </div>
        </label>
        <div id="fields-wrapper">
          {% csrf_token %}
          {% for field in form.visible_fields %}

            {% if field.name == "name" %}
              <div class="field-group" id="first-field-group">
                <div class="instant-margin-transition">
            {% elif field.name == "unit" %}
                </div>
              </div>
              <div class="field-group" id="second-field-group">
                <div class="instant-margin-transition">
            {% endif %}

            <div class="field-wrapper {% if field.name in ADD_CHECKBOX_WIDGET_FIELDS %} has-widget {% endif %}" id="id-{{ field.name }}-field-wrapper">
              {% if field.name == "break_days" %}
                <label id="break-days-label-title">Work Days</label>
                {% include 'timewebapp/widgets/work_days.html' %}
              {% else %}
                {{ field.label_tag }}
                {% if field.name == "x" %}
                  <div id="due-date-empty">
                    <span class="due-date-empty-icon-slash x-first-slash"></span>
                    <span class="due-date-empty-icon-slash x-second-slash"></span>
                  </div>
                  {{ field }}
                  <div id="due-date-text-measurer"></div>
                {% else %}
                  {{ field }}
                {% endif %}
              {% endif %}
              {% if field.name in ADD_CHECKBOX_WIDGET_FIELDS %}
                {% if field.name == "x" %}
                  <label class="field-widget" for="{{ form.soft.id_for_label }}">
                    Soft
                    <input type="checkbox" class="field-widget-checkbox" id="{{ form.soft.auto_id }}"
                      name="{{ form.soft.name }}" {% if form.soft.value %}checked="checked"{% endif %}>
                  </label>
                {% else %}
                  <input type="checkbox" class="field-widget-checkbox" id="{{ field.name }}-widget-checkbox" tabindex="-1"
                        name="{{ field.name }}-widget-checkbox" {% if form|get_widget_field_status:field.name %}checked="checked"{% endif %}>
                  <label class="field-widget" for="{{ field.name }}-widget-checkbox"></label>
                {% endif %}
              {% endif %}
              {% for error in field.errors %}
                {% comment %} Only adds form errors to the name field in the example account {% endcomment %}
                {% if user.email != EXAMPLE_ACCOUNT_EMAIL or field.name == "name" %}
                  <div class="assignment-form-error-note" id="error_{{ field.auto_id }}">{{ error|escape }}</div>
                {% endif %}
              {% endfor %}
            </div>
          {% endfor %}
            </div>
          </div>
        </div>
        <button {% if invalid_form_pk %}value="{{ invalid_form_pk }}"{% endif %}type="submit" name="submit-button" id="submit-assignment-button" class="generic-button" title="(Enter)">{{submit}}</button>
      </form>
    </div>
  </div>
  <div id="assignments-container">
    <script nonce="{{request.csp_nonce}}">
      (function() {
        if ($("main").hasClass("finished-header-transition")) return
        // If the animation has not already been run, add the class "animate" to the elements that will be animated
        // The animation will happen instantly, because the transitions are only applied to :not(.animate)
        // Then, when the window loads, remove ".animate". This will cause the actual transition
        // Note: Using keyframes still required this same process
        $("main, header, #assignments-container").addClass("animate");
        sessionStorage.setItem("animation-ran", true);
        $(window).one('load', function() {
          if (isExampleAccount) setTimeout(utils.ui.exampleAccountAlertTutorial, 1000);
          $("main, header, #assignments-container").removeClass("animate");
          // Run when the header animation completely ends since the header animation takes the longest
          $("header").one("transitionend", function() {
            // Position content such that the scrollbar doesn't clip into the header
            $("main").addClass("finished-header-transition");
          });
        });
      })();
    </script>
    <div id="extra-navs-positioner">
      {% comment %} <span> so :last-child is forwards-compatible {% endcomment %}
      <span>
        <div id="assignments-header" {% if settings_model.background_image %}class="grey-highlight"{% endif %}>
          <span id="todo-wrapper">
            <span id="estimated-total-time-label">Todo:</span>
            <span id="estimated-total-time"></span>
            <span id="estimated-completion-time"></span>
            <span id="tomorrow-time"></span>
            <div id="hide-button" class="generic-button">Hide</div>
          </span>
          <span id="current-date-container">
            <span id="current-date"></span>
            <svg id="go-to-next-day" width="21" height="16" preserveAspectRatio="none" viewBox="40 40 176 176">
              <use href="#go_to_next_day-svg"></use>
            </svg>
          </span>
          <div id="sort-assignments-container">
            <label for="{{ settings_form.assignment_sorting.auto_id }}">
              {{ settings_form.assignment_sorting.label }}
            </label>
            {{ settings_form.assignment_sorting }}
          </div>
        </div>
        <div id="autofill-work-done" class="shortcut {% if settings_model.background_image %}grey-highlight{% endif %}">
          <div class="shortcut-line-left"></div>
          <span class="shortcut-text">
            Autofill
            <select class="generic-button" id="autofill-selection">
              <option>No</option>
              <option>All</option>
            </select>
            Work Done
            <div class="generic-button" tabindex="0">Go</div>
          </span>
          <div class="shortcut-line-right"></div>
        </div>
        <div id="delete-starred-assignments" class="shortcut {% if settings_model.background_image %} grey-highlight{% endif %}">
          <div class="shortcut-line-left"></div>
          <span class="shortcut-text">
            Delete all Starred Assignments
            <div class="generic-button" tabindex="0">Go</div>
          </span>
          <div class="shortcut-line-right"></div>
        </div>
        {% for assignment in assignment_models %}
          {% comment %} Grey highlight for the ::after and ::before elements {% endcomment %}
          <div class="assignment-container{% if settings_model.background_image %} grey-highlight{% endif %}"{% if assignment.pk == just_created_assignment_id %} id="animate-in"{% elif assignment.pk == just_updated_assignment_id %} id="animate-color"{% endif %}>
            <div class="assignment{% if assignment.needs_more_info %} needs-more-info{% endif %}{% if assignment.mark_as_done %} mark-as-done{% endif %}" data-assignment-id="{{ assignment.pk }}" tabindex="0">
              {% comment %} priority-color-strip must be a first child of .assignment so it expands its entire height when opened {% endcomment %}
              <div class="priority-color-strip"></div>
              <div class="assignment-header">
                <div class="tags tags-{{ settings_model.horizontal_tag_position|lower }} tags-{{ settings_model.vertical_tag_position|lower }}">
                  <span class="tag-sortable-container" data-assignment-id="{{ assignment.pk }}">
                    {% comment %} Remove whitespace to remove inline-black gap (minify-html does not fix this) {% endcomment %}
                    {% for tag in assignment.tags %}<div class="tag-wrapper">
                        <div class="tag-name">{{ tag }}</div>
                        <div class="tag-delete" data-tag-deletion-name="{{ tag }}" data-assignment-id="{{ assignment.pk }}">
                          <span class="icon-slash x-first-slash"></span>
                          <span class="icon-slash x-second-slash"></span>
                        </div>
                      </div>{% endfor %}</span>
                  <div class="tag-add" data-assignment-id="{{ assignment.pk }}" tabindex="-1">
                    <span class="icon-slash plus-first-slash"></span>
                    <span class="icon-slash plus-second-slash"></span>
                    <span class="info-button-text info-bottom tag-add-box">
                      <div class="tag-add-overflow-hidden-container">
                        <input class="tag-add-input" placeholder="New Tag" tabindex="-1">
                        <div class="tag-add-button">
                          <span class="icon-slash plus-first-slash"></span>
                          <span class="icon-slash plus-second-slash"></span>
                        </div>
                      </div>
                    </span>
                    <div class="tag-add-text">Add Tag</div>
                  </div>
                </div>
                <div class="left-side-of-header{% if settings_model.appearance == "fancy dark" %} fancy-coloring{% endif %}">
                  <span class="title">
                    {% if assignment.google_classroom_assignment_link %}
                      {% comment %} Don't make <a> .title so the psuedo elements don't become clickable {% endcomment %}
                      <a class="title-link-anchor" target="_blank" href="{{ assignment.google_classroom_assignment_link }}" title="Assignment Link" tabindex="-1">
                        {{ assignment.name }}
                        <svg class="title-link-icon" width="12" preserveAspectRatio="none" viewBox="0.08 0 383.92 383.51">
                          <use href="#external_link-svg"></use>
                        </svg>
                      </a>
                    {% endif %}
                    <span {% if assignment.google_classroom_assignment_link %} class="hide-on-mobile" {% endif %}>{{ assignment.name }}</span>
                  </span>
                  {% if assignment.description %}
                    <div class="description">{{ assignment.description|linebreaks }}</div>
                  {% endif %}
                </div>
                <svg width="30px" height="20px" class="arrow-container">
                  <polygon points="5,0 5,20 15,10" fill="currentColor">
                    <animate class="rising-arrow-animation" begin="indefinite" fill="freeze" attributeName="points" dur="100ms" to="20,5 0,5 10,15"></animate>
                    <animate class="falling-arrow-animation" begin="indefinite" fill="freeze" attributeName="points" dur="100ms" to="5,0 5,20 15,10"></animate>
                  </polygon>
                </svg>
                <div class="right-side-of-header">
                  <svg class="status-image" preserveAspectRatio="none">
                    <use></use>
                  </svg>
                  <div class="align-to-status-message-container">
                    <span class="status-message"></span>
                  </div>
                  <span class="completion-time"></span>
                </div>
                {% if assignment.google_classroom_assignment_link %}
                  <a target="_blank" href="{{ assignment.google_classroom_assignment_link }}" title="Assignment Link" class="assignment-header-button hide-on-mobile">
                    <svg width="25" preserveAspectRatio="none" viewBox="0.08 0 383.92 383.51">
                      <use href="#external_link-svg"></use>
                    </svg>
                  </a>
                {% endif %}
                <div class="assignment-header-button" title="Finish Assignment for Today" data-assignment-id="{{ assignment.pk }}" tabindex="0">
                  <svg class="tick-button" width="25" preserveAspectRatio="none">
                    <use href="#tick-svg"></use>
                  </svg>
                </div>
                <div class="assignment-header-button" title="Edit Assignment" data-assignment-id="{{ assignment.pk }}" tabindex="0">
                  <svg viewBox="3.00 3.00 18.00 18.00" class="update-button" width="22" height="22" preserveAspectRatio="none">
                    <use href="#edit-svg"></use>
                  </svg>
                </div>
                <div class="assignment-header-button" title="Delete Assignment" data-assignment-id="{{ assignment.pk }}" tabindex="0">
                  <svg viewBox="0.21 -1277.63 1039.42 1279.13" class="delete-button" height="25" preserveAspectRatio="none">
                    <use href="#delete-svg"></use>
                  </svg>
                </div>
              </div>
              <div class="assignment-footer">
                <div class="graph-container">
                  <div class="hover-point-label initial-position"></div>
                  <canvas class="fixed-graph"></canvas>
                  <canvas class="graph">Your browser does not support the canvas tag.</canvas>
                </div>
                <div class="graph-footer">
                  <button class="delete-work-input-button">Delete Work Input</button>
                  <input class="work-input-textbox" placeholder="Enter Units Done"/>
                  <button class="submit-work-button">Submit Work Input</button>
                  <br>
                  <button class="skew-ratio-button" data-label="Set Curvature" data-active-label="Hover the graph, click again to cancel">Set Curvature</button>
                  <button class="hide-assignment-button" data-hide-label="Hide Assignment" data-show-label="Show Assignment"></button>
                  <button class="fixed-mode-button" data-fixed-mode-label="Fixed Mode" data-dynamic-mode-label="Dynamic Mode"></button>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </span>
      <div id="extra-navs">
        {% comment %} extra-navs already has a filter style {% endcomment %}
        <span {% if settings_model.background_image %}class="grey-highlight"{% endif %}>
          <a href="{{ changelog }}">Changelog</a>
          &#8226;
          <a href="{{ contact_form }}">Contact</a>
          &#8226;
          <a href="{{ blog }}" id="nav-blog">Blog</a>
          &#8226;
          <span id="nav-credits" tabindex="0">Credits</span>
          &#8226;
          <a href="{{ policies }}">Policies</a>
        </span>
      </div>
    </div>
  </div>
  <template id="delete-gc-assignments-from-class-template">
    <div class="delete-gc-assignments-from-class shortcut {% if settings_model.background_image %}grey-highlight{% endif %}">
      <div class="shortcut-line-left"></div>
      <span class="shortcut-text">
        Delete all Assignments from this Class
        <div class="generic-button" tabindex="0">Go</div>
      </span>
      <div class="shortcut-line-right"></div>
    </div>
  </template>
  <template id="tag-add-selection-item-template">
    <div class="tag-add-selection-item" tabindex="0">
      <table>
        <tr>
          <td>
            <input class="tag-add-checkbox" type="checkbox" tabindex="-1">
          </td>
          <td>
            <span class="tag-add-selection-item-name"></span>
          </td>
        </tr>
      </table>
    </div>
  </template>
  <template id="tag-template">
    <div class="tag-wrapper">
      <div class="tag-name"></div>
      <div class="tag-delete" data-tag-deletion-name="{{ tag }}" data-assignment-id="{{ assignment.pk }}">
        <span class="icon-slash x-first-slash"></span>
        <span class="icon-slash x-second-slash"></span>
      </div>
    </div>
  </template>
  <template id="tutorial-click-assignment-to-open-template">
    <span id="tutorial-click-assignment-to-open"{% if settings_model.background_image %} class="grey-highlight"{% endif %}>
      Click your assignment to open it
      <br>
    </span>
  </template>
  <svg width="0" height="0">
    <defs>
      {% include "go_to_next_day.svg" %}
      {% include "question_mark.svg" %}
      {% include "delete.svg" %}
      {% include "edit.svg" %}
      {% include "completely_finished.svg" %}
      {% include "finished.svg" %}
      {% include "question_mark.svg" %}
      {% include "slashed_tick.svg" %}
      {% include "tick.svg" %}
      {% include "external_link.svg" %}
      {% include "unfinished.svg" %}
    </defs>
  </svg>
{% endblock %}