{% extends "common/app_base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="https://unpkg.com/daterangepicker@3.1.0/daterangepicker.css" crossorigin="anonymous"/>
  <link rel="stylesheet" href="{% static 'timewebapp/css/app.css' %}">
  <link rel="stylesheet" href="{% static 'timewebapp/css/form.css' %}">
  {% if user.settingsmodel.appearance == "automatic" %}
    <link rel="stylesheet" href="{% static 'timewebapp/css/dark.css' %}" media="(prefers-color-scheme: dark)">
  {% elif user.settingsmodel.appearance == "dark" or user.settingsmodel.appearance == "lesser dark" %}
    <link rel="stylesheet" href="{% static 'timewebapp/css/dark.css' %}">
  {% endif %}
{% endblock %}

{% block js %}
  {{ assignment_models_as_json|json_script:"assignment-models" }}
  {{ settings_model_as_json|json_script:"settings-model" }}
  {{ latest_changelog|json_script:"latest-changelog" }}
  <script src="https://unpkg.com/moment-mini@2.24.0/moment.min.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/daterangepicker@3.1.0/daterangepicker.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/pluralize@8.0.0/pluralize.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/jquery.easing@1.4.1/jquery.easing.min.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/sortablejs@1.14.0/Sortable.min.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/jquery-sortablejs@1.0.1/jquery-sortable.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/ml-matrix@6.10.2/matrix.umd.js" crossorigin="anonymous"></script>
  {% if DEBUG %}
    <script src="{% static 'timewebapp/js/utils.js' %}"></script>
    <script src="{% static 'timewebapp/js/priority.js' %}"></script>
    <script src="{% static 'timewebapp/js/graph.js' %}"></script>
    <script src="{% static 'timewebapp/js/parabola.js' %}"></script>
    <script src="{% static 'timewebapp/js/crud.js' %}"></script>
  {% else %}
    <script src="{% static 'timewebapp/js/bundle.js' %}"></script>
  {% endif %}
{% endblock %}

{% block extra_header_elements %}
  {% if not VIEWING_DELETED_ASSIGNMENTS %}
    <div id="image-new-container" tabindex="0">
      <img width="42" height="42" src="{% static 'timewebapp/images/plus.webp' %}" alt draggable="false"/>
      <span id="new-assignment-text">New Assignment</span>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  {% if user.settingsmodel.background_image %}
    <img alt id="background-image" src="{{ user.settingsmodel.background_image.url }}" width="{{ user.settingsmodel.background_image.width }}" height="{{ user.settingsmodel.background_image.height }}" draggable="false">
  {% endif %}
  <div id="tutorial-overlay"></div>
  <div id="overlay" class="hide-form">
    <div id="form-wrapper">
      <form autocomplete="off">
        <img id="cancel-button" width="20" height="20" src="{% static 'timewebapp/images/x.webp' %}" alt="Cancel" draggable="false" tabindex="0">
        <div id="new-title"></div>
        <input id="field-group-picker-checkbox" type="checkbox" hidden>
        <label id="field-group-picker" for="field-group-picker-checkbox">
          <span class="field-group-picker-label" id="standard-field-group-label">Standard</span>
          <span class="field-group-picker-label" id="advanced-field-group-label">Advanced</span>
          <div id="field-group-picker-styling">
            <div id="first-tab-line" class="selected-form-tab-styling-line"></div>
            <div id="selected-form-tab-styling"></div>
            <div id="second-tab-line" class="selected-form-tab-styling-line"></div>
          </div>
        </label>
        <div id="fields-wrapper">
          {% for field in form.visible_fields %}

            {% if field.name == "name" %}
              <div class="field-group" id="first-field-group">
                <div class="instant-margin-transition">
            {% elif field.name == "unit" %}
                </div>
              </div>
              <div class="field-group" id="second-field-group">
                <div class="instant-margin-transition">
            {% endif %}

            <div class="field-wrapper
              {% if field.name in ADD_CHECKBOX_WIDGET_FIELDS %} has-widget {% endif %}
              {% if field.name == 'y' %} disable-widget-along-with-field {% endif %}
              {% if field.name == "x" or field.name == "y" %} has-magic-wand-icon {% endif %}" 
              id="id-{{ field.name }}-field-wrapper"
            >
              {% if field.name == "break_days" %}
                <label id="break-days-label-title">Work Days</label>
                {% include 'timewebapp/widgets/work_days.html' %}
              {% else %}
                {{ field.label_tag }}
                {% if field.name == "x" or field.name == "y" %}
                  <svg class="magic-wand-icon" viewBox="2.19 10 488.31 488.28">
                    <use href="#magic_wand-svg"></use>
                  </svg>
                {% endif %}
                {{ field }}
              {% endif %}
              {% if field.name in ADD_CHECKBOX_WIDGET_FIELDS %}
                {% if field.name == "x" %}
                  <label class="field-widget" for="{{ form.soft.id_for_label }}">
                    Soft
                    <input type="checkbox" class="field-widget-checkbox" id="{{ form.soft.auto_id }}"
                      name="{{ form.soft.name }}" {% if form.soft.value %}checked="checked"{% endif %}>
                  </label>
                {% else %}
                  <input type="checkbox" class="field-widget-checkbox" id="{{ field.name }}-widget-checkbox" tabindex="-1"
                        name="{{ field.name }}-widget-checkbox" {% if form|get_widget_field_status:field.name %}checked="checked"{% endif %}>
                  <label class="field-widget" for="{{ field.name }}-widget-checkbox"></label>
                {% endif %}
              {% endif %}
            </div>
          {% endfor %}
            </div>
          </div>
        </div>
        <button type="submit" id="submit-assignment-button" class="generic-button"></button>
      </form>
    </div>
  </div>
  {% comment %} add tabindex because some js makes main focusable {% endcomment %}
  <div id="assignments-container" class="{% if VIEWING_DELETED_ASSIGNMENTS %}viewing-deleted-assignments{% endif %}
  {% if user.settingsmodel.background_image %}{{ user.settingsmodel.background_image_text_shadow_width }}-text-shadow-width{% endif %}
  {% if user.settingsmodel.priority_color_borders %}priority-color-borders{% endif %}" tabindex="-1">
    <script nonce="{{request.csp_nonce}}">
      // Use an inline script so .animate is added as EARLY as possible, otherwise the unanimated frames can show up
      if (
        // expresion for animation ran
        "animation-ran" in sessionStorage ||
        {% if user.is_authenticated %}
          {% if request.path == home or request.path == example %}
            false
          {% else %}
            true
          {% endif %} 
        {% else %}
          true
        {% endif %}
      ) {
        $(() => $("#extra-navs-positioner").css("transition", "none"));
      } else {
        // If the animation has not already been run, add the class "animate" to the elements that will be animated
        // The animation will happen instantly, because the transitions are only applied to :not(.animate)
        // Then, when the window loads, remove ".animate". This will cause the actual transition
        // Note: Using keyframes still required this same process
        $("#site").addClass("animate");
        sessionStorage.setItem("animation-ran", true);
        $(window).one('load', function() {
          if (isExampleAccount) setTimeout(utils.ui.exampleAccountAlertTutorial, 1000);
          $("#site").removeClass("animate");
          // Run when the header animation completely ends since the header animation takes the longest
          $("#extra-navs-positioner").on("transitionend", function(e) {
            if (e.target !== this) return;
            // Position content such that the scrollbar doesn't clip into the header
            $(this).css("transition", "none").off("transitionend");
          });
        });
      }
    </script>
    <div id="extra-navs-positioner">
      {% comment %} <span> so :last-child is forwards-compatible {% endcomment %}
      <span id="extra-navs-assignment-positioner">
        {% if not VIEWING_DELETED_ASSIGNMENTS %}
          <div id="assignments-header" {% if user.settingsmodel.background_image %}class="grey-highlight"{% endif %}>
            <span id="todo-wrapper">
              <span id="estimated-total-time-label">Todo:</span>
              <span id="estimated-total-time"></span>
              <span id="estimated-completion-time" class="hide-on-mobile"></span>
              <span id="important-total-time"></span>
              <div id="hide-button" class="generic-button" tabindex="0">Hide</div>
            </span>
            <span id="current-date-container">
              <span id="current-date"></span>
              <svg id="go-to-next-day" class="block-selection" tabindex="0" width="21" height="16" preserveAspectRatio="none" viewBox="40 40 176 176">
                <path fill="currentColor" transform="rotate(-90)" transform-origin="128 128" d="M208,120H147.31348l66.34326-66.34326A7.99981,7.99981,0,0,0,208,40H48a7.99981,7.99981,0,0,0-5.65674,13.65674L108.68652,120H48a7.99981,7.99981,0,0,0-5.65674,13.65674l80,80.00049a8.00063,8.00063,0,0,0,11.31348,0l80-80.00049A7.99981,7.99981,0,0,0,208,120Z"/>
              </svg>
            </span>
            <div id="sort-assignments-container">
              {% comment %} <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"  width="24" height="21" viewBox="117.0915756225586 103.23700714111328 465.9071350097656 350.35784912109375">
                <g fill="currentColor">
                 <path d="m579.55 166.46-57.871-59.434c-0.027344-0.015625-0.050782-0.023438-0.078125-0.050781-1.0977-1.1211-2.418-2.0117-3.8789-2.6562-0.19531-0.09375-0.40234-0.125-0.60937-0.20312-0.21875-0.085938-0.46484-0.066406-0.69531-0.14453-1.1875-0.36328-2.3867-0.71094-3.6289-0.71875-0.023438 0-0.050781-0.015624-0.074219-0.015624-0.0625 0-0.11328 0.035156-0.16797 0.035156-1.2773-0.003906-2.5195 0.32031-3.7422 0.69922-0.23438 0.074219-0.46484 0.054688-0.68359 0.14063-1.6641 0.62891-3.2539 1.5391-4.5703 2.9062l-57.875 59.441c-4.8086 4.957-4.7148 12.875 0.24609 17.691 2.418 2.3672 5.5703 3.5508 8.7266 3.5508 3.2461 0 7.0117-1.2656 9.4648-3.7812l37.082-37.582v219.66c0 6.9141 4.2852 12.512 11.199 12.512 6.9102 0 11.199-5.5938 11.199-12.512v-219.46l37.207 37.379c2.4531 2.5156 6.1328 3.7812 9.3789 3.7812 3.1484 0 6.5078-1.1797 8.9258-3.5508 4.9609-4.8125 5.2617-12.73 0.44531-17.688z"/>
                 <path d="m235.74 372.93-36.941 37.363v-219.46c0-6.9102-4.2891-12.512-11.199-12.512-6.9102 0-11.199 5.6016-11.199 12.512v219.66l-37.352-37.57c-4.8164-4.9688-13.125-5.0586-18.078-0.24609-4.9492 4.8203-5.2422 12.738-0.42188 17.691l57.773 59.434c2.4531 2.5195 5.6562 3.793 8.9141 3.793 0.027344 0 0.042969-0.023437 0.074219-0.023437 0.035156 0 0.054688 0.023437 0.085938 0.023437 1.6406 0 3.2812-0.33203 4.8203-0.98047 1.5391-0.63281 2.9102-1.5859 4.0664-2.7617 0.015625-0.023437 0.050782-0.023437 0.066406-0.050781l57.879-59.434c4.8164-4.9492 4.4414-12.867-0.51953-17.691-4.9375-4.8125-13.145-4.7188-17.969 0.25z"/>
                 <path d="m450.16 263.2h-200.2c-6.9141 0-12.512 7.0859-12.512 14 0 6.9102 5.6016 14 12.512 14h200.2c6.9102 0 12.512-7.0898 12.512-14 0-6.9141-5.6016-14-12.512-14z"/>
                 <path d="m450.16 207.2h-200.2c-6.9141 0-12.512 7.0859-12.512 14 0 6.9102 5.6016 14 12.512 14h200.2c6.9102 0 12.512-7.0898 12.512-14 0-6.9141-5.6016-14-12.512-14z"/>
                 <path d="m450.16 319.2h-200.2c-6.9141 0-12.512 7.0859-12.512 14 0 6.9102 5.6016 14 12.512 14h200.2c6.9102 0 12.512-7.0898 12.512-14 0-6.9141-5.6016-14-12.512-14z"/>
                </g>
              </svg> {% endcomment %}
              <label for="{{ settings_form.assignment_sorting.auto_id }}">
                {{ settings_form.assignment_sorting.label }}
              </label>
              {{ settings_form.assignment_sorting }}
            </div>
          </div>
        {% endif %}
        {% comment %} 
        assignments go here
        appropriately change priority.js if dom layout for the span children changes
        (before #no-assignments-message and after #assignments-header)
        {% endcomment %}
        {% if VIEWING_DELETED_ASSIGNMENTS %}
          <div id="no-assignments-message" {% if user.settingsmodel.background_image %}class="grey-highlight"{% endif %}>You don't have any deleted assignments on this page...</div>
        {% endif %}
      </span>
      <div id="extra-navs">
        {% comment %} extra-navs already has a filter style {% endcomment %}
        <span {% if user.settingsmodel.background_image %}class="grey-highlight"{% endif %}>
          {% if VIEWING_DELETED_ASSIGNMENTS %}
            {% if show_previous_page %}
              <span id="previous-page">Previous Page</span>
            {% endif %}
            {% if show_previous_page and show_next_page %}
              &#8226;
            {% endif %}
            {% if show_next_page %}
              <span id="next-page">Next Page</span>
            {% endif %}
          {% else %}
            <a href="{{ changelog }}">Changelog</a>
            &#8226;
            <a href="{{ contact_form }}">Contact</a>
            &#8226;
            {% comment %} <a href="{{ blog }}" id="nav-blog">Blog</a>
            &#8226; {% endcomment %}
            <span id="nav-special-thanks" tabindex="0">Special Thanks</span>
            &#8226;
            <span id="nav-credits" tabindex="0">Credits</span>
            &#8226;
            <a href="{{ policies }}">Policies</a>
          {% endif %}
        </span>
      </div>
    </div>
  </div>
  <template id="assignment-template">
    {% comment %} Grey highlight for the ::after and ::before elements {% endcomment %}
    <div class="assignment-container {% if user.settingsmodel.background_image %}grey-highlight{% endif %}">
      <div class="assignment" tabindex="0">
        {% comment %} priority-color-strip must be a first child of .assignment so it expands its entire height when opened {% endcomment %}
        <div class="priority-color-strip"></div>
        <div class="assignment-header">
          <div class="tags tags-{{ user.settingsmodel.horizontal_tag_position|lower }} tags-{{ user.settingsmodel.vertical_tag_position|lower }}">
            <span class="tag-sortable-container"></span>
            <div class="tag-add" tabindex="-1">
              <span class="icon-slash plus-first-slash"></span>
              <span class="icon-slash plus-second-slash"></span>
              <span class="info-button-text info-bottom tag-add-box">
                <div class="tag-add-overflow-hidden-container">
                  <input class="tag-add-input" placeholder="New Tag" tabindex="-1">
                  <div class="tag-add-button">
                    <span class="icon-slash plus-first-slash"></span>
                    <span class="icon-slash plus-second-slash"></span>
                  </div>
                </div>
              </span>
              <div class="tag-add-text">Add Tag</div>
            </div>
          </div>
          {% comment %}
          note: confirm with the .assignment-header > :nth-last-child(2) selector before changing
          any .assignment-header first child element tags
          {% endcomment %}
          <div class="left-side-of-header {% if user.settingsmodel.appearance == "dark" or user.settingsmodel.appearance == "automatic" %}fancy-coloring{% endif %}">
            <span class="title">
              {% comment %} Don't make <a> .title so the psuedo elements don't become clickable {% endcomment %}
              <span class="title-text"></span
              {% comment %} Remove whitespace to remove inline-black gap (minify-html does not fix this) {% endcomment %}
              ><a class="title-link-anchor" target="_blank" rel="noopener" title="Assignment Link" tabindex="-1">
                <svg class="title-link-icon" width="12" preserveAspectRatio="none" viewBox="0.08 0 383.92 383.51">
                  <use href="#external_link-svg"></use>
                </svg>
              </a>
            </span>
            <div class="description"></div>
          </div>
          {% if not VIEWING_DELETED_ASSIGNMENTS %}
            <div class="middle-of-header">
              <svg width="20px" height="20px" class="arrow-container">
                <polygon points="5,0 5,20 15,10" fill="currentColor">
                  <animate class="rising-arrow-animation" begin="indefinite" fill="freeze" attributeName="points" dur="100ms" to="20,5 0,5 10,15"></animate>
                  <animate class="falling-arrow-animation" begin="indefinite" fill="freeze" attributeName="points" dur="100ms" to="5,0 5,20 15,10"></animate>
                  <animate class="falling-arrow-animation-instant" from="20,5 0,5 10,15" begin="indefinite" fill="freeze" attributeName="points" dur="100ms" to="5,0 5,20 15,10"></animate>
                </polygon>
              </svg>
              <svg class="status-image" preserveAspectRatio="none">
                <use></use>
              </svg>
              <div class="align-to-status-message-container">
                <span class="status-message"></span>
              </div>
            </div>
          {% endif %}
          <div class="right-side-of-header">
            <span class="completion-time"></span>
            {% if VIEWING_DELETED_ASSIGNMENTS %}
              <div class="assignment-header-button" title="Restore Assignment" tabindex="0">
                <svg viewBox="252 252.18 247.73 247.64" class="restore-button" width="24" height="24" preserveAspectRatio="none">
                  <use href="#restore-svg"></use>
                </svg>
              </div>
            {% else %}
              <div class="assignment-header-button" title="Finish Assignment for Today" tabindex="0">
                <svg class="tick-button" width="25" preserveAspectRatio="none">
                  <use href="#tick-svg"></use>
                </svg>
              </div>
            {% endif %}
            <div class="assignment-header-button" title="Edit Assignment" tabindex="0">
              <svg viewBox="3.00 3.00 18.00 18.00" class="update-button" width="22" height="22" preserveAspectRatio="none">
                <use href="#edit-svg"></use>
              </svg>
            </div>
            <div class="assignment-header-button block-selection" title="Delete Assignment" tabindex="0">
              <svg viewBox="0.21 -1277.63 1039.42 1279.13" class="delete-button" height="25" preserveAspectRatio="none">
                <use href="#delete-svg"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="assignment-footer">
          <div class="graph-container">
            <div class="hover-point-label hide-label"></div>
            <canvas class="fixed-graph"></canvas>
            <canvas class="graph">Your browser does not support the canvas tag.</canvas>
            <table>
              <tbody class="text-display-container">
                <tr>
                  <th></th>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="graph-footer">
            {% if not VIEWING_DELETED_ASSIGNMENTS %}
              <button class="delete-work-input-button">Delete <span class="hide-on-small-mobile">Work </span>Input</button>
              <div class="work-input-textbox-wrapper">
                <input type="checkbox" class="work-input-unit-of-time-checkbox">
                <input class="work-input-textbox" placeholder="Enter Units Done" type="number" step="0.01"/>
                <label class="work-input-unit-of-time-widget" tabindex="-1"></label>
              </div>
              <button class="submit-work-button">Submit <span class="hide-on-small-mobile">Work </span>Input</button>
              <br>
              <button class="fixed-mode-button" data-fixed-mode-label="Fixed Mode" data-dynamic-mode-label="Dynamic Mode"></button>
              <button class="skew-ratio-button" data-label="Set Curvature" data-active-label="Hover the graph" data-active-label-touch="Drag the graph">Set Curvature</button>
              <button class="display-in-text-button" data-in-text-label="Text Display" data-in-graph-label="Graph Display"></button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </template>
  <template id="delete-gc-assignments-from-class-template">
    <div class="delete-gc-assignments-from-class shortcut {% if user.settingsmodel.background_image %}grey-highlight{% endif %}">
      <div class="shortcut-line-left"></div>
      <span class="shortcut-text">
        Delete Assignments from this Class
        <div class="generic-button block-selection" tabindex="0">Go</div>
      </span>
      <div class="shortcut-line-right"></div>
    </div>
  </template>
  <template id="autofill-work-done-template">
    <div class="autofill-work-done allow-singular-wrapper shortcut {% if user.settingsmodel.background_image %}grey-highlight{% endif %}">
      <div class="shortcut-line-left"></div>
      <span class="shortcut-text">
        Autoinput
        <select class="generic-button" id="autofill-selection">
          <option>No</option>
          <option>All</option>
        </select>
        Work Done
        <div class="generic-button block-selection" tabindex="0">Go</div>
      </span>
      <div class="shortcut-line-right"></div>
    </div>
  </template>
  <template id="delete-starred-assignments-template">
    <div class="delete-starred-assignments shortcut {% if user.settingsmodel.background_image %}grey-highlight{% endif %}">
      <div class="shortcut-line-left"></div>
      <span class="shortcut-text">
        Delete Completely Finished Assignments
        <div class="generic-button block-selection" tabindex="0">Go</div>
      </span>
      <div class="shortcut-line-right"></div>
    </div>
  </template>
  <template id="delete-due-date-passed-assignments-template">
    <div class="delete-due-date-passed-assignments allow-singular-wrapper shortcut {% if user.settingsmodel.background_image %}grey-highlight{% endif %}">
      <div class="shortcut-line-left"></div>
      <span class="shortcut-text">
        Delete Past Due Assignments
        <div class="generic-button block-selection" tabindex="0">Go</div>
      </span>
      <div class="shortcut-line-right"></div>
    </div>
  </template>
  <template id="tag-add-selection-item-template">
    <div class="tag-add-selection-item" tabindex="0">
      <table>
        <tr>
          <td>
            <input class="tag-add-checkbox" type="checkbox" tabindex="-1">
          </td>
          <td>
            <span class="tag-add-selection-item-name"></span>
          </td>
        </tr>
      </table>
    </div>
  </template>
  <template id="tag-template">
    <div class="tag-wrapper">
      <div class="tag-name"></div>
      <div class="tag-delete">
        <span class="icon-slash x-first-slash"></span>
        <span class="icon-slash x-second-slash"></span>
      </div>
    </div>
  </template>
  <svg width="0" height="0">
    <defs>
      {% include "question_mark.svg" %}
      {% include "delete.svg" %}
      {% include "edit.svg" %}
      {% include "completely_finished.svg" %}
      {% include "finished.svg" %}
      {% include "not_yet_assigned.svg" %}
      {% include "question_mark.svg" %}
      {% include "tick.svg" %}
      {% include "external_link.svg" %}
      {% include "unfinished.svg" %}
      {% include "magic_wand.svg" %}
      {% include "restore.svg" %}
    </defs>
  </svg>
  {% if user.settingsmodel.enable_tutorial %}
    <template id="tutorial-intro-template">
      <span class="tutorial-title">
        <svg viewBox="0 0 512 512" id="favicon-animated">
          {% include "favicon_animated.svg" %}
        </svg>
        <div id="tutorial-welcome">Welcome to TimeWeb!</div>
      </span>
      <span class="tutorial-content">
        TimeWeb is a time management application that visualizes, quantifies, and prioritizes your daily school or work assignments. Here's a demonstration of how it works.
      </span>
    </template>
    <template id="tutorial-header-template">
      <span class="tutorial-title">
        The assignment header summarizes the status of the assignment for today. So, you know exactly what to complete for today to be on track to complete both your short and long term assignments.
      </span>
    </template>
    <template id="tutorial-graph-intro-template">
      <span class="tutorial-title">
        Click a complete assignment to open the assignment graph, a visualization of its entire work schedule.
      </span>
    </template>
    <template id="tutorial-x-axis-template">
      <span class="tutorial-title">
        The x-axis of the assignment graph represents days. The starting point at day zero corresponds to the assignment's assignment date, and the ending point corresponds to the assignment's due date.
      </span>
    </template>
    <template id="tutorial-y-axis-template">
      <span class="tutorial-title">
        The y-axis of the assignment graph represents units of work, or how the assignment's work is split and divided up. As you progress through the assignment, you will gradually complete more and more units of work until the entire assignment is completely finished.
      </span>
    </template>
    <template id="tutorial-work-schedule-template">
      <span class="tutorial-title">
        The assignment's work schedule is formed by connecting the red points on the assignment graph, each of which corresponds to an increasing cumulative amount of work to complete every day until the assignment is due.
      </span>
    </template>
    <template id="tutorial-work-inputs-template">
      <span class="tutorial-title">
        Every day, you must input how much work you actually complete so the assignment can be prioritized accordingly. These will be plotted and connected in blue to form your assignment's work inputs.
      </span>
    </template>
    <template id="tutorial-tick-button-template">
      <span class="tutorial-title">
        {% comment %} Why are assignments marked as finished for today after inputting no work done?
        faq {% endcomment %}
        If you're finished with the assignment's work for today, click the tick button on the assignment header to input all work done for today.
      </span>
    </template>
    <template id="tutorial-wrap-up-template">
      <span class="tutorial-title">
        It is highly recommended to read the graph's section on TimeWeb's <a href="/user-guide#what-is-the-assignment-graph" target="_blank">user guide</a> to understand how to use it. Check out your example assignment or the <a href=\"/example\">example account</a> to see how TimeWeb handles longer and more complicated assignments.
      </span>
    </template>
  {% endif %}
{% endblock %}