{% extends "socialaccount/base.html" %}
{% load socialaccount %}

{% block head_title %}Google Login Failure{% endblock %}

{% block content %}
    <h1>Google Login Failure</h1>
    {% include "account/accounts_messages.html" %}
    
    {% get_providers as socialaccount_providers %}
    {% with socialaccount_providers|first as provider %}
        <p>An error occurred while attempting to login with Google.</p>
        <a class="submit-button" draggable="false" href="{% provider_login_url provider.id process="login" scope=scope auth_params=auth_params %}">Try again</a>
    {% endwith %}
{% endblock %}