{% extends "socialaccount/base.html" %}
{% load socialaccount %}

{% block head_title %}Google Account Connections{% endblock %}

{% block accounts_content %}
    <h1>Google Account Connections</h1>
    {% include "account/accounts_messages.html" %}

    {% if form.accounts %}
        <p>You can log in to your TimeWeb account using any of the following Google accounts:</p>
        <form method="post" action="{% url 'socialaccount_connections' %}">
            {% csrf_token %}
            {% for base_account in form.accounts %}
                {% with base_account.get_provider_account as account %}
                    <div>
                        <label for="id_account_{{ base_account.id }}">
                            <input id="id_account_{{ base_account.id }}" type="radio" name="account" value="{{ base_account.id }}"/>
                            <span class="socialaccount_provider {{ base_account.provider }} {{ account.get_brand.id }}">{{ base_account.extra_data.email }}</span>
                        </label>
                    </div>
                {% endwith %}
            {% endfor %}
            <button type="submit" class="submit-button">Remove Google account</button>
        </form>
    {% else %}
        <p>You currently have no Google accounts connected to your TimeWeb account.</p>
    {% endif %}
    
    {% get_providers as socialaccount_providers %}
    {% with socialaccount_providers|first as provider %}
        <form method="POST" action="{% provider_login_url provider.id process="connect" scope=scope auth_params=auth_params %}">
            {% csrf_token %}
            <button class="submit-button" type="submit">
                <span title="{{provider.name}}" class="socialaccount_provider"{% comment %} {{provider.id}}"  {% endcomment %}
                    href="">Connect a new {{provider.name}} account</span>
            </button>
        </form>
    {% endwith %}
{% endblock %}