{% extends "socialaccount/base.html" %}
{% load socialaccount %}

{% block head_title %}Google Login Failure{% endblock %}

{% block accounts_content %}
    <h1>Google Login Failure</h1>

    {% get_providers as socialaccount_providers %}
    {% with socialaccount_providers|first as provider %}
        <p>An error occurred while attempting to login via Google. Please <a href="{% provider_login_url provider.id process="login" scope=scope auth_params=auth_params %}">try again</a></p>
    {% endwith %}
{% endblock %}