{% extends "template-head.html" %}
{% load static %}

{% block template_head_js %}
  <script src="https://unpkg.com/jquery@3.6.0/dist/jquery.min.js" crossorigin="anonymous"></script>
  <script src="{% static 'js/jquery-extensions.js' %}"></script>
  <script src="{% static 'js/accounts-template.js' %}">
  </script>
  {% block accounts_js %}{% endblock %}
{% endblock %}

{% block template_head_css %}
  <link rel="stylesheet" href="{% static 'css/accounts-template.css' %}">
  {% block accounts_css %}{% endblock %}
{% endblock %}

{% block template_head_body %}
  <main>
    <div id="circles-background">
      {% for i in "x"|rjust:"100" %}
        <div class="circle"></div>
      {% endfor %}
    </div>
    <div id="accounts-container">
      <div id="logo-container">
        <a id="accounts-arrow-anchor" href="{% block back_arrow_url %}{% url 'home' %}{% endblock %}">
          <div id="accounts-arrow-container">
            <div id="accounts-arrow-horizontal"></div>
          </div>
        </a>
        <a href="{% url 'home' %}">
          <img height="80" src="{% static 'images/timeweb.png' %}" border="0" draggable="false"/>
        </a>
      </div>
      {% block accounts_content %}{% endblock %}
    </div>
    <div id="loading-container">
      <div class="loading-circle"></div>
      <div class="loading-circle"></div>
      <div class="loading-circle"></div>
      <div class="loading-circle"></div>
      <div class="loading-circle"></div>
      <div class="loading-circle"></div>
      <div class="loading-circle"></div>
      <div class="loading-circle"></div>
    </div>
  </main>
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="goo-svg">
    <defs>
      <filter id="goo">
        <feGaussianBlur in="SourceGraphic" stdDeviation="14" result="blur"/>
        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 34 -13" result="goo"/>
        <feBlend in="SourceGraphic" in2="goo"/>
        {% comment %} 
        to mask the filter over the SourceGraphic:
        <feComposite in="SourceGraphic" in2="goo" operator="atop"/> 
        {% endcomment %}
      </filter>
    </defs>
  </svg>
{% endblock %}