{% extends "account/accounts-template.html" %}

{% load account %}

{% block head_title %}Confirm E-mail Address{% endblock %}


{% block accounts_content %}
<h1>Confirm E-mail Address</h1>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p>Please confirm that <a href="mailto:{{ confirmation.email_address.email }}">{{ confirmation.email_address.email }}</a> is an e-mail address for user {{ user_display }}.</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button type="submit" id="submit-button">Confirm</button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p>This e-mail confirmation link is expired or invalid. Please <a href="">log in</a> to request a new e-mail confirmation link.</p>

{% endif %}

{% endblock %}
