{% extends "account/accounts-template.html" %}
{% load static %}
{% load account socialaccount %}

{% block head_title %}Log In{% endblock %}

{% block accounts_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock accounts_css %}

{% block accounts_content %}
{% get_providers as socialaccount_providers %}

{% comment %} <a href="{{ signup_url }}">sign up</a> {% endcomment %}

{% include "socialaccount/snippets/provider_list.html" with process="login" %}
{% include "socialaccount/snippets/login_extra.html" %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a href="{% url 'account_reset_password' %}" id="forgor-password">Forgot Password?</a>
  <button id="submit-button" type="submit">Log In</button>
</form>

{% endblock %}
