{% extends "account/accounts-template.html" %}
{% load static %}
{% load account socialaccount %}

{% block head_title %}Log In{% endblock %}

{% block accounts_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock accounts_css %}

{% block accounts_js %}
<script src="{% static 'js/login.js' %}"></script>
{% endblock accounts_js %}

{% block accounts_content %}
{% get_providers as socialaccount_providers %}

{% include "socialaccount/snippets/provider_list.html" with process="login" %}
<hr>
<span class="hr-interrupt">or</span>
<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  
  {% include "account/accounts_messages.html" %}
  {% for field in form %}
    <span>
      <label for="{{ field.auto_id }}">{{ field.label }}</label>
      {{ field }}
    </span>
  {% endfor %}

  <img src="{% static 'images/hide.png' %}" class="password-image show-password-image" width="22">
  <img src="{% static 'images/show.png' %}" class="password-image hide-password-image" width="22">
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <span id="under-password">
    <a href="{% url 'account_reset_password' %}" id="forgor-password">Forgot password?</a>
    <span id="example-message">Example Account</span>
  </span>
  <button id="submit-button" type="submit">Log in</button>
</form>
<hr>
Don't have an account? <a href="{{ signup_url }}" id="sign-up">Sign up</a>
{% endblock %}
